{% extends 'dashboard_layout.html.twig' %}
{% block content %}
<link href="{{ asset('theme/css/bootstrap-select.min.css') }}" rel="stylesheet">
<link href="{{ asset('theme/select2/select2.css') }}" rel="stylesheet">
<link href="{{ asset('theme/css/sweetalert2.min.css') }}" rel="stylesheet">
<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>New Invoice</h3>
				 
              </div>
			 <p class="nav navbar-right panel_toolbox">
			   <!--<a href="javascript:void(0)" class="btn btn-info btn-lg"><i class="fa fa-eye" aria-hidden="true"></i>Preview </a>-->
			 </p>
            </div>
            <div class="clearfix"></div>

            <div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h4><i class="fa fa-square-o"></i> BUSINESS ADDRESS AND CONTACT DETAILS, TITLE, SUMMARY, AND LOGO
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                  </ul>
				  </h4>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="logoImg col-sm-6"> <img src="/theme/images/no-logo.png"></div>
				  <div class="orgAddress col-sm-6 text-right"> 
				   <p>{{orgData.firstName}} {{orgData.lastName}}</p>
				   <p>{{orgData.address}}</p>
				   <p>{{orgData.country}}</p>
				  </div>
                  
                </div>
              </div>
            </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    <div class="row">
					<form name="createInvoice" id="createInvoiceForm">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 inovo">
                        <div class="CustomerSection">
						   <div id="customerSelection">
							<select id="chooseCustomer" class="selectpicker  form-control" name="cusmter" title="--Select Customer--" required="">
							{% for key, custData in custsData%}
							  <option value ="{{custData.cust}}" data-tokens="{{custData.firstName}} {{custData.lastName}}">{{custData.firstName}} {{custData.lastName}}</option>
							{% endfor %}
							</select>
							</div>
                        </div>
						<div id="custmerShipAddr" style="display:none">
							</div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					  <div class="row">
                        <div class="InvoiceSection">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						  <label for="poso">P.O./S.O. Number :</label>
						  <input type="text" id="posoNumber" class="form-control" name="posoNumber" required="">
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                          <label for="invoiceDate">Invoice Date :</label>
						  <input type="text" id="invoicedate" class="form-control" name="invoicedate" required="">
                        </div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
						  <label for="payDue">Payment Due :</label>
						  <input type="text" id="paymentDue" class="form-control" name="paymentDue" required="">
						</div>
                      </div>
                      </div>
                    </div>
					<div class="clearfix"></div>
					<hr>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <table id="selectedProducts" class="table table-striped">
                            <thead>
                              <tr>
                                <th>Name</th>
								<th>Image</th>
                                <th>Description</th>                                
                                <th>Quantity</th>
                                <th>Price</th>
								<th>Amount</th>
                              </tr>
                            </thead>
                            <tbody id="prodListing">
                              
                            </tbody>
                          </table>
					  				 
                        <!-- /.col -->
                      </div>
					  <div class="col-sm-4"></div>
					  <div class="col-sm-4">
					  <select id="addProducts" class="selectpicker form-control" title="--Select a Product--" required="required">
						{% for key, productData in productsData%}
						  <option value ="{{productData.id}}" data-tokens="{{productData.productName}}">{{productData.productName}}</option>
						{% endfor %}
						</select>
					 </div>
                     <div class="col-sm-4"></div>	
                    <div class="clearfix"></div>
					<hr>
                      <div class="col-xs-7">
                        
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-5 sub-total1" >
                          <p class="lead">Amount Due</p>
                          <div class="table-responsive">
                            <table class="table">
                              <tbody>
                                <tr>
                                  <th style="width:50%">Subtotal:</th>
                                  <td>$<span id="subTotal">0.00</span><input id="IsubTotal" type="hidden" name="subTotal" value=""></td>
                                </tr>
                                <tr>
                                  <th>Tax</th>
                                  <td>$<span id="taxesVal">0.00</span><input id="ItaxesVal" type="hidden" name="taxesVal" value=""></td>
                                </tr>
                                 <tr>
                                  <th>Grand Total:</th>
                                  <td>$<span id="grandTotal">0.00</span><input id="IgrandTotal" type="hidden" name="grandTotal" value=""></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
						
					  <div class="clearfix"></div>
					  <hr>
					  <div class="col-xs-12 text-right">
						 <button type="submit" class="btn btn-info btn-lg">Save and Continue</button>
						<!--<a href="javascript:void(0)" class="btn btn-info btn-lg"><i class="fa fa-eye" aria-hidden="true"></i>Preview </a>-->
					  </div>
                     </form> 					 
					 </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
		
<!--Modal Tax-->
<div id="add_tax_model" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header create_new_account_heading">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Create a new tax</h4>
                    </div>
      <div class="modal-body add_popup">
                        <div class="add_heading">
                            <p class="popup_p">Enter Below Details.</p>
                            <hr class="body_hr">
                        </div>
                        <form id="add_new_tax_estimation" method="post">
							<input type="hidden" name="productId" value="" id="productRowId">
							<div class="tax_input_fields">
								 
                                <label class="usr" for="usr">Tax Name *</label>
                                <input class="usr1" name="tax_name" type="text">

                            </div>
                            <div class="tax_input_fields">
								<input type="hidden" value="TYqrpdL5CAHglS5ncTQW2Sfp" id="taxaddition_selectedtr">		
                                <label class="usr" for="usr">Tax Description *</label>
                                <input class="usr1" name="tax_description" type="text">

                            </div>
							
                            <div class="tax_input_fields">
                                <label class="usr" for="pwd">Tax rate(%age of Base) *</label>
                                <input class="usr1" name="tax_rate" type="text">

                            </div>
                            <div class="tax_input_fields TaxnumberID">
                                <label class="usr" for="pwd">Tax number / ID</label>
                                <input class="usr1" name="tax_number" type="text">

                            </div>
 
                            
                            <div class="remember">

                                <input id="show_tax_number" type="checkbox">
                                <label for="show_tax_number" class="tax_num">Show tax number on invoices
                                </label>
                            </div>
                        <div class="tax_btns">
                           <input type="submit" value="Save">
                            <button type="button" class="btn btn-default closetax" data-dismiss="modal">Close</button>
                        </div>
						
						</form>
                    </div>
					
      
    </div>

  </div>
</div>	
	<!-- jQuery -->
    <script src="{{ asset('theme/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{{ asset('theme/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/validation/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/validation/additional-methods.min.js') }}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('theme/vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
	<script src="{{ asset('theme/js/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('theme/select2/select2.js') }}"></script>
	<script type="text/javascript" src="{{ asset('theme/js/sweetalert2.all.min.js') }}"></script>
	<script src="{{ asset('theme/js/invoice.js') }}"></script>
	<script>
	    $(function() {
			$('#invoicedate, #paymentDue').daterangepicker({
				singleDatePicker: true
			});
		});
	</script>
{% endblock %}