{% extends 'dashboard_layout.html.twig' %}
{% block content %}
<link href="{{ asset('theme/vendors/fileUploader/jquery.fileuploader.css') }}" rel="stylesheet">
<link href="{{ asset('theme/vendors/fileUploader/jquery.fileuploader-theme-dragdrop.css') }}" rel="stylesheet">
<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Credit Card Info <small>Select a credit card.</small></h3>
              </div>              
            </div>
            <div class="clearfix"></div>
            <div class="row">
						  <div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
							 <div class="x_content">
								<br />
								{% if customerInfo is not empty %}	
                                 <div class="col-md-12 col-sm-12 col-xs-12"><span><strong>Customer Information</strong></span></div>
                                  <div class="clearfix"></div>
								  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control has-feedback-left" id="fname" name="fname" placeholder="{{customerInfo.firstName}}" readonly="readonly">
									<span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
								  </div>

								  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control" id="lname" name="lname" placeholder="{{customerInfo.lastName}}" readonly="readonly">
									<span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
								  </div>
                                 <div class="clearfix"></div>
								  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control has-feedback-left" id="email" name="email" placeholder="{{customerInfo.email}}" readonly="readonly">
									<span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
								  </div>

								  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control" id="phone" name="phone" placeholder="{{customerInfo.phone}}" readonly="readonly">
									<span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
								  </div>   
								  <div class="clearfix"></div>
                               <div class="ln_solid"></div>
								  <div class="clearfix"></div>
						    {% endif %}		  
						    <div id="payInfo">
						    <form id="payprocess" class="form-horizontal form-label-left input_mask" enctype="multipart/form-data">
						    <input type="hidden" name="customer" value="{{customerInfo.id}}">
							<div class="col-md-12 col-sm-12 col-xs-12"><span><strong>Credit Card Information</strong>
                              <img class="img-responsive pull-right" src="{{ asset('theme/images/creditcard.png')}}"></span></div>
                               <div class="clearfix"></div>
                               <div class="col-md-12 col-sm-12 col-xs-12 form-group">
								 	<label class="col-md-2 col-sm-2 col-xs-6">Add New Card </label>
									<div class="col-md-1 col-sm-1 col-xs-6 form-group"><input id="newcard" class="cardType" type="radio" name="cardtype" value="new"></div>
									<label class="col-md-2 col-sm-2 col-xs-6">Stored Cards </label>
									<input class="cardType" type="radio" name="cardtype" value="old">
								 </div>
								 <div class="clearfix"></div>

							      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
							      	<input type="hidden" name="oldcards" value="{{countOldCard}}">
							      	<select class="form-control currencySelect" name="storedCard" id="storedCard" required="required" style="display: none;padding-left: 40px!important;" required="required">
							      		<option value="" data-ccname = "" data-expdate="">Select A Card</option>
                                       {% if storedCards is not empty%}
                                       {% for storedCard in storedCards %}
							      		<option value="{{storedCard.ccid}}" data-ccname = "{{storedCard.ccName}}" data-expdate="{{storedCard.ccExpdate}}">{{storedCard.ccNumber}}</option>
							      		{% endfor%}
							      		{% endif %}
							      	</select>
							      	<input type="hidden" name="ccinfoid" id="ccinfoid" value="">
									<input type="text" class="form-control has-feedback-left" id="ccnumber" name="ccnumber" placeholder="Card Number">
									<span class="fa fa-credit-card form-control-feedback left" aria-hidden="true"></span>
								  </div>

								  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control" id="nameOnCard" name="nameOnCard" placeholder="Name On Card">
									<span class="fa fa-info form-control-feedback right" aria-hidden="true"></span>
								  </div>
								 <div class="clearfix"></div> 								 
								 <div class="col-md-9 col-sm-9 col-xs-12 form-group">
									<label class="col-md-2 col-sm-2 col-xs-12">Expires on </label>
									<div class="col-md-3 col-sm-3 col-xs-12 form-group">
										  <select class="form-control currencySelect" name="expMon" id="expMon" style="padding-left: 40px!important">
											<option value="">Month</option>
											<option selected value='1'>Janaury</option>
											<option value='2'>February</option>
											<option value='3'>March</option>
											<option value='4'>April</option>
											<option value='5'>May</option>
											<option value='6'>June</option>
											<option value='7'>July</option>
											<option value='8'>August</option>
											<option value='9'>September</option>
											<option value='10'>October</option>
											<option value='11'>November</option>
											<option value='12'>December</option>
										  </select>
										  <span class="fa fa-calendar-check-o form-control-feedback left" aria-hidden="true"></span>
								  </div>
								  <div class="col-md-3 col-sm-3 col-xs-12 form-group">
										  <select class="form-control currencySelect" name="expYear" id="expYear" style="padding-left: 40px!important">
											<option value="">Year</option>
											{% for i in 0..10 %}
												<option value='{{ "now"|date("Y") + i }}'>{{ "now"|date("Y") + i }}</option>
											{% endfor %}
										  </select>
										  <span class="fa fa-calendar-check-o form-control-feedback left" aria-hidden="true"></span>
								  </div>
								  </div>
								 </div>
								<div class="clearfix"></div>  
						<div class="clearfix"></div> 
								  <div class="ln_solid"></div>
								  <div class="form-group">
									<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
									  <button type="submit" class="btn btn-success">Pay Now</button>
									</div>
								  </div>

								</form>
						</div>
								 
								 
							  </div>
							</div>
						  </div>
						</div>	
		
<!-- jQuery -->
    <script src="{{ asset('theme/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{{ asset('theme/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/validation/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/validation/additional-methods.min.js') }}"></script>
	<!-- bootstrap-daterangepicker -->
    <script src="{{ asset('theme/vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
	
{% endblock %}