{% extends 'dashboard_layout.html.twig' %}
{% block content %}
<link href="{{ asset('theme/css/bootstrap-select.min.css') }}" rel="stylesheet">
<link href="{{ asset('theme/select2/select2.css') }}" rel="stylesheet">
<!-- page content -->
<div class="right_col" role="main">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>invoice</h3>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Invoice Listing <small></small></h2>
						<p class="nav navbar-right panel_toolbox">
							{% if session.userInfo.is_navigate == 1 and session.userInfo.authorize == 0 %}
							<a href="javascript:void(0)" class="navigatorLogin btn btn-info btn-lg"><i class="fa fa-plus" aria-hidden="true"></i>Create An Invoice </a>
							{% else %}
							<a href="{{path('createinvoice')}}" class="btn btn-info btn-lg"><i class="fa fa-plus" aria-hidden="true"></i>Create An Invoice </a>
							{% endif %}

						</p>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="row">
							<div class="" role="tabpanel" data-example-id="togglable-tabs">
								<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
									<li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">All Invoice</a>
									</li>
									<li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Unpaid Invoice</a>
									</li>
									<li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Paid Invoice</a>
									</li>
								</ul>
								<div id="myTabContent" class="tab-content">
									<div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
										<!-- start user projects -->
										<table class="data-table table table-striped no-margin">
											<thead>
												<tr>
													<th>Status</th>
													<!--<th>Due</th>-->
													<th>Date</th>
													<th>Number</th>
													<th>Customer</th>
													<th>Amount Due</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												{% for key, invoice in invoices%}
												{% if invoice.paidStatus == '1' %}
												{% set Status = 'PaidInvoice' %}
												{% set StatusName = 'Paid' %}
												{% elseif(invoice.invoiceSent == '1') %}
												{% set Status = 'SentInvoice'%}
												{% set StatusName = 'Sent' %}
												{% else %}
												{% set Status = 'UnsentInvoice'%}
												{% set StatusName = 'Unsent' %}
												{% endif %}
												<tr>
													<td><span class="{{Status}}">{{StatusName}}</span></td>
													<!--<td>
														{# endDate and startDate are strings or DateTime objects #}
														{% set difference = date(invoice.paymentDue.date|date("m/d/Y")).diff(date("now")) %}
														{% set leftDays = difference.days %}
														{% if leftDays == 1 %}
														1 day
														{% else %}
														{{ leftDays }} days
														{% endif %}
													</td>-->
													<td>{{invoice.invoiceStart.date|date('Y-m-d')}}</td>
													<td>{{invoice.id}}</td>
													<td>{{invoice.firstName}} {{invoice.lastName}}</td>
													<td>${{invoice.totalAmount + invoice.totalTax}}</td>                                  
													<td>
														<span>
															<a href="{{ path('viewinvoice', {'id': invoice.encInvoice}) }}">View</a>
														</span>
														<div class="dropdown dropdown_invoice"><a href="#"dropdown-toggle" data-toggle="dropdown"class="record"><span class="caret"></span></a>
															<ul class="dropdown-menu invoice_menu">
																<li><a href="{{ path('viewinvoice', {'id': invoice.encInvoice}) }}">View</a></li>			
																<li><a href="{{ path('pdf', {'id': invoice.encInvoice}) }}" target="_blank">Expot Pdf</a></li>
																<li>
																	{% if session.userInfo.is_navigate == 1 and session.userInfo.authorize == 0 %}
																	<a href="javascript:void(0)" class="navigatorLogin">Delete </a>
																	{% else %}
																	<a class="deleteAnInvice" data-invoice="{{invoice.encInvoice}}" href="javascript:void(0)">Delete</a>
																	{% endif %}
																</li>
															</ul>
														</div>
													</td>
												</tr>
												{% endfor %}	
											</tbody>
										</table>
										<!-- end user projects -->

									</div>
									<div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

										<!-- start user projects -->
										<table class="data-table table table-striped no-margin">
											<thead>
												<tr>
													<th>Status</th>
													<th>Due</th>
													<th>Date</th>
													<th>Number</th>
													<th>Customer</th>
													<th>Amount Due</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												{% for key, invoice in invoices%}
												{% if invoice.paidStatus == '0' %}

												{% if(invoice.invoiceSent == '1') %}
												{% set Status = 'SentInvoice'%}
												{% set StatusName = 'Sent' %}
												{% else %}
												{% set Status = 'UnsentInvoice'%}
												{% set StatusName = 'Unsent' %}
												{% endif %}
												<tr>
													<td><span class="{{Status}}">{{StatusName}}</span></td>
													<td>
														{# endDate and startDate are strings or DateTime objects #}
														{% set difference = date(invoice.paymentDue.date|date("m/d/Y")).diff(date("now")) %}
														{% set leftDays = difference.days %}
														{% if leftDays == 1 %}
														1 day
														{% else %}
														{{ leftDays }} days
														{% endif %}
													</td>
													<td>{{invoice.invoiceStart.date|date('Y-m-d')}}</td>
													<td>{{invoice.id}}</td>
													<td>{{invoice.firstName}} {{invoice.lastName}}</td>
													<td>${{invoice.totalAmount + invoice.totalTax}}</td>                                  
													<td>
														<span>
															{% if invoice.invoiceSent == '0' %}
															<a href="javascript:void(0)" class="sendInvoice" data-invoice="{{invoice.id}}" data-sender="{{session.userInfo.userFullName}}">Send</a>
															{% else %}
															<a href="javascript:void(0)" class="payProcess" data-invoice="{{invoice.id}}" data-invoicetotal = "{{invoice.totalAmount + invoice.totalTax}}" data-sender="{{session.userInfo.userFullName}}">Payment</a>
															{% endif %}
														</span>
														<div class="dropdown dropdown_invoice"><a href="#" dropdown-toggle" data-toggle="dropdown"class="record"><span class="caret"></span></a>
															<ul class="dropdown-menu invoice_menu">
																<li><a href="{{ path('viewinvoice', {'id': invoice.encInvoice}) }}">View</a></li>
																<li><a href="javascript:void(0)" class="sendInvoice" data-invoice="{{invoice.id}}"  data-sender="{{session.userInfo.userFullName}}">Send</a></li>
																<li><a href="{{ path('pdf', {'id': invoice.encInvoice}) }}" target="_blank">Expot Pdf</a></li>
																<li><a href="{{ path('userpreview', {'id': invoice.encInvoice}) }}" target="_blank">Preview as Customer</a></li>
																<li>{% if session.userInfo.is_navigate == 1 and session.userInfo.authorize == 0 %}
																	<a href="javascript:void(0)" class="navigatorLogin">Delete </a>
																	{% else %}
																	<a class="deleteAnInvice" data-invoice="{{invoice.encInvoice}}" href="javascript:void(0)">Delete</a></li>
																{% endif %}</li>
															</ul>
														</div>
													</td>
												</tr>
												{% endif %}
												{% endfor %}	
											</tbody>
										</table>
										<!-- end user projects -->

									</div>
									<div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">

										<!-- start user projects -->
										<table class="data-table table table-striped no-margin">
											<thead>
												<tr>
													<th>Status</th>
													<th>Due</th>
													<th>Date</th>
													<th>Number</th>
													<th>Customer</th>
													<th>Amount Due</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												{% for key, invoice in invoices%}
												{% if invoice.paidStatus == '1' %}

												<tr>
													<td><span class="PaidInvoice">Paid</span></td>
													<td>
														{# endDate and startDate are strings or DateTime objects #}
														{% set difference = date(invoice.paymentDue.date|date("m/d/Y")).diff(date("now")) %}
														{% set leftDays = difference.days %}
														{% if leftDays == 1 %}
														1 day
														{% else %}
														{{ leftDays }} days
														{% endif %}
													</td>
													<td>{{invoice.invoiceStart.date|date('Y-m-d')}}</td>
													<td>{{invoice.id}}</td>
													<td>{{invoice.firstName}} {{invoice.lastName}}</td>
													<td>${{invoice.totalAmount + invoice.totalTax}}</td>                                  
													<td>
														<span>
															<a href="{{ path('viewinvoice', {'id': invoice.encInvoice}) }}">View</a>
														</span>
														<div class="dropdown dropdown_invoice"><a href="#"dropdown-toggle" data-toggle="dropdown"class="record"><span class="caret"></span></a>
															<ul class="dropdown-menu invoice_menu">
																<li><a href="{{ path('viewinvoice', {'id': invoice.encInvoice}) }}">View</a></li>
																<li><a href="{{ path('pdf', {'id': invoice.encInvoice}) }}" target="_blank">Expot Pdf</a></li>
																<li>{% if session.userInfo.is_navigate == 1 and session.userInfo.authorize == 0 %}
																	<a href="javascript:void(0)" class="navigatorLogin">Delete </a>
																	{% else %}
																	<a class="deleteAnInvice" data-invoice="{{invoice.encInvoice}}" href="javascript:void(0)">Delete</a></li>
																{% endif %}</li>
															</ul>
														</div>
													</td>
												</tr>
												{% endif %}
												{% endfor %}	
											</tbody>
										</table>
										<!-- end user projects -->

									</div>

								</div> 
							</div>
						</div>

					</div>



				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
<!-- /page content -->
<div id="Send_Invoice" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header create_new_account_heading">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Send this Invoice</h4>
			</div>
			<div class="modal-body">
				<div class="tab-content">
					<div id="proce" class="tab-pane fade in active">
						<div class="InvoiceFormArea">
							<form id="sendInvoiceEmail" method="post">
								<div class="sendinpit_fields">

									<label class="usr" for="usr">From</label>
									<select name="fromInvoice"  class="selectpicker show-tick form-control search_select">
										<option value="{{session.userInfo.userEmail}}">{{session.userInfo.userEmail}}</option>
									</select>

								</div>
								
								<div id="tocontact">
									<div class="sendinpit_fields">
										<label class="usr" for="pwd">To</label>
										<input class="usr1" id="sendemail_customer" value="" name="sendemail[]" type="text" required="required"><i class="fa fa-plus-circle addinput_fields" id="add_more_field_to" aria-hidden="true"></i>
									</div>
									
									
									
								</div>


								<div class="sendinpit_fields">
									<label class="usr" for="pwd">Subject</label>
									<input id="invoiceNumber" class="usr1 invoiceSubject" name="invoiceId" type="hidden" value="">
									<input id="invoiceSubject" class="usr1 invoiceSubject" name="subjectIncoice" type="text" value="Invoice  from {{session.userInfo.userFullName}}">

								</div>
								<div class="">
									<label class="usr" for="pwd">Message</label>
									<textarea name="messageIncoice" class="form-control" placeholder=""></textarea>

								</div>
								

								<div class="show_additional_info">
									<a href="javascript:;">Show additional options <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
									</a>  
								</div>

								<div class="additional_option">
									<div class="remember">

										<input id="send_invoive_to_me" name="send_invoive_to_me" type="checkbox" value='1'>
										<label for="send_invoive_to_me" class="tax_num usr">Send a copy to myself at {{session.userInfo.userEmail}}
										</label>

									</div>
									<div class="remember">

										<input id="attach_invoice_as_pdf" name="attach_invoice_as_pdf" type="checkbox"  value='1'>
										<label for="attach_invoice_as_pdf" class="tax_num usr">Attach the invoice as a PDF
										</label>

									</div>
								</div>

							</div>
							<div class="text-center">
								<input type="submit" value="Send Invoice" class="btn btn-primary">

							</div>
						</form>
					</div>


				</div>

			</div>

		</div>
	</div>
</div>		

<!--Record Payments-->
<!-- Modal -->
<div id="paymnet_record" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header create_new_account_heading">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Record a Payment for this Invoice</h4>
			</div>
			<div class="modal-body add_popup">
				<div class="add_heading">
					<p class="popup_p">Record a payment you’ve already received, such as cash, cheque, or bank transfer.</p>
					<hr class="body_hr">
				</div>
				<form id="paymentRecords" method="post">
					<div class="tax_input_fields">
                        <input type="hidden" name="invoice" value="" id="invoiceID">     
						<label class="usr" for="usr">Payment Date</label>
						<input id="paymentDATE" class="usr1" value="" name="payment_date" type="text">

					</div>
					<div class="tax_input_fields">
						<label class="usr" for="pwd">Amount</label>
						<input class="usr1" id="paidAmount" readonly value="" name="payment_amount" type="text">

					</div>
					<div class="tax_input_fields">
						<label class="usr" for="pwd">Payment Method</label>
						<select name="payment_method"  class="selectpicker show-tick form-control search_select">
							<option value="" selected >Select a payment method</option>
							<option value="bank_transfer">Bank transfer</option>
							<option value="cash">Cash</option>
							<option value="Cheque">Cheque</option>
							<option value="Credit card">Credit card</option>
							<option value="Other">Other</option>
						</select>

					</div>
					<div class="tax_input_fields">
						<label class="usr" for="pwd">Payment account</label>
						<select name="payment_account"  class="selectpicker show-tick form-control search_select">
							<option selected value="" >Select a payment account...</option>
							<option  value="cash_on_hand">Cash on Hand </option>
						</select>
					</div>
					<div class="tax_input_fields">
						<label class="usr" for="pwd">Memo / notes</label>
						<textarea class="memoText" name="payment_memo"></textarea>
					</div>


					<div class="tax_btns">
						<input type="submit" value="Submit">
						<button type="button" class="btn btn-default closetax" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</form>

		</div>

	</div>
</div>		



<!-- jQuery -->
<script src="{{ asset('theme/vendors/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="{{ asset('theme/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('theme/js/validation/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('theme/js/validation/additional-methods.min.js') }}"></script>
<!-- Datatables -->
<script src="{{ asset('theme/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('theme/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('theme/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('theme/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
<script src="{{ asset('theme/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
<script src="{{ asset('theme/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('theme/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ asset('theme/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
<script src="{{ asset('theme/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
<script src="{{ asset('theme/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('theme/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
<script src="{{ asset('theme/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{{ asset('theme/js/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('theme/select2/select2.js') }}"></script>

<script src="{{ asset('theme/vendors/moment/min/moment.min.js') }}"></script>
<script src="{{ asset('theme/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<script src="{{ asset('theme/js/invoice.js') }}"></script>
<script>
	$(document).ready(function() {
		$('.data-table').DataTable();
		$('#paymentDATE').daterangepicker({
				singleDatePicker: true,
				timePicker: true,
				locale: {
		            format: 'MM/DD/YYYY h:mm A'
		        }
			});
	} );
</script>
{% endblock %}