{% extends 'preview_layout.html.twig' %}
{% block content %}
<!-- page content -->
        <div class="right_col" role="main" style="margin-left:0px !important;">
          <div class="">
            <div class="row">
              <div class="x_panel">
                <div class="x_content">
                  <div class="logoImg col-sm-6"> <img src="{{ asset('theme/images/no-logo.png') }}" title="no logo" width="100px"></div>
				  <div class="orgAddress col-sm-6 text-right"> 
				   <p>{{orgData.firstName}} {{orgData.lastName}}</p>
				   <p>{{orgData.address}}</p>
				   <p>{{orgData.country}}</p>
				  </div>
                </div>
				<div class="clearfix"></div>
             <hr>
                  <div class="x_content">
                    <div class="row">
					
                      <div style="width:33%" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						  <div class="row">
							<div class="billto_section">
								<div class="bill_heading">Bill to</div>
								<h1>{{productDetails.customer.firstName| capitalize}} {{productDetails.customer.lastName| capitalize}}</h1>
								{% if(productDetails.customer.address is not empty)%}<h2>{{productDetails.customer.address}}</h2>{% endif %}
								<h3>{{productDetails.customer.phone}}</h3>
								<h4>{{productDetails.customer.email}}</h4>
							</div>
						  </div>
                       </div>
					   <div style="width:33%" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						  <div class="row">
							<div class="billto_section">
								<div class="bill_heading">SHIP to</div>
								<h1>{{productDetails.customer.firstName| capitalize}} {{productDetails.customer.lastName| capitalize}}</h1>
								{% if(productDetails.customer.sAddress != "" )%}
  								 <h2>{{productDetails.customer.sAddress}}</h2>
								{% elseif(productDetails.customer.address != "" ) %}
 								 <h2>{{productDetails.customer.address}}</h2>
								{% endif %}
								<h3>{{productDetails.customer.phone}}</h3>
								<h4>{{productDetails.customer.email}}</h4>
							</div>
						  </div>
                       </div>
                      <div  style="width:33%" class="col-md-4 pull-right">
				        <div class="number">
						<div class="col-md-6 num1">
							<h1>Invoice Number:</h1>
						</div>
						<div class="col-md-6 num_count1">
							<p>{{productDetails.id}}</p>
						</div>

						<div class="col-md-6 num1">
							<h1>Invoice Date:</h1>
						</div>
						<div class="col-md-6 num_count1">
							<p>{{productDetails.invoiceStart.date|date("F j,Y")}}</p>
						</div>

						<div class="col-md-6 num1">
							<h1>Payment Due:</h1>
						</div>
						<div class="col-md-6 num_count1">
							<p>{{productDetails.paymentDue.date|date("F j,Y")}}</p>
						</div>

						<div class="col-md-6 num1">
							<h1>Amount Due (USD):</h1>
						</div>
						<div class="col-md-6 num_count_t1">
							<p>${{(productDetails.totalAmount + productDetails.totalTax)|number_format(2, '.', ',')}}</p>
						</div>
					</div>
			       </div>
					<div class="clearfix"></div>
					<hr>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <table id="selectedProducts" class="table table-striped">
                            <thead>
                              <tr>
                                <th>Name</th>
								<th>Image</th>
                                <th>Description</th>                                
                                <th>Quantity</th>
                                <th>Price</th>
								<th>Amount</th>
                              </tr>
                            </thead>
                            <tbody>
							
							<tbody id="prodListing">
							{% if(productDetails.invoiceData is not empty) %}
                            {% for key,invoicePro in productDetails.invoiceData %}  
                            <tr id="product1">
								<td>{{invoicePro.prodName| capitalize}}</td>
								<td><img src="/uploads/images/products/{{invoicePro.prodimg}}" title="{{invoicePro.prodimg}}" width="60px"></td>
								<td>{{invoicePro.prodDesc}}</td>
								<td>{{invoicePro.prodQty}}<br><div class="text-right"> <strong>Tax</strong></div></td>
								<td>${{invoicePro.prodprice}}<br>
								{% if(invoicePro.taxDetails is not empty) %}
								{% set totalTax = 0 %}
                                  {% for k,taxes in invoicePro.taxDetails %}
								       {% if k > 0 %} , {% endif %}
								      {{taxes.name}}({{taxes.percentage}}%) = {{taxes.amount|number_format(2, '.', ',')}} 
									  {% set totalTax = totalTax + taxes.amount %}
								   {% endfor %}
							    {% endif %}
								</td>
								<td>$<span class="finalAmtTxt">{{(invoicePro.prodQty * invoicePro.prodprice)|number_format(2, '.', ',')}}</span><span class="taxchilds">$<span class="tatalTaxes">{{totalTax|number_format(2, '.', ',')}}</span><br></span></td>
							</tr>
							{% endfor %}
							{% endif %}

							</tbody>	
								
                              
                            </tbody>
                          </table>
					  				 
                        <!-- /.col -->
                      </div>
                    <div class="clearfix"></div>
					<hr>
                      <div class="col-xs-7">
                        
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-5 sub-total1" >
                          <p class="lead">Total Amount</p>
                          <div class="table-responsive">
                            <table class="table">
                              <tbody>
                                <tr>
                                  <th style="width:50%">Subtotal:</th>
                                  <td>$<span id="subTotal">{{productDetails.totalAmount|number_format(2, '.', ',')}}</span><input id="IsubTotal" type="hidden" name="subTotal" value=""></td>
                                </tr>
                                <tr>
                                  <th>Tax</th>
                                  <td>$<span id="taxesVal">{{productDetails.totalTax|number_format(2, '.', ',')}}</span><input id="ItaxesVal" type="hidden" name="taxesVal" value=""></td>
                                </tr>
                                 <tr>
                                  <th>Grand Total:</th>
                                  <td>$<span id="grandTotal">{{(productDetails.totalAmount + productDetails.totalTax)|number_format(2, '.', ',')}}</span><input id="IgrandTotal" type="hidden" name="grandTotal" value=""></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
						
					  <div class="clearfix"></div>
					 </div>
                      </div>
                    </div>
             
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}