{% extends 'dashboard_layout.html.twig' %} {% block content %}
<link href="{{ asset('theme/css/bootstrap-select.min.css') }}" rel="stylesheet">
<link href="{{ asset('theme/select2/select2.css') }}" rel="stylesheet">
<link href="{{ asset('theme/css/sweetalert2.min.css') }}" rel="stylesheet">
<!-- page content -->
<div class="right_col" role="main">
	<div class="">
		<div class="row">
			<div class="x_panel">
				<div class="x_content">
					<div class="page-title">
						<div class="title_left">
							<h2> Invoice #{{productDetails.id}}</h2>
						</div>
						<p class="nav navbar-right panel_toolbox">
							<div class="text-right">
								{% if session.userInfo.is_navigate == 1 and session.userInfo.authorize == 0 %}
								<a href="javascript:void(0)" class="navigatorLogin btn btn-info btn-lg"><i class="fa fa-files-o" aria-hidden="true"></i>Create Another Invoice </a> {% else %}
								<a href="{{path('createinvoice')}}" class="btn btn-info btn-lg"><i class="fa fa-files-o" aria-hidden="true"></i>Create Another Invoice</a> {% endif %}
								<div class="nav navbar-nav navbar-right buttons dropdown moreAction">
									<button class="dropdown-toggle btn btn-info btn-lg" type="button" data-toggle="dropdown">More Actions
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu button_drop_down">
										<li><a href="{{path('pdf', {'id': invID})}}" target="_blank">Export as PDF</a></li>
										<li><a target="_blank" href="{{path('userpreview', {'id': invID})}}">Preview as Customer</a></li>
										<li>
											{% if session.userInfo.is_navigate == 1 and session.userInfo.authorize == 0 %}
											<a href="javascript:void(0)" class="navigatorLogin">Delete </a> {% else %}
											<a class="deleteAnInvice" data-invoice="{{invID}}" href="javascript:void(0)">Delete</a> {% endif %}
										</li>
									</ul>
								</div>
							</div>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="x_panel">
				<div class="x_content">
					<div class="page-title">
						<div class="col-md-4 col-sm-4 col-xs-12 profile_details">
							<div class="well profile_view col-md-12 col-sm-12 col-xs-12">
								<div class="col-xs-12 bottom center text-center">
									<p><b>Invoice Status<b></p>
									</div>
									<div class="col-sm-12">
										<div class="unsent_invoice" id="invoice_status_top">
											{% if productDetails.invoiceSent == '1' %}
											<p>Sent</p>
											{% else %}
											<p>Unsent</p>
											{% endif %}
										</div>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12 profile_details">
								<div class="well profile_view col-md-12 col-sm-12 col-xs-12">
									<div class="col-xs-12 bottom text-center">
										<p><b>Invoice Amount<b></p>
										</div>
										<div class="col-sm-12">
											<div class="left col-xs-12">

												<ul class="list-unstyled invoiceAmtblock">
													<li><i class="fa fa-calculator"></i> Subtotal: ${{productDetails.totalAmount|number_format(2, '.', ',')}}</li>
													<li><i class="fa fa-percent"></i> Tax : ${{productDetails.totalTax|number_format(2, '.', ',')}}</li>
													<li><i class="fa fa-money"></i> Grand Total : ${{(productDetails.totalAmount + productDetails.totalTax)|number_format(2, '.', ',')}}</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12 profile_details">
									<div class="well profile_view">
										<div class="col-xs-12 bottom text-center">
											<p><b>Customer Info<b></p>
											</div>
											<div class="col-sm-12">
												<div class="left col-xs-7">
													<h3 class="bill_heading"><strong>{{productDetails.customer.firstName}} {{productDetails.customer.lastName}}</strong></h3>
													<ul class="list-unstyled">
														<li><i class="fa fa-envelope"></i> : {{productDetails.customer.email}}</li>
														<li><i class="fa fa-mobile"></i> #: {{productDetails.customer.phone}}</li>
													</ul>
												</div>
												<div class="right col-xs-5 text-center">
													<img src="/theme/images/user.png" alt="" class="img-circle img-responsive">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>			  
					<div class="clearfix"></div>
					<div class="row">		
						<div class="x_panel">
							<div class="x_content">
								<div class="page-title">
									<div class="emailsendcheck">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<h2>Send invoice</h2>				
											<p><strong>Last sent:</strong></p>
											<div class="invoicesenddate">{% if(productDetails.invoiceSent == '1') %} {{productDetails.invoiceSentDate.date|date("F j,Y")}} {% elseif(productDetails.invoiceSkipSend == '1') %} Mark as Sent {% endif %}</div>
											<p></p>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
											{% if(productDetails.invoiceSent == '1') %}
											<a href="javascript:void(0)" class="btn btn-info btn-lg sendInvoice" id="sendInvoice" data-invoice="{{productDetails.id}}"  data-sender="{{session.userInfo.userFullName}}" ><i class="fa fa-paper-plane" aria-hidden="true"></i> Resend Invoice </a>
											{% elseif productDetails.invoiceSkipSend is empty %}
											<a href="javascript:void(0)" class="btn btn-info btn-lg" data-invoice="{{invID}}" id="skipinvoieemailsend"><i class="fa fa-paper-plane" aria-hidden="true" style="color:#ff0000"></i> Skip to Send </a>
											<a href="javascript:void(0)" class="btn btn-info btn-lg sendInvoice"  data-invoice="{{productDetails.id}}" data-sender="{{session.userInfo.userFullName}}"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send Invoice </a>
											{% elseif(productDetails.invoiceSkipSend == '1') %}
											<a href="javascript:void(0)" class="btn btn-info btn-lg" id="marksent"  data-invoice="{{invID}}" ><i class="fa fa-paper-plane" aria-hidden="true" style="color:#ff0000"></i> Mark As Sent </a>
											<a href="javascript:void(0)" class="btn btn-info btn-lg sendInvoice" id="sendInvoice" data-invoice="{{productDetails.id}}" data-sender="{{session.userInfo.userFullName}}"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send Invoice </a>
											{% endif %}  


										</div>
									</div>
								</div>
							 </div>
							</div>
						</div>
						<!--payment due schedule mails-->
                         <div class="row">		
						<div class="x_panel">
							<div class="x_content">
								<div class="page-title emailScheduler">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<h2>Get Paid</h2>
								    </div>
								   {% if productDetails.paidStatus == '0' %} 
								    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
								        	<p>Status: Your invoice is awaiting payment.</p>
								        	<p>Get paid on time by scheduling payment reminders for your customer:</p>
								        </div>
								        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
								        	<p><strong>Amount due: ${{productDetails.totalAmount + productDetails.totalTax}}</strong></p>
								        </div> 
								    </div>
								    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								    	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								        	<h2>Remind Before Due Date</h2>
								        	<div class="remember">
				                                <input class="reminder" data-invoice-id="{{invID}}" id="forteen_before_invoice" type="checkbox">
				                                <label for="forteen_before_invoice" class="tax_num">14 days before</label>
				                            </div>
				                            <div class="remember">
				                                <input class="reminder" data-invoice-id="{{invID}}" id="seven_before_invoice" type="checkbox">
				                                <label for="seven_before_invoice" class="tax_num">7 days before</label>
				                            </div>
				                            <div class="remember">
				                                <input class="reminder" data-invoice-id="{{invID}}" id="three_before_invoice" type="checkbox">
				                                <label for="three_before_invoice" class="tax_num">3 days before</label>
				                            </div>
								        </div>
								        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								        	<h2>Remind On Due Date</h2>
								        	<div class="remember">
				                                <input class="reminder" data-invoice-id="{{invID}}" id="same_date_send" type="checkbox">
				                                <label for="same_date_send" class="tax_num">On due date</label>
				                            </div>
								        </div>
								        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								        	<h2>Remind After Due Date</h2>
								        	<div class="remember">
				                                <input class="reminder" data-invoice-id="{{invID}}" id="three_after_invoice" type="checkbox">
				                                <label for="three_after_invoice" class="tax_num">3 days after</label>
				                            </div>
				                            <div class="remember">
				                                <input class="reminder" data-invoice-id="{{invID}}" id="seven_after_invoice" type="checkbox">
				                                <label for="seven_after_invoice" class="tax_num">7 days after</label>
				                            </div>
				                            <div class="remember">
				                                <input class="reminder" data-invoice-id="{{invID}}" id="forteen_after_invoice" type="checkbox">
				                                <label for="forteen_after_invoice" class="tax_num">14 days after</label>
				                            </div>
								        </div>
								        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								        	<p><a href="{{path('userpreview', {'id': invID})}}" target="_blank"><strong>See a preview</strong></a> of the reminder email, or <a href="javascript:void(0)" data-invoice="{{productDetails.id}}" data-sender="{{session.userInfo.userFullName}}" class="sendInvoice"><strong>send a reminder now.</strong></a></p>
								        </div>
								        <hr />
								        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								        	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								        		<h2>Has your customer paid the invoice already?</h2>
                                                <p>Record a payment you've already received.</p>
								        	</div>
								        	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
								        		<a href="javascript:void(0)" class="payProcess btn btn-primary" data-invoice="{{productDetails.id}}" data-invoicetotal="{{productDetails.totalAmount + productDetails.totalTax}}" data-sender="Employee Emp">Payment</a>
								        	</div>
								        </div>	
								    </div>
								    {% else %}
								    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
								        	<p>Status: Your invoice is paid in full.</p>
								        </div>
								        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
								        	<p><strong>Amount due: $0</strong></p>
								        </div> 
								    </div>
								    {% endif %}
								    

							 </div>
							</div>
						</div> 
                        <!--end payment due schedule mails--> 						
						<div class="clearfix"></div>
							<div class="row">
								<div class="x_panel">
									<div class="x_content">
										<div class="logoImg col-sm-6"> <img src="/theme/images/no-logo.png"></div>
										<div class="orgAddress col-sm-6 text-right"> 
											<p>{{orgData.firstName}} {{orgData.lastName}}</p>
											<p>{{orgData.address}}</p>
											<p>{{orgData.country}}</p>
										</div>
									</div>
									<div class="clearfix"></div>
									<hr>
									<div class="x_content">
										<div class="row">

											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
												<div class="row">
													<div class="billto_section">
														<div class="bill_heading">Bill to</div>
														<h1>{{productDetails.customer.firstName| capitalize}} {{productDetails.customer.lastName| capitalize}}</h1>
														{% if(productDetails.customer.address is not empty)%}<h2>{{productDetails.customer.address}}</h2>{% endif %}
														<h3>{{productDetails.customer.phone}}</h3>
														<h4>{{productDetails.customer.email}}</h4>
													</div>
												</div>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
												<div class="row">
													<div class="billto_section">
														<div class="bill_heading">SHIP to</div>
														<h1>{{productDetails.customer.firstName| capitalize}} {{productDetails.customer.lastName| capitalize}}</h1>
														{% if(productDetails.customer.sAddress != "" )%}
														<h2>{{productDetails.customer.sAddress}}</h2>
														{% elseif(productDetails.customer.address != "" ) %}
														<h2>{{productDetails.customer.address}}</h2>
														{% endif %}
														<h3>{{productDetails.customer.phone}}</h3>
														<h4>{{productDetails.customer.email}}</h4>
													</div>
												</div>
											</div>
											<div class="col-md-4 pull-right">
												<div class="number">
													<div class="col-md-6 num1">
														<h1>Invoice Number:</h1>
													</div>
													<div class="col-md-6 num_count1">
														<p>{{productDetails.id}}</p>
													</div>

													<div class="col-md-6 num1">
														<h1>Invoice Date:</h1>
													</div>
													<div class="col-md-6 num_count1">
														<p>{{productDetails.invoiceStart.date|date("F j,Y")}}</p>
													</div>

													<div class="col-md-6 num1">
														<h1>Payment Due:</h1>
													</div>
													<div class="col-md-6 num_count1">
														<p>{{productDetails.paymentDue.date|date("F j,Y")}}</p>
													</div>

													<div class="col-md-6 num1">
														<h1>Amount Due (USD):</h1>
													</div>
													<div class="col-md-6 num_count_t1">
														<p>${{(productDetails.totalAmount + productDetails.totalTax)|number_format(2, '.', ',')}}</p>
													</div>
												</div>
											</div>
											<div class="clearfix"></div>
											<hr>
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<table id="selectedProducts" class="table table-striped">
													<thead>
														<tr>
															<th>Name</th>
															<th>Image</th>
															<th>Description</th>                                
															<th>Quantity</th>
															<th>Price</th>
															<th>Amount</th>
														</tr>
													</thead>
													<tbody>

														<tbody id="prodListing">
															{% if(productDetails.invoiceData is not empty) %}
															{% for key,invoicePro in productDetails.invoiceData %}  
															<tr id="product1">
																<td>{{invoicePro.prodName| capitalize}}</td>
																<td><img src="/uploads/images/products/{{invoicePro.prodimg}}" title="{{invoicePro.prodimg}}" width="60px"></td>
																<td>{{invoicePro.prodDesc}}</td>
																<td>{{invoicePro.prodQty}}<br><div class="text-right"> <strong>Tax</strong></div></td>
																<td>${{invoicePro.prodprice}}<br>
																	{% if(invoicePro.taxDetails is not empty) %}
																	{% set totalTax = 0 %}
																	{% for k,taxes in invoicePro.taxDetails %}
																	{% if k > 0 %} , {% endif %}
																	{{taxes.name}}({{taxes.percentage}}%) = {{taxes.amount|number_format(2, '.', ',')}} 
																	{% set totalTax = totalTax + taxes.amount %}
																	{% endfor %}
																	{% endif %}
																</td>
																<td>$<span class="finalAmtTxt">{{(invoicePro.prodQty * invoicePro.prodprice)|number_format(2, '.', ',')}}</span><span class="taxchilds">$<span class="tatalTaxes">{{totalTax|number_format(2, '.', ',')}}</span><br></span></td>
															</tr>
															{% endfor %}
															{% endif %}

														</tbody>	


													</tbody>
												</table>

												<!-- /.col -->
											</div>
											<div class="clearfix"></div>
											<hr>
											<div class="col-xs-7">

											</div>
											<!-- /.col -->
											<div class="col-xs-5 sub-total1" >
												<p class="lead">Total Amount</p>
												<div class="table-responsive">
													<table class="table">
														<tbody>
															<tr>
																<th style="width:50%">Subtotal:</th>
																<td>$<span id="subTotal">{{productDetails.totalAmount|number_format(2, '.', ',')}}</span><input id="IsubTotal" type="hidden" name="subTotal" value=""></td>
															</tr>
															<tr>
																<th>Tax</th>
																<td>$<span id="taxesVal">{{productDetails.totalTax|number_format(2, '.', ',')}}</span><input id="ItaxesVal" type="hidden" name="taxesVal" value=""></td>
															</tr>
															<tr>
																<th>Grand Total:</th>
																<td>$<span id="grandTotal">{{(productDetails.totalAmount + productDetails.totalTax)|number_format(2, '.', ',')}}</span><input id="IgrandTotal" type="hidden" name="grandTotal" value=""></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>

											<div class="clearfix"></div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /page content -->

			<!--Modal Tax-->
			<div id="add_tax_model" class="modal" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header create_new_account_heading">
							<button type="button" class="close" data-dismiss="modal">×</button>
							<h4 class="modal-title">Create a new tax</h4>
						</div>
						<div class="modal-body add_popup">
							<div class="add_heading">
								<p class="popup_p">Enter Below Details.</p>
								<hr class="body_hr">
							</div>
							<form id="add_new_tax_estimation" method="post">
								<input type="hidden" name="productId" value="" id="productRowId">
								<div class="tax_input_fields">

									<label class="usr" for="usr">Tax Name *</label>
									<input class="usr1" name="tax_name" type="text">

								</div>
								<div class="tax_input_fields">
									<input type="hidden" value="TYqrpdL5CAHglS5ncTQW2Sfp" id="taxaddition_selectedtr">		
									<label class="usr" for="usr">Tax Description *</label>
									<input class="usr1" name="tax_description" type="text">

								</div>

								<div class="tax_input_fields">
									<label class="usr" for="pwd">Tax rate(%age of Base) *</label>
									<input class="usr1" name="tax_rate" type="text">

								</div>
								<div class="tax_input_fields TaxnumberID">
									<label class="usr" for="pwd">Tax number / ID</label>
									<input class="usr1" name="tax_number" type="text">

								</div>


								<div class="remember">

									<input id="show_tax_number" type="checkbox">
									<label for="show_tax_number" class="tax_num">Show tax number on invoices
									</label>
								</div>
								<div class="tax_btns">
									<input type="submit" value="Save">
									<button type="button" class="btn btn-default closetax" data-dismiss="modal">Close</button>
								</div>

							</form>
						</div>


					</div>

				</div>
			</div>	
			<!--Send invoice-->
			<div id="Send_Invoice" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header create_new_account_heading">
							<button type="button" class="close" data-dismiss="modal">×</button>
							<h4 class="modal-title">Send this Invoice</h4>
						</div>
						<div class="modal-body">
							<div class="tab-content">
								<div id="proce" class="tab-pane fade in active">
									<div class="InvoiceFormArea">
										<form id="sendInvoiceEmail" method="post">
											<div class="sendinpit_fields">

												<label class="usr" for="usr">From</label>
												<select name="fromInvoice" id="basic" class="selectpicker show-tick form-control search_select">
													<option value="{{session.userInfo.userEmail}}">{{session.userInfo.userEmail}}</option>
												</select>

											</div>

											<div id="tocontact">
												<div class="sendinpit_fields">
													<label class="usr" for="pwd">To</label>
													<input class="usr1" id="sendemail_customer" value="" name="sendemail[]" type="text" required="required"><i class="fa fa-plus-circle addinput_fields" id="add_more_field_to" aria-hidden="true"></i>
												</div>



											</div>


											<div class="sendinpit_fields">
												<label class="usr" for="pwd">Subject</label>
												<input id="invoiceNumber" class="usr1 invoiceSubject" name="invoiceId" type="hidden" value="">
												<input id="invoiceSubject" class="usr1 invoiceSubject" name="subjectIncoice" type="text" value="Invoice  from {{session.userInfo.userFullName}}">

											</div>
											<div class="">
												<label class="usr" for="pwd">Message</label>
												<textarea name="messageIncoice" class="form-control" placeholder=""></textarea>

											</div>


											<div class="show_additional_info">
												<a href="javascript:;">Show additional options <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
												</a>  
											</div>

											<div class="additional_option">
												<div class="remember">

													<input id="send_invoive_to_me" name="send_invoive_to_me" type="checkbox" value='1'>
													<label for="send_invoive_to_me" class="tax_num usr">Send a copy to myself at {{session.userInfo.userEmail}}
													</label>

												</div>
												<div class="remember">

													<input id="attach_invoice_as_pdf" name="attach_invoice_as_pdf" type="checkbox"  value='1'>
													<label for="attach_invoice_as_pdf" class="tax_num usr">Attach the invoice as a PDF
													</label>

												</div>
											</div>

										</div>
										<div class="text-center">
											<input type="submit" value="Send Invoice" class="btn btn-primary">

										</div>
									</form>
								</div>


							</div>

						</div>

					</div>
				</div>
			</div>    
<!--Record Payments-->
<!-- Modal -->
<div id="paymnet_record" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header create_new_account_heading">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Record a Payment for this Invoice</h4>
			</div>
			<div class="modal-body add_popup">
				<div class="add_heading">
					<p class="popup_p">Record a payment you’ve already received, such as cash, cheque, or bank transfer.</p>
					<hr class="body_hr">
				</div>
				<form id="paymentRecords" method="post">
					<div class="tax_input_fields">
                        <input type="hidden" name="invoice" value="" id="invoiceID">     
						<label class="usr" for="usr">Payment Date</label>
						<input id="paymentDATE" class="usr1" value="" name="payment_date" type="text">

					</div>
					<div class="tax_input_fields">
						<label class="usr" for="pwd">Amount</label>
						<input class="usr1" id="paidAmount" readonly value="" name="payment_amount" type="text">

					</div>
					<div class="tax_input_fields">
						<label class="usr" for="pwd">Payment Method</label>
						<select name="payment_method"  class="selectpicker show-tick form-control search_select">
							<option value="" selected >Select a payment method</option>
							<option value="bank_transfer">Bank transfer</option>
							<option value="cash">Cash</option>
							<option value="Cheque">Cheque</option>
							<option value="Credit card">Credit card</option>
							<option value="Other">Other</option>
						</select>

					</div>
					<div class="tax_input_fields">
						<label class="usr" for="pwd">Payment account</label>
						<select name="payment_account"  class="selectpicker show-tick form-control search_select">
							<option selected value="" >Select a payment account...</option>
							<option  value="cash_on_hand">Cash on Hand </option>
						</select>
					</div>
					<div class="tax_input_fields">
						<label class="usr" for="pwd">Memo / notes</label>
						<textarea class="memoText" name="payment_memo"></textarea>
					</div>


					<div class="tax_btns">
						<input type="submit" value="Submit">
						<button type="button" class="btn btn-default closetax" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</form>

		</div>

	</div>
</div>		

			<!-- jQuery -->
			<script src="{{ asset('theme/vendors/jquery/dist/jquery.min.js') }}"></script>
			<!-- Bootstrap -->
			<script type="text/javascript" src="{{ asset('theme/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('theme/js/validation/jquery.validate.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('theme/js/validation/additional-methods.min.js') }}"></script>
			<!-- bootstrap-daterangepicker -->
			<script src="{{ asset('theme/vendors/moment/min/moment.min.js') }}"></script>
			<script src="{{ asset('theme/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
			<script src="{{ asset('theme/js/bootstrap-select.min.js') }}"></script>
			<script src="{{ asset('theme/select2/select2.js') }}"></script>
			<script src="{{ asset('theme/js/invoice.js') }}"></script>

			<script>
				$(function() {
					$('#invoicedate, #paymentDue').daterangepicker({
						singleDatePicker: true
					});
				});
			</script>
			<script>
				$(document).ready(function() {
					$('#paymentDATE').daterangepicker({
							singleDatePicker: true,
							timePicker: true,
							locale: {
					            format: 'MM/DD/YYYY h:mm A'
					        }
						});
					});
				
			</script>
			<!--already checked reminder	-->
			{% if(reminderData is not empty) %}
			{% for k,val in reminderData %}
			 <script>  $('#{{val}}').prop('checked', true); </script>                              
			{% endfor %}
			{% endif %}


			{% endblock %}