#success-alert, #danger-alert{
  display: none;
}
a{
  text-decoration: none !important;
}
.social-links-list ul li {
    margin-bottom: 9px;
}
form.webLinkForm{
  display: none;
}
.alert{position: absolute; right: 60px; float: right; top: 18%; padding: 15px 30px 9px 15px;z-index: 99;}
#signup .form-group{ margin-bottom: -30px; }
div.beforeAdd{display: none;}
a.submitWeblinksForm {
    display: inline-block;
    float: left;
    margin: 10px;
}


.social-links-list .form-control {
    width: auto;
    height: 36px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccd0d2;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    display: inline-block;
    float: left;
}




.beforeAdd{
	margin:15px auto;
}
.afterAdd{
	margin:15px auto;
}

.beforeAdd span{
	 margin-right: 15px;

}

.afterAdd span {
    margin-right: 15px;
}
.btn-follow,button#acceptRequest,#unblockUser {
background: green;
}
button#unfollowUser,#cancelRequest,#declineRequest,#removeFriend,#blockUser {
background: red !important;
}