body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}
p {
	font-size: 20px;
}
p.small {
	font-size: 16px;
}
a, a:hover, a:focus, a:active, a.active {
	color: #8697fb;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}
hr.star-light, hr.star-primary {
	padding: 0;
	border: none;
	border-top: solid 5px;
	text-align: center;
	max-width: 250px;
	margin: 25px auto 30px;
}
hr.star-light:after, hr.star-primary:after {
	content: "\f005";
	font-family: FontAwesome;
	display: inline-block;
	position: relative;
	top: -0.8em;
	font-size: 2em;
	padding: 0 0.25em;
}
hr.star-light {
	border-color: white;
}
hr.star-light:after {
	background-color: #8697fb;
	color: white;
}
hr.star-primary {
	border-color: #2C3E50;
}
hr.star-primary:after {
	background-color: white;
	color: #2C3E50;
}
.img-centered {
	margin: 0 auto;
}
.navbar-brand h3 {
	font-size: 24px;
	margin: 0px;
}
.navbar-brand small {
	font-size: 14px;
	color: red;
}

.main-head-banner {
	text-align: center;
	background: url(../img/banner.png);
	color: white;
	background-attachment: fixed;
	background-size: contain;
	background-repeat: no-repeat;
	padding:0px;
}
header .container {
	padding-bottom: 150px !important;
	padding-top: 150px !important;
}
header .intro-text .name {
	display: block;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2em;
}
header .intro-text .skills {
	font-size: 1.25em;
	font-weight: 300;
}
.morphsearch {
	background: #fff;
	min-height: 60px;
	z-index: 10000;
	margin-left: 10px;
	transform-origin: 100% 0;
	transition-property: min-height, width, top, right;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	width: 60%;
	margin: 0 auto;
}
.morphsearch.open {
	background-color: rgba(47,47,47,0.8);
	position: absolute;
	width: 100%;
	padding: 20px 0px;
	min-height: 100%;
	top: 0px;
	left: 0px;
}
.morphsearch-form {
	width: 100%;
	height: 40px;
	margin: 0 auto;
	position: relative;
	transition-property: width, height, transform;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.morphsearch.open .morphsearch-form {
	width: 80%;
	height: 140px;
	transform: translate3d(0, 3em, 0);
}
.morphsearch-input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #000000;
	font-size: 20px;
	height: 100%;
	padding: 2% 10% 0 10px;
	transition: font-size 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
	width: 100%;
}
.morphsearch.open .morphsearch-input {
	font-size: 100px;
	border-bottom: 3px solid #de5260;
	color: #000;
}

/* placeholder */
.morphsearch-input::-webkit-input-placeholder {
 color: #c2c2c2;
}
 .morphsearch-input:-moz-placeholder {
 color: #c2c2c2;
}
 .morphsearch-input::-moz-placeholder {
 color: #c2c2c2;
}
 .morphsearch-input:-ms-input-placeholder {
 color: #c2c2c2;
}
input[type="search"] {
	box-sizing: border-box;
}
.morphsearch-input:focus, .morphsearch-submit:focus {
	outline: none;
}
.morphsearch.open .morphsearch-submit {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(-30px, -50%, 0) scale3d(1, 1, 1);
	transform: translate3d(-30px, -50%, 0) scale3d(1, 1, 1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
.morphsearch-close {
	width: 36px;
	height: 36px;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 100%;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	-webkit-transform: scale3d(0, 0, 1);
	transform: scale3d(0, 0, 1);
}
.morphsearch.open .morphsearch-close {
	opacity: 1;
	pointer-events: auto;
	transform: scale3d(1, 1, 1);
	transition: opacity 0.3s, transform 0.3s;
	transition-delay: 0.5s;
}
.morphsearch-close::before, .morphsearch-close::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	border-radius: 3px;
	opacity: 0.8;
	background: #de5260;
}
.morphsearch-close:hover.morphsearch-close::before, .morphsearch-close:hover.morphsearch-close::after {
	opacity: 1;
}
.morphsearch-close::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.morphsearch-close::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.morphsearch-content {
	color: #333;
	margin-top: 4.5em;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding: 0 10.5%;
	background: #f1f1f1;
	position: absolute;
	pointer-events: none;
	opacity: 0;
}
.morphsearch.open .morphsearch-content {
	opacity: 1;
	height: auto;
	overflow: visible; /* this breaks the transition of the children in FF: https://bugzilla.mozilla.org/show_bug.cgi?id=625289 */
	pointer-events: auto;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}
/* Overlay */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.morphsearch.open ~ .overlay {
	opacity: 1;
}

@media screen and (max-width: 53.125em) {
.morphsearch-input {
	padding: 0 25% 0 10px;
}
.morphsearch.open .morphsearch-input {
	font-size: 2em;
}
.morphsearch.open .morphsearch-form {
	height: 70px;
}
}

@media screen and (max-width: 60.625em) {
.morphsearch {
	width: 80%;
	top: 180px;
	right: 10%;
}
}

@media (min-width: 768px) {
header .container {
	padding-top: 100px;
	padding-bottom: 50px;
}
header .intro-text .name {
	font-size: 2.75em;
}
header .intro-text .skills {
	font-size: 1.75em;
}
}
#deliver-talent h2 span {
	display: table;
}
#deliver-talent h2 {
	color: #ea0e28;
}
#deliver-talent img {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-bottom: 10px solid #ff0000;
	border-image: none;
	border-left: 0 solid #ff0000;
	border-right: 10px solid #ff0000;
	border-width: 0 10px 10px 0;
}
.navbar-custom {
	background: #0d164d;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	border: none;
}
.navbar-custom .navbar-brand {
	color: white;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand.active {
	color: white;
}
.navbar-custom .navbar-nav {
	letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
	color: white;
}
.navbar-custom .navbar-nav li a:hover {
	color: #8697fb;
}
.navbar-custom .navbar-nav li a:focus, .navbar-custom .navbar-nav li a:active {
	color: white;
}
.navbar-custom .navbar-nav li.active a {
	color: white;
	background: #8697fb;
}
.navbar-custom .navbar-nav li.active a:hover, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:active {
	color: white;
	background: #8697fb;
}
.navbar-custom .navbar-toggle {
	color: white;
	text-transform: uppercase;
	font-size: 10px;
	border-color: white;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
	background-color: #8697fb;
	color: white;
	border-color: #8697fb;
}

@media (min-width: 768px) {
.navbar-custom {
	padding: 25px 0;
	-webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	transition: padding 0.3s;
}
.navbar-custom .navbar-brand {
	font-size: 2em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.navbar-custom.affix {
	padding: 10px 0;
}
.navbar-custom.affix .navbar-brand {
	font-size: 1.5em;
}
}
section {
	padding: 60px 0;
}
section h2 {
	margin: 0;
	font-size: 3em;
}
section.success {
	background: #ea0e28;
	color: white;
}
.main-video {
	margin-top: 40px;
}
.p-y-2 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.p-y-3 {
	padding-top: 45px;
	padding-bottom: 45px;
}
.m-b-1 {
	margin-bottom: 18px;
}
.m-t-1 {
	margin-top: 18px;
}
/*==========================================================
                           counter section style
   ============================================================*/

.main_counter_area .main_counter_content .single_counter {
	color: #ccc;
}
.main_counter_area .main_counter_content .single_counter i {
	font-size: 36px;
}
.single_counter img {
	float: right;
}
.single_counter h2 {
	color: #ea0e28;
	text-align: left;
}
.single_counter.p-y-2.m-t-1 > p {
	text-align: left;
	color: #585858;
}
.single_counter {
	border-left: 2px solid #ea0e28;
	padding-left: 20px;
}
.talentdiscover {
	background-image: url("../img/backgroud-talent.png");
	background-repeat: no-repeat;
	background-position: 60% 100%;
}
.btn-red {
	background: #ea0e28;
	color: #fff;
	font-size: 30px;
	padding: 10px 25px;
}
.btn-red:hover, .btn-red:focus {
	background: #fff;
	color: #ea0e28;
	font-size: 30px;
	padding: 10px 25px;
}
.talentdiscover h2 {
	color: #fff;
	margin-bottom: 30px;
	font-size: 44px;
	font-weight: 500;
	text-transform: capitalize !important;
}
#newsletterform {
	margin-top: 50px
}
#newsletterform .btn.btn-success.btn-lg {
	background: #f6514c none repeat scroll 0 0;
	border: medium none;
	border-radius: 50px;
	left: -75px;
	padding: 30px 50px;
	position: absolute;
}
#newsletterform .form-control {
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 50px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555555;
	display: block;
	font-size: 16px;
	height: 80px;
	line-height: 1.42857;
	padding: 6px 30px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
footer {
	background-color: #262626;
	min-height: 350px;
	font-family: 'Open Sans', sans-serif;
}
.footerleft {
	margin-top: 50px;
	padding: 0 36px;
}
.logofooter {
	margin-bottom: 10px;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
}
footer p {
	color: #fff;
	font-size: 12px !important;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 15px;
}
footer p i {
	width: 20px;
	color: #999;
}
.paddingtop-bottom {
	margin-top: 50px;
}
.footer-ul {
	list-style-type: none;
	padding-left: 0px;
	margin-left: 2px;
}
.footer-ul li {
	line-height: 29px;
	font-size: 12px;
}
.footer-ul li a {
	color: #a0a3a4;
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
}
.footer-ul i {
	margin-right: 10px;
}
.footer-ul li a:hover {
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
	color: #ff670f;
}
.social:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.icon-ul {
	list-style-type: none !important;
	margin: 0px;
	padding: 0px;
}
.icon-ul li {
	line-height: 75px;
	width: 100%;
	float: left;
}
.icon {
	float: left;
	margin-right: 5px;
}
.copyright {
	min-height: 40px;
	background-color: #0f0f0f;
}
.copyright p {
	text-align: left;
	color: #FFF;
	padding: 10px 0;
	margin-bottom: 0px;
}
.heading7 {
	font-size: 18px;
	font-weight: 700;
	color: #d9d6d6;
	margin-bottom: 22px;
}
.post p {
	font-size: 12px;
	color: #FFF;
	line-height: 20px;
}
.post p span {
	display: block;
	color: #8f8f8f;
}
.bottom_ul {
	list-style-type: none;
	float: right;
	margin-bottom: 0px;
}
.bottom_ul li {
	float: left;
	line-height: 40px;
}
.bottom_ul li:after {
	content: "/";
	color: #FFF;
	margin-right: 8px;
	margin-left: 8px;
}
.bottom_ul li a {
	color: #FFF;
	font-size: 12px;
}
/*** Profile page ***/
 
 /* Tabs panel */
.tabbable-panel {
    
    display: table;
    width: 100%;
    background: #f5f5f5;
}
.right-sidebar .nav-tabs>li.active>a, .right-sidebar.nav-tabs>li.active>a:focus, .right-sidebar.nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color:none;
    border-bottom-color: transparent;
}
.right-sidebar ul.nav.nav-tabs {
    background: #ccc;
}
ul.card-subtitle-cont {
	list-style: none;
	margin: 0px !important;
	padding: 0px !important;
}
.card-img img {
	max-height: 190px;
	width: 100%;
	min-height: 190px;
}
h4.card-title {
	font-size: 18px;
	font-weight: 500;
	margin: 10px 0;
}
li.card-subtitle {
	margin-right: 5px;
	display: inline-block;
}
.show-box {
	margin-bottom: 15px;
}

.profile-information img {
    min-height: 129px;
    border: 4px solid #fff;
    margin-left: 15px;
}
.user-details { margin-top:2vh;}
.user-details p {
    font-size: 16px;
}
.right-section {
    min-height: 100vh;
    background: #f5f5f5;
}
.right-sidebar {
    background: #3d4db0;
    display: table;
    width: 100%;
    color: #fff;
    min-height: 100vh;
}
.right-sidebar .username-heading {
    text-align: center;
    background: #2335a1;
    margin: 0px auto 15px;
    padding: 15px 0;
    color: #fff;
    font-size: 24px;
}
.stats-icon-followers {
	background: url(../img/follwers.png);
	height: 26px;
	width: 26px;
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.stats-info {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 20px;
    background: #2335a1;
    display: inline-block;
    width: 100%;
}
.talent-field  a { color:#fff; font-size:16px;}
.talent-on-web .fa { color:#fff; }
.about-user p { font-size:14px;} 
.profile-sidebar-label { padding:10px 20px; }
.profile-sidebar-label h3 { font-size:16px; font-weight:500; margin:10px 0;}
.account-created-date p {
    font-size: 13px;
}
.web-list li {
    display: inline;
    margin-right: 20px;
    font-size: 24px;
}
.talent-field a:after {
content: ", ";
color: #aaa;
}
.stats-icon-following {
	background: url(../img/following.png);
	height: 26px;
	width: 26px;
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.profile-statics {
	font-size: 18px;
	line-height: 2;
}
.btn-follow{
    background: red;

    border-radius: 50px;
    padding: 5px 45px;
    font-size: 18px;
}
.btn-messaage  {
    background: white;

    border-radius: 50px;
    padding: 5px 35px;
	color:red;
    font-size: 18px;
}
.btn-messaage i { margin-right:5px;
}
.profile-userbuttons {
    text-align: center;
    margin: 20px auto 0;
}
.right-sidebar hr { border:1px solid #7e8ff6; margin:5px 0;}
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
    margin-left: 3vh !important;
    font-size: 16px;
}
/* Default mode */
.tabbable-line > .nav-tabs {
	border: none;
	margin: 0px;
}
.tabbable-line > .nav-tabs > li {
	margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
	border: 0;
	margin-right: 0;
	color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
	color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
	border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
	border: 0;
	background: none !important;
	color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
	color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
	margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
	border-bottom: 4px solid #f3565d;
	position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
	border: 0;
	color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
	color: #404040;
}
.tabbable-line > .tab-content {
	margin-top: -3px;

	border: 0;
	border-top: 1px solid #eee;
	padding: 15px 0;
}
.nav-tabs>li.active>a { background:none;}
.portlet .tabbable-line > .tab-content {
	padding-bottom: 0;
}
/*login page*/

/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */

#login-form  .form-wrap {
    margin: 0 auto;
	padding: 5vh;
}
.right-input-section  h3 {
    color: #000;
    font-size: 16px;
	padding-bottom: 20px;
	font-weight:500;
}
#login-form  .form-group {
    margin-bottom: 25px;
}
#login-form  .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login-form  .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login-form .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login-form  .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login-form  .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 10px;
}
#login-form  .forget {
    color: #000000;
    display: block;
    font-size: 14px;
}
.already-account {
    font-size: 16px;
}
.register-heading h2 {
    color: #0d164d;
    font-size: 36px;
}
#login-form  .form-control {
    background: #e8e8e8 none repeat scroll 0 0 !important;
    border: medium none;
    box-shadow: none;
    border-radius: 0px;
}
#login-form  .submit-button {
    background: #ea0e28;
    color: #fff;
    max-width: 205px !important;
    border-radius: 0px;
    font-size: 18px !important;
}
.left-social-section {
    border-right: 1px solid #cccccc;
    padding: 10vh 0;
    text-align: center;
}
.omb_btn-facebook {
    background: #3c66c4 none repeat scroll 0 0;
    border-radius: 0;
    color: #ffffff;
    margin: 15px auto ;
    max-width: 250px;
}
.omb_btn-google {
    background: #cf4332 none repeat scroll 0 0;
    border-radius: 0;
    color: #ffffff;
 	margin: 15px auto ;
    max-width: 250px;
}
.omb_socialButtons i {
    margin-right: 2em;
}

div#maincontent {
	outline: none;
}
#user_time_zone option {
    font-size: 12px;
}


/***Profile edit*/
 .inner-header {
    background: #cccccc none repeat scroll 0 0;
    padding: 15px;
}

.edit-left-section { margin-top:10vh;}
.admin-content {}

.nav.nav-profile .active {
    background: #d6d6d6 none repeat scroll 0 0;
}
.nav.nav-profile {
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.nav.nav-profile li {
    border-bottom: 1px solid #cccccc;

}
.admin-content {
    border: 1px solid #cccccc;
    border-radius: 5px !Important;
}
.nav-profile a, .nav-profile  a:hover, .nav-profile  a:focus, .nav-profile  a:active, .nav-profile  a.active {
    color: #000000;
}
.admin-content h2 {
    background: #0d164d none repeat scroll 0 0;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 15px;
    text-transform: capitalize;
	border-radius:5px 5px 0 0;
	margin:0;
}

.nav-profile li {
    font-size: 16px;
    margin: 0;
}
.edit-left-section .nav > li > a {
    display: block;
    padding: 15px;
    position: relative;
}
.upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
	cursor:pointer;
}
.form-inner { padding:0 15px;}
#change-password .form-inner {
    padding: 30px;
}

.left-profile-image {
    border-right: 1px dotted #cccccc;
    margin: 5vh 0;
    min-height: 400px;
}
.right-editinfo {  margin: 5vh 0;}

.file-upload {
    display: none !important;
}
.upload-button {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    bottom: -1px;
    color: #ffffff;
    display: block;
    left: 0;
    margin: auto;
    padding: 10px;
    position: absolute;
    right: 0;
    max-width: 40px;
}
.camera-image {
    margin: 0 auto;
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: block;
    background-color: #fff;
    border: 1px solid #0d164d;
}
.camera-image .profile-pic {
    height: 100%;
    max-width: 100%;
    display: block;
    position: relative;
    margin: auto;
}
.img-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    margin: auto;
    margin-left: 0;
}
.img-circle .profile-pic {
    height: 100%;
    max-width: 100%;
    display: block;
    position: relative;
    margin: auto;
	border: 0 !important;
}
.twitter-typeahead { display:initial !important; }
	.sub-search-section .bootstrap-tagsinput {line-height:40px;display:block !important;}
	  .sub-search-section .bootstrap-tagsinput .tag { background: #0D174D; padding: 10px; border-radius: 4px; font-size: 14px; }
	.tt-hint {top:2px !important;}
	.tt-input{vertical-align:baseline !important;}
	.typeahead { border: 1px solid #CCCCCC;border-radius: 4px;padding: 8px 12px;width: 300px;font-size:1.5em;}
	.tt-menu { width:300px; }
	span.twitter-typeahead .tt-suggestion {padding: 10px 20px;	border-bottom:#CCC 1px solid;cursor:pointer;}
	span.twitter-typeahead .tt-suggestion:last-child { border-bottom:0px; }
	.demo-label {font-size:1.5em;color: #686868;font-weight: 500;}
	
	.bootstrap-tagsinput{width:100%;}
	
	
	#form1 {
    display : none;
}
button {
    margin-bottom: 10px;
}
.social-links-list ul {
    list-style: outside none none;
    padding: 0 30px;
}
.social-links-list ul li {
	line-height:4;
	border-bottom:1px solid #CCCCCC;	
}
.closebtn {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #cccccc;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.social-icon {
    display: inline;
}
.right-social-url {
    display: inline;
}
.pull-right #signup {
    line-height: 1;
    margin: 10px auto 20px 0;
}
#form1 .form-control {
    display: inline-block;
    margin-right: 2%;
    width: 80%;
}
#signup > button {
  background: #0057f7 none repeat scroll 0 0;
  border: medium none;
  border-radius: 50px;
  color: #ffffff;
  margin-top: 2px;
  padding: 10px 20px;
  float:right;
}
.view-more-btn {
    display: inline-block;
    margin-top: 10px;
}
.social-icon i {
  background: #3c3c3c none repeat scroll 0 0;
  border-radius: 50%;
  color: #ffffff;
  height: 30px;
  line-height: 2.5;
  margin-right: 10px;
  text-align: center;
  width: 30px;
}
.profile-information {
	 position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.profile-information:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}






.button {
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 10px;
    transition: opacity 0.35s ease 0s;
}

.button a {
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    width: 0;
    z-index: 1;
}

.container:hover .button {
  opacity: 1;
}

.back-profile {
    background: #ea0e28 none repeat scroll 0 0;
    border-radius: 50px;
    color: #ffffff;
    float: right;
    font-size: 16px;
    margin-top: 1vh;
    padding: 10px 25px;
}
.back-profile:hover {

    color: #ffffff;
	text-decoration:none;}
.editprofile a { background:#ea0e28;}	
/***Profile edit*/


#myprofile {
    margin-top: 20vh;
	  margin-bottom: 10vh;
}
#login-page{margin-top: 25vh;
	  margin-bottom: 10vh;}
	  
#signup-page {margin-top: 25vh;
	  margin-bottom: 10vh;}
	  
#profile-edit {
    margin-bottom: 10vh;
    margin-top: 80px;
}

/*-- 26-9-17 --*/
/*-- 26-9-17 --*/
/*-- 26-9-17 --*/
/*-- 26-9-17 --*/


#myAssetsUpload .nav-pills>li>a .list-group-item-heading{font-size:14px;}
#myAssetsUpload .nav-pills>li.active>a, #myAssetsUpload .nav-pills>li.active>a:focus, #myAssetsUpload .nav-pills>li.active>a:hover{
    color: #fff;
    background: #687ddb;
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.1);
    font-size:14px;
	border:1px solid #687ddb;
}
#myAssetsUpload .back-profile, #myAssetsUpload .btn.btn-primary.btn-lg {
    color: #fff;
    background: #687ddb;
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    border: 1px solid #687ddb;
    border-radius: 50px;
    float: none;
    margin-right: 15px;
    min-width: 80px;
    padding: 5px 15px !important;
    line-height: 1.4em;
    height: 35px;
}
.fileuploader-input .fileuploader-input-button {
    margin-top: 10px;
    margin-bottom: 11px;
}


/* footer social icons */
.head-line-text {
    font-size: 20px;
    margin: 20px 0;
    text-transform: capitalize;
    font-weight: 600;
}
.personal-info .input-group {
    display: table;
    border-collapse: separate;
    margin-bottom: 15px;
}
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoFacebook {
	background-color:#3B5998;
}
.social-network a.icoTwitter {
	background-color:#33ccff;
}
.social-network a.icopinterest {
	background-color:#ff0000;
}
/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:##0d164d;
}
.social-network a.icoTwitter:hover {
	background-color:##0d164d;
}
.social-network a.icopinterest:hover {
	background-color:##0d164d;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icopinterest:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.right-section .nav-tabs>li.active>a{border:0;}
.add-video-btn li:hover {
	border:none !important;
	background-color:transparent;
}
.add-video-btn li a {
	display: inline-block !important;
}
i.fa.fa-video-camera, i.fa.fa-plus {
    color: #ea0e28 !important;
}
.margin-t30{margin-top:50px;}
.card.cart-block, .card-img.link {
    display: block;
    width: 100%;
    position: relative;
}
.card-img.link video {
    display: block;
    vertical-align: middle;
    width: 100%;
    height: 330px;
border-radius: 10px;	
}
.bootstrap-tagsinput .twitter-typeahead {
    display: inline-block !important;
}
.bootstrap-tagsinput pre {
    display: block;
    padding: 5px 10px;
    margin: 0;
    font-size: 13px;
    line-height: 1.6;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
}
.bootstrap-tagsinput span.twitter-typeahead .tt-suggestion {
    padding: 10px 6px 10px;
    border-bottom:0;
    cursor: pointer;
	background-color: #fff;
    border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom:0;
	border-top:0;
	width: 100%;
}
.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: 100%;
    max-width: inherit;
	vertical-align: middle !important;
}
.bootstrap-tagsinput .tt-menu {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 0;
	min-width: 300px;
	position:absolute;
	right:0;
	margin:auto;
}
.right-sign-menu{margin-top:15px;}
i.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 4px;
}

a, img, button, div, input, select, option, td, span{outline:none !important;}
	  
	  
	  
	/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 737px) {
/* Styles */

	  
	  #newsletterform .form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 50px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: inline;
    font-size: 15px;
    height: 60px;
    line-height: 1.42857;
    padding: 6px 30px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
#newsletterform .btn.btn-success.btn-lg {
    background: #f6514c none repeat scroll 0 0;
    border: medium none;
    border-radius: 50px;
    left: 0;
    padding: 20px 10px;
    position: relative;
    width: 100%;
}
.main-head-banner {
    text-align: center;
    background: url(../img/banner.png);
    color: white;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2px;
    background-size: cover;
    background-position: 90% 0;
}
.navbar-brand {
    float: left;
    padding: 4px 15px;
    font-size: 18px;
    line-height: 22px;
    height: 40px;
}
}


.user-cls-div{text-align:center; margin-top: 10px; margin-bottom:10px;}
.user-cls-div figure{ height: 100px; width: 100px; margin: auto; }
.user-cls-div figure img{width:100%; height: 100%; border-radius: 100%; object-fit: cover;}
.user-cls-div h2{ font-size: 15px; font-weight: normal; margin-top: 8px; }

.user-cls-div .btn-follow{background: #5d669d; color: #fff;}
.user-cls-div .btn-unFollow{background: #ea0e28; color: #fff;}

.user-cls-div .btn-follow:hover, .user-cls-div .btn-unFollow:hover{opacity:0.9;}
.pic-gall-cls{ height: 140px; margin-bottom: 25px; border: 1px solid #CDC;}
.pic-gall-cls img{width:100%; height:100%; object-fit: cover; object-position: top;}


/*By Sahil Wason*/
.search-section .search-text { color:#fff; font-family:'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:20px; margin:15px auto; text-transform:capitalize; }
.searchresult-section .search-text { color:#000; font-family:'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:20px; margin:15px auto; text-transform:capitalize; }


.timeline-cls-sty{padding:15px; position: relative; border-bottom: 1px solid #dcdcdc;}
.timeline-cls-sty figure{position: absolute; left: 14px; top: 15px; }
	
.timeline-cls-sty figure img{height:80px; width: 80px;}
.timeline-cls-sty .desc-timeline-cls{padding-left:7em;}
.desc-timeline-cls h3{font-weight: normal; font-size:20px;}
.desc-timeline-cls p{font-size:16px;}
.desc-timeline-cls .com-hear-cls  {margin-top:7px;}
.desc-timeline-cls .com-hear-cls a{color:#9d9d9d; font-size: 16px;}

.commemt-cls-div { position: relative; padding-left: 6em; margin-top: 20px; border-bottom: 1px solid #e0e0e0; padding-bottom: 25px; }
.commemt-cls-div:last-child{border:none; }
.commemt-cls-div figure{left:0; top:0;}
.commemt-cls-div figure img{height:70px; width:70px;}
.commemt-cls-div h4{font-weight:100; margin-bottom: 8px; text-transform: capitalize;}
.commemt-cls-div p{margin-bottom: 0;}

#video_desc{font-size:16px; margin-top:5px;} 
#video_tags li{background:#ff6060; color:#fff; padding: 5px 16px; border-radius: 34px;}

#video_tags input{margin-left: 53px; width: 90%;}


.pop-comment-cls{position:relative; margin-top:14px;}
.pop-comment-cls figure{width: 40px; height: 40px; border-radius: 40px; position:absolute; top:0; left:0;}
.pop-comment-cls figure img{width: 100%; border-radius: 40px; object-fit: cover; height: 100%;}
.pop-comment-cls textarea{width:92%; margin-left:52px; resize: none; overflow: auto;}
.pop-comment-cls hr{margin:15px 0 10px;}
.input-comm-cls, .comment-up-pro{position:relative;}
.update-comment-desc{margin-left:52px;}
.update-comment-desc h2{ margin: 8px 0 0; font-size: 16px; font-weight: normal; display: inline-block; }
.update-comment-desc p{font-size: 14px; margin-top:2px; margin-bottom:4px;}
.update-comment-desc span{margin-left: 5px; font-weight: 600; color: #ff6060; }

/*.comment-update-cls{height: 190px; overflow-y: auto;} */


#tags_2_tagsinput{min-height: inherit !important; height: 45px!important;}
#tags_2_addTag #tags_2_tag{width:120px !important;}
.tag-list-cls{margin-top:12px;}
.tag-list-cls ul li{background: #000; color: #fff; padding: 8px 14px; border-radius: 33px; position:relative;}

.search-sub-cls .tabbable-panel .card-img img{max-height: 250px; object-fit: cover; object-position: top;}
.search-sub-cls .card.cart-block{margin-bottom:5px;}
.search-section.sub-search-section{margin-top:78px;}

.user-cls-div{text-align:center; margin-top: 10px; margin-bottom:10px;}
.user-cls-div figure{ height: 100px; width: 100px; margin: auto; }
.user-cls-div figure img{width:100%; height: 100%; border-radius: 100%; object-fit: cover;}
.user-cls-div h2{ font-size: 15px; font-weight: normal; margin-top: 8px; }

.user-cls-div .btn-follow{background: green; color: #fff;}
.user-cls-div .btn-unFollow{background: red; color: #fff;}

.user-cls-div .btn-follow:hover, .user-cls-div .btn-unFollow:hover{opacity:0.9;}

.search-section { background: #ea0e28; margin-top: 80px; padding: 30px 0; }
  .advance-search{  background: #fff; padding-left: 10px;
    min-height: 50px;
    margin-left: 10px;
    width: 100%;
    margin: 0 auto;
    border:none;
    }
	

.scrollbar-des {
   height:calc(100vh - 200px);
    overflow-y: scroll;
    overflow-x: hidden;
}



.scrollbar-des::-webkit-scrollbar {
    width: 8px;
}

.scrollbar-des.thin::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ff6060;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100,100,100,0.4); 
}

.scrollbar-des::-moz-scrollbar {
    width: 8px;
}

.scrollbar-des.thin::-moz-scrollbar {
    width: 2px;
}

::-moz-scrollbar-track {
    border-radius: 10px;
    background: #eee;
}

::-moz-scrollbar-thumb {
    border-radius: 10px;
    background: #ff6060;
}
::-moz-scrollbar-thumb:window-inactive {
    background: rgba(100,100,100,0.4); 
}

.personal-info .bootstrap-tagsinput .label-info {
    background-color: #3097D1;
	padding: 6px 8px;

   display: inline-block;
}

.social-links-list .social-icon i{line-height: 28px;}
.comment-update-cls.scrollbar-des{height:160px;}



 .like-modal-cls ul li{border-bottom:1px solid #ececec; position:relative; padding-bottom: 22px; margin-bottom:20px;}
.like-modal-cls ul li figure{height:40px; width:40px; position: absolute; z-index: 99; top: 0; left: 0px;}
.like-modal-cls ul li figure img{height:100%; width:100%; object-fit:cover; object-position:top; border-radius: 50px;}
.like-modal-cls ul li h3{ margin: 10px 0 0 50px; font-weight: normal; font-size: 16px; display:inline-block;}
.scroll-cls-sty{height: 356px; overflow-y: scroll;}
.card-subtitle-cont li.card-subtitle i{margin-right:3px; cursor:pointer;}


.like-modal-cls h4{font-weight:normal;}
span.asset_like_unlike, span.asset_like_count, li.showVideo{
	cursor: pointer;}
	
.comment-update-cls.scrollbar-des	{height:150px;}

/*Custom By Sachin*/
.error{color: red;
	}
@media (min-width: 320px){
.aside-xl {
    width: 300px;
	padding-top: 15px;
}
.panel .list-group-item {
    border-color: #f0f0f0;
}

.list-group-item.media {
    margin-top: 0;
}
.notifications-cont a.list-group-item, .notifications-cont button.list-group-item {
    color: #555 !important;
	font-size:12px;
	font-weight:200 !important;
	text-transform: initial;
}
.notifications-cont .panel-footer.text-sm a, .notifications-con .navbar-custom {
    color: #999999 !important;
	font-weight:300 !important;
	text-transform: initial;
}
.notifications-cont .bg-light {
    background-color: #f1f1f1;
    color: #717171;
	font-weight:300 !important;
}
.notifications-cont .aside-xl, .notifications-cont section {
    padding-top: 0px;
	padding-bottom: 0px;
}
.notifications-cont .panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.notifications-cont footer {
    background-color: #262626;
    min-height:auto !important;

}
/*.notifications-cont .dropdown-toggle.dk {color:red !important}*/
/*.notifications-cont .badge{background-color:red !important; color:#fff;}*/
body .notifications-cont span.media-body.block.m-b-none {
    text-transform: capitalize !important;
}
}
.aside-xl{
	max-height: 350px;
	overflow: auto;
}
