
/*************************
*******Typography******
**************************/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  background-color: #fff;
}
@media (min-width:1400px){
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  font-weight:300;
}  
}
h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
}
.fa {
  color: #fff;
}
.h2-heading {font-size: 36px;color: #008751;}
.h22-heading {font-size: 36px;color: #008751;text-transform:uppercase;}
.h4-heading{color:#271207;text-transform:uppercase;font-size:30px}
#category .h2-heading {
    color: #fff;
    font-size: 36px;
}
.parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.parallax,
.parallax h1,
.parallax h2,
.parallax h3,
.parallax h4,
.parallax h5,
.parallax h6 {
  color: #fff;
}

.parallax input[type="text"],
.parallax input[type="text"]:hover,
.parallax input[type="email"],
.parallax input[type="email"]:hover,
.parallax input[type="url"],
.parallax input[type="url"]:hover,
.parallax input[type="password"],
.parallax input[type="password"]:hover,
.parallax textarea,
.parallax textarea:hover {
  font-weight: 300;
  color: #fff;
}

.btn {
  border: 0;
  border-radius: 0;
}

.btn.btn-primary:hover {
  background-color: #017fb5;
}

.navbar-nav li a:hover, 
.navbar-nav li a:focus {
  outline:none;
  outline-offset: 0;
  text-decoration:none;  
  background: transparent;
}

a {
  text-decoration: none;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus, 
a:hover {
  text-decoration: none;
  outline: none
}
#home .main-nav {
  background: rgb(12, 6, 4) none repeat scroll 0 0;
  padding: 30px 0;
}
.main-nav .nav > li {
  display: block;
  position: relative;
  color: #fff;
}
.main-nav .fa.fa-envelope {
  font-size: 30px;
  padding-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.main-nav .fa.fa-phone {
  font-size: 30px;
  padding-top: 10px;
  margin-left: 15px;
  margin-right: 0px;
}

section {
  padding: 90px 0;
}

.heading {
  padding-bottom:90px;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: #fff;
}

.preloader > i {
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  top: 50%;
  left: 50%;
  height: 36px;
  width: 36px;
  margin-top: -15px;
  margin-left: -15px;
  display: inline-block;
}

#box{
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    border-radius: 4px;
    top:50px;
}
#signupbox .form-horizontal .control-label {
  color: #000;
  text-align: left;
  font-weight: 400;
  font-size: 15px;
  padding-top: 0;
}
#signupbox .form-control {
  border: 1px solid #ccc;
  padding: 0px 10px;
  height: 35px;
}
.modal-dialog {
    margin: 90px auto;
    width: 600px;
}
.modal-footer {
    border-top: 0px solid #e5e5e5;
    padding: 15px;
    text-align: right;
}
/*************************
********Home CSS**********
**************************/
#home-slider {
  overflow: hidden;
  position: relative;
}

#home-slider .caption {
  position: absolute;
  top: 50%;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 15;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

#home-slider .caption h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}

.caption .btn-start {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding:14px 40px;
  border: 1px solid #008751;
  border-radius: 4px;
  margin-top: 40px;
  background-color:#008751;
}

.caption .btn-start:hover {
  color: #fff
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2037px;
}

.carousel-fade .carousel-inner .item:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.7);
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.left-control, .right-control {
  position: absolute;
  top: 50%;
  height: 51px;
  width: 51px;
  line-height: 48px;
  border-radius: 50%;
  border:1px solid #fff;  
  z-index: 20;
  font-size: 24px;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.left-control {
  left: -51px
} 

.right-control {
  right: -51px;
}

.left-control:hover, 
.right-control:hover {
  color: #fff;
}

#home-slider:hover .left-control {
  left:30px
} 

#home-slider:hover .right-control {
  right:30px
}

#home-slider .fa-angle-down {
  position: absolute;
  left: 50%;
  bottom: 50px;
  color: #fff;
  display: inline-block;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  line-height: 24px;
  z-index: 999;
  -webkit-animation: bounce 3000ms infinite;
  animation: bounce 3000ms infinite;
}

.navbar-right li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-right li.active a {
  background-color: rgba(0,0,0,.2);
}

.navbar-brand h1 {
  margin-top: 5px;
}

/*************************
********Service CSS*******
**************************/

.service-icon {
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 36px;
  height: 90px;
  line-height: 90px;
  width: 90px;  
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  position:relative;
  border-radius: 50%;
  z-index: 100;
}
.service-info {
  background-color: #fafafa;
  border-bottom: 2px solid #008751;
  display: block;
  height: 100%;
  margin-top: -45px;
  padding-top: 35px;
  position: relative;
  z-index: 10;
}
.flate-icon {
  max-width: 40px;
  max-height: 40px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.our-services .col-sm-4:hover .service-icon {
  background-color: #333;
}

.our-services .col-sm-4 {
  border-right:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2;
  padding-bottom: 50px;
}

.our-services .col-sm-4:nth-child(4), 
.our-services .col-sm-4:nth-child(5), 
.our-services .col-sm-4:nth-child(6) {
  border-bottom:0;
  padding-top: 60px;
}

.our-services .col-sm-4:nth-child(3), 
.our-services .col-sm-4:nth-child(6) {
  border-right:0;
}

.service-info h3 {
  color: #008751;
  font-weight: 600;
  margin-top: 35px;
}

/*************************
********discover CSS*******
**************************/

#discover {
  background-color: #008751;
  text-align: center;
  color:#fff;
}

/*************************
********two-col-cont CSS*******
**************************/

#two-col-cont {
  background-color:#;
  text-align: center;
  color:#fff;
}
.two-col-cont {
  display: block;
  margin: 0 auto;
  padding: 20px 40px;
  width: auto;
}
.col-sm-6.sm-margin-b-4 {
  margin-left: -15px;
  margin-right:0px;
}
@media (max-width:1300px){
.h22-heading {
  font-size: 32px;
  text-transform: uppercase;
}
}


/*************************
********newsletter CSS*******
**************************/
#newsletter-cont {
  background-image: url(../images/about-bg.jpg);
  padding: 60px 0;
}

#newsletter-cont h2 {
  margin-top: 0;
  color: #fff;
}

#newsletter-cont .lead {
  font-size: 16px;
  margin-bottom: 10px;
}

#newsletter-cont h1 {
  margin-bottom: 30px;
}
#newsletter-container h3 {
font-size: 25px;
line-height: 46px;
color: #fff;
text-transform: uppercase;
margin: 0;
}

h3 {
font: 19px/38px Arial,sans-serif;
margin: 50px 0 20px;
color: #e3e3e3;
text-transform: uppercase;
}

#newsletter-container form {
float: none;
}

#newsletter-container input[type=text] {
height: 46px;
width: 300px;
vertical-align: top;
margin-right: 5px;
border-radius: 4px;
border: 0px solid #84bb26;
background: #fff;
line-height: 20px;
padding: 5px 10px 5px 20px;
color: #3e3e3e;
}

input, select, textarea {
outline: 0;
}

#newsletter-container .btn {
padding: 12px 50px;
font-size: 17px;
line-height: 20px;
border-radius: 4px;
}

.btn-custom-3 {
color: #fff;
background-color: #008751;
border-color: #008751;
-webkit-box-shadow: inset 0 0px 0px rgba(255,255,255,.4);
box-shadow: inset 0 0px 0px rgba(255,255,255,.4);
}

.btn-custom-3:hover {
color: #fff;
background-color: #0c0604;
border-color: #0c0604;
-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
}


::selection {
background-color: #7bae23;
color: #fff;
}



/*************************
*********social-icons CSS*********
**************************/

.social-icons {
  margin-top:30px;
  text-align: center;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social-icons ul li {
  float: left;
  margin-right: 8px;
}

.social-icons ul li:last-child {
  margin-right: 0;
}

.social-icons ul li a {
  color:#fff;
  background-color: #d9d9d9;
  height: 36px;
  width: 36px;
  line-height: 36px;
  display: block;
  font-size: 16px;
  opacity: 0.8;
}

.social-icons ul li a:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


/*************************
*****category Table CSS****
**************************/

#category {
  background-color: #008751;
  color: #fff;
  text-align: center;
}
.category-table {
  text-align: center;
}
.category-icon {
  background-color: #004328;
  float: left;
  height: 100px;
  position: relative;
  text-align: center;
  width: 100px;
  display: table-cell;
  border-radius:4px;
  border:1px solid #004328;
}
.category-icon .category-cont {
  bottom: 0;
  height: 65px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 65px;
}
.category-content {
  display: table-cell;
  padding-left: 15px;
  text-align: left;
  vertical-align: top;
  padding-bottom: 70px;
}
.category-content h3{
	color: #fff;
    font-size: 18px;
    margin: 0;
	text-transform: capitalize;
}
.category-content p{
	color: #fff;
    font-size: 14px;
    margin: 0;
}
.single-table {
  padding: 30px 20px 20px;
  border:1px solid #f2f2f2;
}

.single-table h3 {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.price {
  font-size: 36px;
  line-height: 36px;
}

.price span {
  font-size: 14px;
  line-height: 14px;
}

.single-table ul {
  list-style: none;
  padding: 0;
  margin: 30px 0;
}

.single-table ul li {
  line-height: 30px;
}

.single-table.featured {  
  color: #fff;
}

.single-table.featured h3 { 
  color: #fff;
}

.single-table.featured .btn.btn-primary {
  background-color: #fff;
}




/*************************
**********Blog CSS********
**************************/

.post-thumb {
  position: relative;
}

.post-icon {
  position: absolute;
  top:10px;
  right:10px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius:4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.post-meta {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.post-meta span {
  margin-right: 16px;
}

#post-carousel .carousel-indicators {
  bottom: 3px;
  left: 90%;
}

.blog-left-control, .blog-right-control {
  position: absolute;
  top: 45%;
  width: 30px;
  text-align: center;
  color: rgba(255,255,255,.7);
  font-size: 36px;
}

.blog-left-control {
  left: 0;
}

.blog-right-control {
  right: 0;
}

.blog-left-control:hover, .blog-right-control:hover {
  color: #fff;  
}

.entry-header h3 a {
  line-height: 30px;
}

.entry-header .date, 
.entry-header .cetagory {
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
  position: relative;
}

.entry-header .date:after {
  content: "";
  position: absolute;
  left: 0;
  bottom:-22px;
  width: 20px;
  height: 3px;
}

.entry-content {
  font-size: 14px;
}

.load-more {
  display:block;
  text-align: center;
  margin-top: 70px;
}

.btn-loadmore {
  border: 1px solid #f2f2f2;
  color: #666666;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 125px;
  text-transform: uppercase;
}

.btn-loadmore:hover {
  color:#fff;
}


.form-control {
  background-color: transparent;
  border-color: rgba(255,255,255,.1);
  height: 50px;
  border-radius: 0;
  box-shadow: none;
}

textarea.form-control {
  min-height: 180px;
  resize:none;
}

.form-group {
  margin-bottom: 30px;
}

.contact-info {
  padding-left:70px;
  font-weight: 300;
}

ul.address {
  margin-top: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}


.btn-submit {
  display: block;
  padding: 12px;
  width: 100%;
  color: #fff;
  border:0;
  margin-top: 40px;
}

#footer {
  color:#fff;
}
#footer .footer-top.wow.fadeInUp.animated{background-color:#000000;}
.footer-top {
  position: relative;
  padding:30px 0
}

#footer .footer-bottom {
  background-color: #000;
  padding: 20px 0 10px;
  border-top:3px solid #3f3d3d;
}

#footer .footer-bottom a:hover {
  text-decoration: underline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 5px;
}

#footer .social-icons {
  margin-top: 15px;
}

#footer .social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .social-icons ul li a {
  background-color: rgba(51,51,51,.9);
  border-radius: 50%;
  line-height: 33px;
}

#footer .social-icons ul li a:hover {
  color: #fff
}

#footer .social-icons ul li a.envelope:hover {
  background-color: #CECB26;
}

#footer .social-icons ul li a.facebook:hover {
  background-color: #3b5999;
}
#footer .social-icons ul li a.twitter:hover {
  background-color: #2ac6f7;
}
#footer .social-icons ul li a.dribbble:hover {
  background-color: #ff5b92;
}
#footer .social-icons ul li a.linkedin:hover {
  background-color: #036dc0;
}
#footer .social-icons ul li a.tumblr:hover {
  background-color: #ff6b00;
}

/*Presets*/

