<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" />
  <title>{% block title %}{{title}}!{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<style>
/*bootstrap*/
.sub-total1 {
    background: #fdfdfd;
    padding: 10px;
    box-shadow: 1px 1px 6px 0px #ccc;
    border-radius: 5px;
}
.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}


.x_content,.x_panel{position:relative;width:100%}.x_panel{margin-bottom:10px;padding:10px 17px;display:inline-block;background:#fff;border:1px solid #E6E9ED;-webkit-column-break-inside:avoid;-moz-column-break-inside:avoid;column-break-inside:avoid;opacity:1;transition:all .2s ease}.x_content{padding:0 5px 6px;float:left;clear:both;margin-top:5px}.text-right{text-align:right}
.clearfix{clear:both}caption,th{text-align:left}.table,label{max-width:100%}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.row{margin-right:-15px;margin-left:-15px}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-right:15px;padding-left:15px}.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1200px){.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}
/*mail sytle*/
#Eimage-holder,#image-holder{border:1px solid #ECECEC;text-align:center}#Eimage-holder img,#image-holder img{width:100px}.validateError+.form-control-feedback{margin-top:-18px}.logoImg img{width:18%;border:1px solid gray;border-radius:8px}.orgAddress p{font-weight:700;margin:0}.dropdown-toggle .filter-option{color:#fff}.create_new_account_heading{background:#eff1f0;border-top-left-radius:5px;border-top-right-radius:5px}.close{background:rgba(0,0,0,0);border:2px solid #000!important;border-radius:50%;cursor:pointer;height:30px;opacity:1;padding:0;width:30px}.create_new_account_heading h4{font-size:12px;padding:6px 0 0;text-align:center;text-transform:uppercase;color:#000;font-weight:500}.popup_p,.usr,.usr1{color:#8a95a5;font-size:12px;font-weight:500}.add_heading{width:100%;float:left}.popup_p{margin-bottom:2px;padding:1px 0 7px}.body_hr{background-color:#0095e6;border-color:#0095e6;height:1.5px;margin:0 0 20px;width:115px}.tax_input_fields{float:left;margin-bottom:15px;padding-left:15px;padding-right:15px;width:50%}.usr1{border:1px solid #cfcfcf;border-radius:5px;padding:10px;width:100%}.remember>input+label{background-image:url(../images/unchecked.png);background-position:2px 2px;background-repeat:no-repeat;color:#002137;cursor:pointer;font-size:12px;text-transform:uppercase;font-weight:500;margin-bottom:0;padding-left:24px}.remember>input:checked+label{background-image:url(../images/checked.png);opacity:1}.remember>input{display:none}.tax_num{font-size:10px!important;font-weight:400!important}.tax_btns{padding:22px 0 10px;width:100%;display:inline-block}.closetax,.tax_btns>input{color:#fff;font-size:12px;padding:12px 0 15px;text-align:center;transition:all .4s ease 0s;width:49%;text-transform:uppercase;font-weight:500}.tax_btns>input{background:#7dc4f0;border:2px solid #53aae0;border-radius:5px;display:inline-block}.closetax{background:#F78189;border:2px solid #e56366;border-radius:5px;margin:0!important}.filter-option.pull-left{color:#73879C;text-align:center!important}.taxchilds{margin-top:5px;display:block}#selectedProducts .btn-danger,#selectedProducts .btn-success{padding:2px 5px}body #selectedProducts span.select2.select2-container.select2-container--default{width:100%!important}.sub-total1{background:#fdfdfd;padding:10px;box-shadow:1px 1px 6px 0 #ccc;border-radius:5px}.col-xs-5.sub-total1 table tr:last-child{border-top:2px solid #ccc}table#selectedProducts thead{background:#5bc0de;color:#fff}.CustomerSection{width:50%;margin:auto;position:absolute;left:0;right:0;top:12vh;border:0}.sent_main_page,.unsent_main_page{border-radius:5px;color:#fff!important;padding:2px;text-align:center;width:80px;line-height:30px;float:left}.inovo{position:relative;min-height:150px;display:block}.unsent_main_page{background:#d6932f}.sent_main_page{background:#ad8630}.num1>h1,.num_count1>p{text-align:right;margin:0}.bill_heading{float:left;font-size:15px;font-weight:500;text-transform:uppercase;width:100%;color:#86a0b8}.billto_section>h1{float:left;font-size:12px;width:100%;color:#606060}.billto_section>h2,h3,h4{color:grey;font-size:12px;margin:0 0 3px;width:100%}.num1>h1{font-size:12px;font-weight:500;padding:2px 0;color:#86a0b8}.num_count1>p{color:#8a95a5;font-size:12px;font-weight:400;padding:2px 0}.num_count_t1>p{font-size:12px;color:#86a0b8;text-align:right}.paid_invoice,.sent_invoice,.unsent_invoice{float:left;padding:20px 0 10px;text-align:center;height:150px;width:100%}.unsent_invoice>p{background:#31B0D5;border-radius:50%;color:#fff;display:inline-block;font-size:15px;height:110px;line-height:110px;margin:0;width:110px}.invoiceAmtblock li{line-height:40px;text-align:center}.moreAction .button_drop_down{text-align:left;box-shadow:0 2px 2px rgba(0,0,0,.02),0 4px 36px 4px rgba(0,0,0,.1)}.navbar-right li{display:inline-block;float:right;position:static}.moreAction .dropdown-menu li{width:100%}@-webkit-keyframes NAME-YOUR-ANIMATION{0%,49%{background-color:#1abb9c;border:3px solid #e50000;color:#fff}100%,50%{background-color:#e50000;border:3px solid #1abb9c;color:#fff}}.backtodashboard{-webkit-animation:NAME-YOUR-ANIMATION 1s infinite;-moz-animation:NAME-YOUR-ANIMATION 1s infinite;-o-animation:NAME-YOUR-ANIMATION 1s infinite;animation:NAME-YOUR-ANIMATION 1s infinite;font-size:12px;font-weight:700!important;color:#fff!important}.InvoiceFormArea{padding:5px 15px}.InvoiceFormArea .usr{color:#8a95a5;font-size:12px;font-weight:600}.InvoiceFormArea .show_additional_info{float:left;padding:5px 0 10px;width:100%}.InvoiceFormArea .show_additional_info>a{color:#0079c8;font-size:12px}.InvoiceFormArea .additional_option{float:left;width:100%}.InvoiceFormArea .remember{color:#fff;float:left;padding-bottom:15px;text-align:left;width:100%}.InvoiceFormArea .addinput_fields{font-size:18px;position:absolute;right:7px;top:140px}.InvoiceFormArea .delete_text_box{color:red;position:absolute}.InvoiceFormArea .sendinpit_fields{margin:10px auto}
/*custom css*/

</style>
  </head>
  <body  class="nav-md">
   <div class="container">
     <div class="main_container">
	 <!-- page content -->
        <div class="right_col" role="main" style="margin-left:0px !important;">
          <div class="">
            <div class="row">
              <div class="x_panel">
                <div class="x_content">
                  <div class="logoImg col-sm-6"> <img src="{{rootURL}}theme/images/no-logo.png" title="no logo" width="100px"></div>
				  <div class="orgAddress col-sm-6 text-right"> 
				   <p>{{orgData.firstName}} {{orgData.lastName}}</p>
				   <p>{{orgData.address}}</p>
				   <p>{{orgData.country}}</p>
				  </div>
                </div>
				<div class="clearfix"></div>
             <hr>
                  <div class="x_content">
                    <div class="row">
					
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="width:30%">
						  <div class="row">
							<div class="billto_section">
								<div class="bill_heading">Bill to</div>
								<h1>{{productDetails.customer.firstName| capitalize}} {{productDetails.customer.lastName| capitalize}}</h1>
								{% if(productDetails.customer.address is not empty)%}<h2>{{productDetails.customer.address}}</h2>{% endif %}
								<h3>{{productDetails.customer.phone}}</h3>
								<h4>{{productDetails.customer.email}}</h4>
							</div>
						  </div>
                       </div>
					   <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="width:30%">
						  <div class="row">
							<div class="billto_section">
								<div class="bill_heading">SHIP to</div>
								<h1>{{productDetails.customer.firstName| capitalize}} {{productDetails.customer.lastName| capitalize}}</h1>
								{% if(productDetails.customer.sAddress != "" )%}
  								 <h2>{{productDetails.customer.sAddress}}</h2>
								{% elseif(productDetails.customer.address != "" ) %}
 								 <h2>{{productDetails.customer.address}}</h2>
								{% endif %}
								<h3>{{productDetails.customer.phone}}</h3>
								<h4>{{productDetails.customer.email}}</h4>
							</div>
						  </div>
                       </div>
                      <div class="col-md-4 pull-right" style="width:30%">
				        <div class="number">
						<div class="col-md-6 num1">
							<h1>Invoice Number:</h1>
						</div>
						<div class="col-md-6 num_count1">
							<p>{{productDetails.id}}</p>
						</div>

						<div class="col-md-6 num1">
							<h1>Invoice Date:</h1>
						</div>
						<div class="col-md-6 num_count1">
							<p>{{productDetails.invoiceStart.date|date("F j,Y")}}</p>
						</div>

						<div class="col-md-6 num1">
							<h1>Payment Due:</h1>
						</div>
						<div class="col-md-6 num_count1">
							<p>{{productDetails.paymentDue.date|date("F j,Y")}}</p>
						</div>

						<div class="col-md-6 num1">
							<h1>Amount Due (USD):</h1>
						</div>
						<div class="col-md-6 num_count_t1">
							<p>${{(productDetails.totalAmount + productDetails.totalTax)|number_format(2, '.', ',')}}</p>
						</div>
					</div>
			       </div>
					<div class="clearfix"></div>
					<hr>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <table id="selectedProducts" class="table table-striped" style="width:100%!important;">
                            <thead>
                              <tr>
                                <th>Name</th>
								<th>Image</th>
                                <th>Description</th>                                
                                <th>Quantity</th>
                                <th>Price</th>
								<th>Amount</th>
                              </tr>
                            </thead>
                            <tbody>
							
							<tbody id="prodListing">
							{% if(productDetails.invoiceData is not empty) %}
                            {% for key,invoicePro in productDetails.invoiceData %}  
                            <tr id="product1">
								<td>{{invoicePro.prodName| capitalize}}</td>
								<td><img src="{{rootURL}}uploads/images/products/{{invoicePro.prodimg}}" title="{{invoicePro.prodimg}}" width="60px"></td>
								<td>{{invoicePro.prodDesc}}</td>
								<td>{{invoicePro.prodQty}}<br><div class="text-right"> <strong>Tax</strong></div></td>
								<td>${{invoicePro.prodprice}}<br>
								{% if(invoicePro.taxDetails is not empty) %}
								{% set totalTax = 0 %}
                                  {% for k,taxes in invoicePro.taxDetails %}
								       {% if k > 0 %} , {% endif %}
								      {{taxes.name}}({{taxes.percentage}}%) = {{taxes.amount|number_format(2, '.', ',')}} 
									  {% set totalTax = totalTax + taxes.amount %}
								   {% endfor %}
							    {% endif %}
								</td>
								<td>$<span class="finalAmtTxt">{{(invoicePro.prodQty * invoicePro.prodprice)|number_format(2, '.', ',')}}</span><span class="taxchilds">$<span class="tatalTaxes">{{totalTax|number_format(2, '.', ',')}}</span><br></span></td>
							</tr>
							{% endfor %}
							{% endif %}

							</tbody>	
								
                              
                            </tbody>
                          </table>
					  				 
                        <!-- /.col -->
                      </div>
                    <div class="clearfix"></div>
					<hr>
                      <div class="col-xs-7">
                        
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-5 sub-total1" >
                          <p class="lead">Total Amount</p>
                          <div class="table-responsive">
                            <table class="table">
                              <tbody>
                                <tr>
                                  <th style="width:50%">Subtotal:</th>
                                  <td>$<span id="subTotal">{{productDetails.totalAmount|number_format(2, '.', ',')}}</span><input id="IsubTotal" type="hidden" name="subTotal" value=""></td>
                                </tr>
                                <tr>
                                  <th>Tax</th>
                                  <td>$<span id="taxesVal">{{productDetails.totalTax|number_format(2, '.', ',')}}</span><input id="ItaxesVal" type="hidden" name="taxesVal" value=""></td>
                                </tr>
                                 <tr>
                                  <th>Grand Total:</th>
                                  <td>$<span id="grandTotal">{{(productDetails.totalAmount + productDetails.totalTax)|number_format(2, '.', ',')}}</span><input id="IgrandTotal" type="hidden" name="grandTotal" value=""></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
						
					  <div class="clearfix"></div>
					 </div>
                      </div>
                    </div>
             
                </div>
              </div>
            </div>
          </div>
        </div>
  
      <footer  style="margin-left:0px;>
          <div class="pull-right">
            ©{{ 'now'|date('Y') }} All Rights Reserved. Merchant Services! Privacy and Terms
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
  </body>
</html>