<?php echo $header; ?>
<div id="content" class="<?php echo $class; ?>"></div>
<?php echo $slider; ?>
<!--div class="container">
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?><?php //echo $content_bottom; ?></div>
    <?php echo $column_right; ?></div>
</div-->
<section>
  <div class="container"> 
  
 
  
  
  <div class="row">
  
  <div class="col-xs-12">
  <h3 class="p-tittle">Featured Products</h3>
  
  </div>
  
  
  
  
  
  
<?php echo $content_top; ?>

   
   
  
  
  </div>
  
  
  </div>
  
  
  </section>
  
  <section class="shop-category">
  <div class="container">
  <div class="row">
  
    <div class="col-xs-12">
  <h3 class="p-tittle">Shop by category</h3>
  
  </div>
  
  <div class="col-xs-12">
  <div class="row">
<?php if(count($category_info)>0){?>
  <!--ul-->

<?php 


foreach($category_info as $category){

?>

<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2  ">
   <div class="feature-wrapper">
    <a href="index.php?route=product/category&path=<?php echo $category['category_id'];?>"><img src="image/<?php echo $category['image'];?>" alt="<?php echo $category['name'];?>" title="<?php echo $category['name'];?>" class="img-responsive"/></a>
    <h5 class="feature-wrap-title"><a href="index.php?route=product/category&path=<?php echo $category['category_id'];?>"><?php echo $category['name'];?></a></h5>
   


    
    </div>
</div>
  <!--li>
 <a href="index.php?route=product/category&path=<?php echo $category['category_id'];?>" title="<?php echo $category['name'];?>"> <img src="image/<?php echo $category['image'];?>" class="img-responsive1 text-center center-block" alt="<?php echo $category['name'];?>" width="180" height="180"></a>
  <p><?php echo $category['name'];?></p>
  </li-->
  
   
  <?php } ?>
  <!--/ul-->
  <?php } else { ?>
<div>No Product Under This Category</div>
<?php } ?>
  
  </div>
  </div>
  
  </div>
  
  </div>
  
  
  
  </section>
  
  
  <section class="add-banner" >
  
  <div class="container">

  <div class="row">
   <div class="col-xs-12">
  <h3 class="p-tittle">Shops worth Exploring</h3>
  
  </div>
  
  <div class="col-xs-12">
  <div class="row">

<?php 


if(count($sellerinfo)>0){?>
  <!--ul-->

<?php 


foreach($sellerinfo as $seller){

?>

<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2  ">
   <div class="feature-wrapper">
    <a href="index.php?route=customerpartner/profile&id=<?php echo $seller['customer_id'];?>"><img src="<?php echo $seller['images'];?>" alt="<?php echo $seller['name'];?>" width="231" height="231" title="<?php echo $seller['name'];?>" class="img-responsive"/></a>
    <h5 class="feature-wrap-title"><a href="index.php?route=customerpartner/profile&id=<?php echo $seller['customer_id'];?>"><?php echo $seller['name'];?></a></h5>
   


    </div>
    </div>
 <?php } ?>
  <!--/ul-->
  <?php } else { ?>
<div>No Seller Product Found</div>
<?php } ?>
</div>
  <!--div class="col-xs-12 col-sm-3 col-md-2" >
  <ul class="list-unstyled">
  <li class="onebanner"><a href="index.php?route=customerpartner/profile&id=<?php echo $sellerinfo['customer_id'];?>"><img src="http://pon.mobilytedev.com/image/cache/wkseller/Moruf5/Celine%20Inspire%20glasses%20new-120x120.jpg" class="img-responsive center-block text-center" alt=""/></a></li>
 
  </ul>
  
  
  </div>

<div class="col-xs-12 col-sm-3 col-md-2" >
  <ul class="list-unstyled">
  <li class="onebanner"><a href="index.php?route=customerpartner/profile&id=<?php echo $sellerinfo['customer_id'];?>"><img src="http://pon.mobilytedev.com/image/cache/wkseller/Moruf5/Celine%20Inspire%20glasses%20new-120x120.jpg" class="img-responsive center-block text-center" alt=""/></a></li>
   
  
  </ul>
  
  
  </div-->
  
  <!--div class="col-xs-12 col-sm-6 col-md-6" >
  
  <ul class="list-unstyled">
  <li class="threebanner">
   <a href="index.php?route=customerpartner/profile&id=<?php echo $sellerinfo['customer_id'];?>"> <img src="image/catalog/exploring3.jpg" class="img-responsive center-block text-center" alt=""/> </a>
  </li>
  </ul>
  </div-->
  
  
  
  <!--div class="col-xs-12 col-sm-3 col-md-12" >
  
  <ul class="list-unstyled">
  <li class="fourbanner">
   <a href="index.php?route=customerpartner/profile&id=<?php echo $sellerinfo['customer_id'];?>"> <img src="http://pon.mobilytedev.com/image/cache/wkseller/Moruf5/Celine%20Inspire%20glasses%20new-120x120.jpg" class="img-responsive center-block text-center" alt=""/> </a>
  </li>
  </ul>
  
  </div-->
  
  
  </div>

  </div>
  
  </section>
  
  
  
  <section class="download-app">
  <div class="container">
  <div class="row">
  <div class="col-xs-12">
  
  <h2>
  Download App From
  
  </h2>
  
  <ul class="list-inline text-center"><li><a href="#"><img src="image/catalog/google-play.jpg" class="img-responsive" alt=""/></a></li> 
  </ul>
  
  
  
  </div>
  
  </div>
  
  </div>
  
  
  </section>
  
  
  
  <section class="testimonialbg">
  
  <section id="carousel">    				
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
               
				<div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
				  <!-- Carousel indicators -->
                  <ol class="carousel-indicators">
			<?php 
if(count($reviews)>0){
for($i=0;$i<count($reviews);$i++){?>
				    <li data-target="#fade-quote-carousel" data-slide-to="<?php echo $i;?>"></li>
					<?php } } ?>
				   
                  
                   
				  </ol>
				  <!-- Carousel items -->
				  <div class="carousel-inner">
		<?php 
	if(count($reviews)>0){
	$count=0;
	foreach($reviews as $testimonial) { ?>
				    <div class="item <?php if($count==0) { echo 'active'; } else { 'next left';} ?>">
                        <div class="profile-circle" style="width:138px !important; height:138px; !important;"> <img src="<?php echo $testimonial['image'];?>" /></div>
				    	<blockquote>
				    		<p><?php echo substr($testimonial['text'],0,240).'...';?></p>
                            <p>- <?php echo $testimonial['author'];?></p>
				    	</blockquote>	
				    </div>
				    
				    <?php $count++; } } else { ?>
		<div><p>No testimonal found!</p></div>

		<?php } ?>
                  
                    
                    
				  </div>
				</div>
			</div>							
		</div>
	</div>
</section>
  </section>
  
 <section>
  <div class="container">
   <div class="newsletter-wrapper">
   
   <div class="row">
   <div class="col-xs-12 col-sm-12 col-md-6">
   <p><i>Stay up to date with news and promotions by signing up for our weekly newsletter</i></p>
   
   
   </div>
   <form name="newletter" id="newletter" action="index.php?route=common/home/newsletter" method="post">
      <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="newsletter-input">
   <div class="input-group">
      <input class="form-control" placeholder="Email Address..." name="email" id="email" type="text">
<br>
<?php if (@$error_email) { ?>
              <div class="text-danger"><?php echo @$error_email; ?></div>
              <?php } ?>
      <span class="input-group-btn">
        <button class="btn btn-send-black" type="submit"><i class="fa fa-envelope"></i> Send</button>
      </span>
    </div><!-- /input-group -->
   </div>
   </div>
	</form>
   
   </div>
   
   </div>
  </div>
  </section>
  
  
<?php echo $footer; ?>
