<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" />
  <title>{% block title %}{{title}}!{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="{{ asset('theme/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/vendors/jqvmap/dist/jqvmap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('theme/vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
	<link href="{{ asset('theme/vendors/switchery/dist/switchery.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/css/notify.css') }}" rel="stylesheet">
	<link href="{{ asset('theme/css/sweetalert2.min.css') }}" rel="stylesheet">
	<link href="{{ asset('theme/css/custom.css') }}" rel="stylesheet">
	<link href="{{ asset('theme/css/style.css') }}" rel="stylesheet">	
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCX5giSZ_qlsFeK7N9sCTdUzdH2Tb31Qs&libraries=places"></script>
 <style>
  .ajax-loader {
    visibility: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('{{ asset('theme/images/circles.svg') }}') 50% 50% no-repeat #000000;
    opacity: .8;
}

</style> 
<script>
  var baseUrl = "{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/";
  var assetsBaseDir = "{{ asset('theme/') }}";
</script>
  </head>
  <body  class="nav-md">
  <div class="ajax-loader"></div>
   <div class="container body">
     <div class="main_container">
	 {% set currentPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}
        {% include('dashboard_header.html.twig') %}
  {% block content %}{% endblock %} 
  
      <footer>
          <div class="pull-right">
            ©{{ 'now'|date('Y') }} All Rights Reserved. Merchant Services! Privacy and Terms
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
	<!--Login popup -->
    <div id="loginNavUser" class="modal fade " role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login As {{session.userInfo.userFullName}}</h4>
                  </div>
                  <div class="modal-body">
						  <div class="row">
						  <div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
							  <div class="x_content">
								<br />
								<form id="loginUserByNavigator" class="form-horizontal form-label-left">							  
								  <div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Password <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input type="password" id="password" name="password" value=""	 required="required" class="form-control col-md-7 col-xs-12" autocomplete="off">
									</div>
								  </div>
								  <div class="ln_solid"></div>
								  <div class="form-group">
									<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
									  <button type="submit" class="btn btn-success">Submit</button>
									</div>
								  </div>
								</form>
							  </div>
							</div>
						  </div>
						</div>	
                  </div>

                </div>

              </div>
            </div>	
	
	<!-- Custom Theme Scripts -->
	<script src="{{ asset('theme/js/notify.js') }}"></script>
	<script src="{{ asset('theme/js/sweetalert2.all.min.js') }}"></script>
    <script src="{{ asset('theme/js/custom.js') }}"></script>
	<script src="{{ asset('theme/js/main.js') }}"></script>	
  </body>
</html>
