  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">
      <div class="navbar nav_title" style="border: 0;">
        <a href="{{path('dashboard')}}" class="site_title"><i class="fa fa-paw"></i> <span style="font-size:20px;">Merchant Services!</span></a>
      </div>

      <div class="clearfix"></div>
      <!-- menu profile quick info -->
      <div class="profile clearfix">
        <div class="profile_pic">
         {% if session.userInfo.profileImg is not empty %}
          <img src="{{ asset('uploads/profile/') }}{{session.userInfo.profileImg}}" alt="Admin" class="img-circle profile_img">
          {% else %}
          <img src="{{ asset('theme/images/img.png') }}" alt="Admin" class="img-circle profile_img">
          {% endif %}
          
        </div>
        <div class="profile_info">
          <span>Welcome,</span>
          <h2>{{userData['userFullName']}}</h2>
          <h4>({{userData['userRoleName']}})</h4>
        </div>
      </div>
      <br />	
      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
          <ul class="nav side-menu">  
            <li><a href="{{path('dashboard')}}"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard </a></li>                
            {% if userData['userRoleSlug'] == 'super' %}

            <li><a><i class="fa fa-group"></i> Manage users <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
               <li><a href="{{path('distributors')}}">Distributors</a></li>
               {% if userData['totalusers']['totaldistributors'] > 0 %}
               <li><a href="{{path('accounts')}}">Accounts</a></li>
               {% endif %}
               {% if userData['totalusers']['totalorg'] > 0 %}
               <li><a href="{{path('getorgs')}}">Organizations</a></li>
               {% endif %}
               {% if userData['totalusers']['totalemp'] > 0 %}
               <li><a href="{{path('getemps')}}">Employees</a></li>
               <li><a href="{{path('getcusts')}}">Customers</a></li>
               {% endif %}
             </ul>
           </li>
           {% endif%}
           {% if userData['userRoleSlug'] == 'distributor' %}
           <li><a><i class="fa fa-group"></i> Manage users <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">	
             <li><a href="{{path('accounts')}}">Accounts</a></li>
             {% if userData['totalusers']['totalaccounts'] > 0  %}
                <li><a href="{{path('organizations')}}">Organizations</a></li>
             {% endif %}
             {% if userData['totalusers']['totalorganizations'] > 0  %}
                <li><a href="{{path('getemps')}}">Employees</a></li>
                <li><a href="{{path('getcusts')}}">Customers</a></li>
             {% endif %}
           </ul>
         </li>
         {% endif%}
         {% if userData['userRoleSlug'] == 'account' %}				
         <li><a><i class="fa fa-group"></i> Manage users <span class="fa fa-chevron-down"></span></a>					
          <ul class="nav child_menu">
           <li><a href="{{path('organizations')}}">Organizations</a></li>
           {% if userData['totalusers']['totalorganizations'] > 0 %}
           <li><a href="{{path('employees')}}">Employees</a></li>
           <li><a href="{{path('getcusts')}}">Customers</a></li>
           {% endif %}
         </ul>
       </li>
       {% endif%}
       {% if userData['userRoleSlug'] == 'organization' %}
       <li><a><i class="fa fa-group"></i> Manage users <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
         <li><a href="{{path('employees')}}">Employees</a></li>
         <li><a href="{{path('customers')}}">Customers</a></li>
       </ul>
     </li>
     <li><a href="{{path('products')}}"><i class="fa fa-product-hunt"></i> Product & Services </a></li>

     {% endif%}
     {% if userData['userRoleSlug'] == 'employee' %}
     <li><a><i class="fa fa-users"></i> Manage Customers <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="{{path('customers')}}">Customers</a></li>
      </ul>
    </li>
    <li><a href="{{path('products')}}"><i class="fa fa-product-hunt"></i> Product & Services </a></li>
    <li><a><i class="fa fa-shopping-basket"></i> Sales <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="{{path('invoice')}}">Invoices</a></li>
        <li><a href="{{path('paylist')}}">Credit Card Payment</a></li>
      </ul>
    </li>
    {% endif%}

  </ul>
</div>

</div>
<!-- /sidebar menu -->

<!-- /menu footer buttons -->
<div class="sidebar-footer hidden-small">
  <a data-toggle="tooltip" data-placement="top" title="Settings">
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="FullScreen">
    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="Lock">
    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="Logout" href="{{path('logout')}}">
    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
  </a>
</div>
<!-- /menu footer buttons -->
</div>
</div>

<!-- top navigation -->
<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">

        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            {% if session.userInfo.profileImg is not empty %}
          <img src="{{ asset('uploads/profile/') }}{{session.userInfo.profileImg}}" alt="Admin">
          {% else %}
          <img src="{{ asset('theme/images/img.png') }}" alt="Admin">
          {% endif %}{{userData['userFullName']}}
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li>
             {% if session.userInfo.is_navigate == 1 and session.userInfo.authorize == 0 %}
             <a href="javascript:void(0)" class="navigatorLogin">Profile </a>
             {% else %}
             <a href="{{path('profile')}}"> Profile</a>
             {% endif %}

           </li>
           <li>
            <a href="javascript:;">
              <span class="badge bg-red pull-right">50%</span>
              <span>Settings</span>
            </a>
          </li>
          <li><a href="javascript:;">Help</a></li>
          <li>
           {% if session.userInfo.is_navigate == 1 and session.userInfo.authorize == 0 %}
           <a href="javascript:void(0)" class="navigatorLogin"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
           {% else %}
           <a href="{{path('logout')}}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
           {% endif %}

         </li>
       </ul>
     </li>
     {% if session.userInfo.currentSession is defined %} 
     <li role="presentation" class="dropdown">
      <a href="javascript:;" id="backtodashboard" class="backtodashboard dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
        Back To Your Dashboard
      </a>
    </li>
    {% endif %}
               <!-- <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="{{ asset('theme/images/img.png') }}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="{{ asset('theme/images/img.png') }}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="{{ asset('theme/images/img.png') }}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="{{ asset('theme/images/img.png') }}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>-->
                
              </ul>
            </nav>
          </div>
        </div>