<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" />
  <title>{% block title %}{{title}}!{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="{{ asset('theme/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
	<link href="{{ asset('theme/css/custom.css') }}" rel="stylesheet">
	<link href="{{ asset('theme/css/style.css') }}" rel="stylesheet">	
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCX5giSZ_qlsFeK7N9sCTdUzdH2Tb31Qs&libraries=places"></script>

  </head>
  <body  class="nav-md">
   <div class="container body">
     <div class="main_container">
	 {% set currentPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}
  {% block content %}{% endblock %} 
  
      <footer  style="margin-left:0px;>
          <div class="pull-right">
            ©{{ 'now'|date('Y') }} All Rights Reserved. Merchant Services! Privacy and Terms
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
  </body>
</html>
