<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" />
  <title>{% block title %}Login!{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('theme/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/vendors/animate.css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/css/custom.css') }}" rel="stylesheet">
	<link href="{{ asset('theme/css/style.css') }}" rel="stylesheet">
	<link href="{{ asset('theme/css/notify.css') }}" rel="stylesheet">
	<link href="{{ asset('theme/css/sweetalert2.min.css') }}" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
 <style>
  .ajax-loader {
    visibility: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('{{ asset('theme/images/circles.svg') }}') 50% 50% no-repeat #000000;
    opacity: .8;
}

</style> 
<script>
  var baseUrl = "{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/";
  var assetsBaseDir = "{{ asset('templates/') }}";
</script>
  </head>
  <body class="login">
  <div class="ajax-loader"></div>
  {% block content %}{% endblock %} 
 
  <script type="text/javascript" src="{{ asset('theme/vendors/jquery/dist/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('theme/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('theme/js/validation/jquery.validate.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('theme/js/validation/additional-methods.min.js') }}"></script>
  <script src="{{ asset('theme/vendors/moment/min/moment.min.js') }}"></script>
  <script src="{{ asset('theme/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
  <script type="text/javascript" src="{{ asset('theme/js/main.js') }}"></script>
  <script src="{{ asset('theme/js/notify.js') }}"></script>
  <script type="text/javascript" src="{{ asset('theme/js/sweetalert2.all.min.js') }}"></script>
  {% if app.session.flashBag.has('error') %}
   {% for msg in app.session.flashBag.get('error') %}
            <script>
			var msg = '{{ msg }}';
			$(function(){
			swal(
				'Error!',
				msg,
				'error'
			  );
			  });
			
			</script>    
   {% endfor %}
{% endif %}
  </body>
</html>
