.head_text{padding:20px 50px 41px 50px !important;}
.table_tag{border-collapse: separate;border-spacing: 18px 1em;width:100%;background-color:#8ec4e5;color:#fff;height:100%;}
.table_tag tbody tr td{font-size:15px;}
.dashboard_tab{width:100%;background-color: #8ec4e5;color:#fff;border-spacing: 18px 1em;height:100%;}
.reseller_table{background-color:#8ec4e5;color:#fff;}
.reseller_table tbody tr th{color:#fff;font-weight: bold;}
.reseller_table tbody tr td{font-size:15px;}
.subscription_table tbody tr th{font-weight: bold;}
.popup_table{background-color:#5bc0de;color:#fff;}
#heading{background-color:#df7d45;}