{% extends 'dashboard_layout.html.twig' %}
{% block content %}
  <!-- Modal -->
            <div id="addproductpopup" class="modal fade " role="dialog">
              <div class="modal-dialog  modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Product or Service</h4>
                  </div>
                  <div class="modal-body">
						  <div class="row">
						  <div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
							  <div class="x_content">
								<br />
								<form id="productAdd" enctype="multipart/form-data" class="form-horizontal form-label-left">								  
								  <div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Name <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input name="prodName" type="text" id="prodName" required="required" class="form-control col-md-7 col-xs-12">
									</div>
								  </div>
								  <div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Price <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input type="text" id="prodPrice" name="prodPrice" required="required" class="form-control col-md-7 col-xs-12">
									</div>
								  </div>
								  <div class="form-group">
									<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Quantity <span class="required">*</span></label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input id="quantity" class="form-control col-md-7 col-xs-12" type="number" name="quantity" required="required">
									</div>
								  </div>
								  <div class="form-group">
									<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Image <span class="required">*</span></label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input id="prodImage" class="form-control col-md-7 col-xs-12" type="file" name="prodImage" required="required">
									  <div id="image-holder"> </div>
									</div>
								  </div>
								  <div class="form-group">
									<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Description <span class="required">*</span></label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <textarea rows="6" class="form-control" name="prodDescription" id="prodDesc"></textarea>
									</div>
								  </div>
								  <div class="ln_solid"></div>
								  <div class="form-group">
									<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
									  <button type="submit" class="btn btn-success">Submit</button>
									</div>
								  </div>
								</form>
							  </div>
							</div>
						  </div>
						</div>	
                  </div>

                </div>

              </div>
            </div>
			
<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Products & Services </h3>
              </div>              
            </div>

            <div class="clearfix"></div>
            <div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Products Listing</h2>
                     <p class="nav navbar-right panel_toolbox">
					 
					 {% if session.userInfo.is_navigate == 1 and session.userInfo.authorize == 0 %}
					  <button type="button" class="navigatorLogin btn btn-info btn-lg"><i class="fa fa-plus" aria-hidden="true"></i>Add a Product or Service </button>
					 {% else %}
					    <button id="addproduct" type="button" class="btn btn-info btn-lg"><i class="fa fa-plus" aria-hidden="true"></i>Add a Product or Service </button>
                     {% endif %}
					 </p>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
						  <th>S.No.</th>
                          <th>Name</th>
                          <th>Description</th>
						  <th>Price</th>
						  <th>Quantity</th>
                          <th>Image</th>
                          <th>Action</th>
                        </tr>
                      </thead>


                      <tbody>
					  {% for key,product in productData %}
                        <tr>
						  <td>{{key+1}}</td>
                          <td>{{product.productName}}</td>
                          <td>{{product.productDesc}}</td>
						  <td>{{product.productPrice}}</td>
						  <td>{{product.productQuantity}}</td>
                          <td>
     <img style="width:100px; height:100px;" src="{{ asset('uploads/images/products/') }}{{ product.productImg }}" alt="{{ product.productImg }}" />
</td>
                          <td>
						  <button {% if session.userInfo.is_navigate == 1 and session.userInfo.authorize == 0 %} class="btn btn-info navigatorLogin" {% else %} class="btn btn-info editproduct" {% endif %} id="editProduct{{product.id}}" name="edit_product" type="button"  value="btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</button>
						  
						  <button {% if session.userInfo.is_navigate == 1 and session.userInfo.authorize == 0 %} class="btn btn-danger navigatorLogin" {% else %} class="btn btn-danger deleteProduct" {% endif %} id="deleteproduct{{product.id}}" name="delete_product" type="button" ><i class="fa fa-times" aria-hidden="true"></i>Delete</button></td>
                        </tr>
						{% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
			</div> 
		<!--Edit product-->	
			
		<div id="editProdPopUp" class="modal fade " role="dialog">
              <div class="modal-dialog  modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Product</h4>
                  </div>
                  <div class="modal-body">
						  <div class="row">
						  <div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
							  <div class="x_content">
								<br />
								<form id="editProductDetail" name="editProductDetail" enctype="multipart/form-data" class="form-horizontal form-label-left">
								 <input type="hidden" name="product"  id= "Eproduct" value="">
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Name <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input name="prodName" type="text" id="EprodName" required="required" class="form-control col-md-7 col-xs-12">
									</div>
								  </div>
								  <div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Price <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input type="text" id="EprodPrice" name="prodPrice" required="required" class="form-control col-md-7 col-xs-12">
									</div>
								  </div>
								  <div class="form-group">
									<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Quantity <span class="required">*</span></label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input id="Equantity" class="form-control col-md-7 col-xs-12" type="number" name="quantity" required="required">
									</div>
								  </div>
								  <div class="form-group">
									<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Image <span class="required">*</span></label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input id="EprodImage" class="form-control col-md-7 col-xs-12" type="file" name="prodImage">
									  <div id="Eimage-holder"> </div>
									</div>
								  </div>
								  <div class="form-group">
									<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Description <span class="required">*</span></label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <textarea rows="6" class="form-control" name="prodDescription" id="EprodDesc"></textarea>
									</div>
								  </div>
								  <div class="ln_solid"></div>
								  <div class="form-group">
									<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
									  <button type="submit" class="btn btn-success">Submit</button>
									</div>
								  </div>
								</form>
							  </div>
							</div>
						  </div>
						</div>	
                  </div>

                </div>

              </div>
            </div>
    
<!-- jQuery -->
    <script src="{{ asset('theme/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{{ asset('theme/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/validation/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/validation/additional-methods.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('theme/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('theme/vendors/nprogress/nprogress.js') }}"></script>
    <!-- Chart.js -->
    <script src="{{ asset('theme/vendors/Chart.js/dist/Chart.min.js') }}"></script>
    <!-- gauge.js -->
    <script src="{{ asset('theme/vendors/gauge.js/dist/gauge.min.js') }}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ asset('theme/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <!-- iCheck -->
    <script src="{{ asset('theme/vendors/iCheck/icheck.min.js') }}"></script>
    <!-- Skycons -->
    <script src="{{ asset('theme/vendors/skycons/skycons.js') }}"></script>

    <!-- DateJS -->
    <script src="{{ asset('theme/vendors/DateJS/build/date.js') }}"></script>
    <!-- JQVMap -->
    <script src="{{ asset('theme/vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
    <script src="{{ asset('theme/vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
    <script src="{{ asset('theme/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('theme/vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
	<!-- Datatables -->
    <script src="{{ asset('theme/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
<style>
#image-holder{
 width : 100%;
}
</style>	
{% endblock %}