



  <div class="col-xs-12 col-sm-12 col-md-12 ">
  
  <div class="row">
<?php 

for($i=0;$i<count($products);$i++){?>
   <div class="col-xs-12 col-sm-12 col-md-3 ">
   <div class="feature-wrapper">
    <a href="<?php echo $products[$i]['href']; ?>"><img src="<?php echo $products[$i]['thumb']; ?>" alt="<?php echo $products[$i]['name']; ?>" title="<?php echo $products[$i]['name']; ?>" class="img-responsive" width="211" height="212"/></a>
    <h5 class="feature-wrap-title"><a href="<?php echo $products[$i]['href']; ?>"><?php echo $products[$i]['name']; ?></a></h5>
<h6 class="feature-wrap-price "> <?php echo $products[$i]['price']; ?></h6>   

<div class="text-center button-group">
<button class="btn btn-featured-green " onclick="cart.add('<?php echo $products[$i]['product_id']; ?>');">Add to Cart</button> 
    </div>
    
    </div>
</div>
<?php } ?>
   
  
   
   
  
   
  </div>
  
  
  
  
  
  </div>
  
  
  <!--div class="col-xs-12 col-sm-12 col-md-5 ">
  
  <div class="row">
<?php 

for($j=3;$j<count($products);$j++){?>
   <div class="col-xs-12 col-sm-12 col-md-6 ">
   <div class="feature-wrapper">
    <a href="<?php echo $products[$j]['href']; ?>"><img src="<?php echo $products[$j]['thumb']; ?>" alt="<?php echo $products[$j]['name']; ?>" title="<?php echo $products[$j]['name']; ?>" class="img-responsive" /></a>
    <h5 class="feature-wrap-title"><a href="<?php echo $products[$j]['href']; ?>"><?php echo $products[$j]['name']; ?></a></h5>
<h6 class="feature-wrap-price "> <?php echo $products[$j]['price']; ?></h6>   

<div class="text-center button-group">

<button type="button" class="btn btn-featured-green " onclick="cart.add('<?php echo $products[$j]['product_id']; ?>');">Add to Cart</button> 
    </div>
    
    </div>
   
   </div>
<?php } ?>
   
   
   </div>
   
  </div-->
  

 
