{% extends 'security.layout.html.twig' %}
{% block content %}      
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form data-url="" name="signin" id="userlogin">
              <h1>Login Form</h1>
			  <p id="error_msg"></p>
			  <!--<div  class="form-group">
			     <select class="form-control" name="userrole">
					<option value="">CHOOSE USER TYPE </option>
					{% for userRole in userRoles %}
					<option value="{{userRole['slug']}}">{{userRole['name']}}</option>
					{% endfor %}
				</select>
			  </div>-->
              <div  class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username" required="" />
              </div>
              <div  class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required="" />
              </div>
              <div>
                <button class="btn btn-default submit" type="submit">Log in</button>
                <a href="#signup" class="to_register">Lost your password?</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
               <!-- <p class="change_link">New to site?
                  <a href="#signup" class="to_register"> Create Account </a>
                </p>-->

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> Merchant Services!</h1>
                  <p>©{{ 'now'|date('Y') }} All Rights Reserved. Merchant Services! Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>

      <div id="register" class="animate form registration_form">
          <section class="login_content">
            <form method="post" name="forgetPass" id="forgetPass">
              <h1>Forget Password</h1>
              <div>
                <input type="email" name="email" id="femail" class="form-control" placeholder="Enter your Email" required="require" />
              </div>
              <div>
                <button id="" class="btn btn-default submit" type="submit">Submit</button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">
                  <a href="#signin" class="to_register"> Log in </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> Merchant Services!</h1>
                  <p>©{{ 'now'|date('Y') }} All Rights Reserved. Merchant Services! Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
      
	  {% endblock %}
	  
    