{% extends 'security.layout.html.twig' %}
{% block content %}      
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form data-url="" name="resetpass" id="resetPass">
			<input type="hidden" name="userKey" id="userKey" value="{{data.userkey}}">
              <h1>Reset Password</h1>
			  <p id="error_msg"></p>
              <div  class="form-group">
                <input type="password" id="newPassword" class="form-control" name="newPassword" placeholder="New Password" required="" />
              </div>
              <div  class="form-group">
                <input type="password" class="form-control" name="confmPass" placeholder="Confirm Password" required="" />
              </div>
              <div>
                <button class="btn btn-default submit" type="submit">Reset Password</button>
                <a href="{{path('login')}}" class="to_register">Log in</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
               <!-- <p class="change_link">New to site?
                  <a href="#signup" class="to_register"> Create Account </a>
                </p>-->

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> Merchant Services!</h1>
                  <p>©{{ 'now'|date('Y') }} All Rights Reserved. Merchant Services! Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>


      </div>
    </div>
      
	  {% endblock %}
	  
    