#error_msg{
    color: #ff0000;
    font-weight: 500;
}
.validateError{
	color: #ff0000;
    font-weight: 500;
	margin:0px!important;
}

#image-holder {
    border: 1px solid #ECECEC;
    TEXT-ALIGN: center;
}

#image-holder img {
    width: 100px;
}
#Eimage-holder {
    border: 1px solid #ECECEC;
    TEXT-ALIGN: center;
}

#Eimage-holder img {
    width: 100px;
}
.validateError + .form-control-feedback{
	margin-top:-18px;
}
.logoImg img {
    width: 18%;
    border: 1px solid gray;
    border-radius: 8px;
}
.orgAddress p{
	font-weight:700;
	margin:0px;
}
.dropdown-toggle .filter-option{
	color: #fff;
}
.create_new_account_heading{
	background: #eff1f0 none repeat scroll 0 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.close{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #000000 !important;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    opacity: 1;
    padding: 0;
    width: 30px;
}
.create_new_account_heading h4 {
    font-size: 17px;
    padding: 6px 0 0;
    text-align: center;
    text-transform: uppercase;
	color:#000;
	font-weight:500;
	
}
.add_heading {
    width: 100%;
    float: left;
}
.popup_p {
    color: #8a95a5;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 2px;
    padding: 1px 0 7px;
}
.body_hr {
    background-color: #0095e6;
    border-color: #0095e6;
    height: 1.5px;
    margin: 0 0 20px;
    width: 115px;
}
.tax_input_fields {
    float: left;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
}
.usr {
    color: #8a95a5;
    font-size: 15px;
    font-weight: 500;
}
.usr1 {
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    color: #8a95a5;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 10px;
    width: 100%;
}
.remember > input + label {
    background-image: url(../images/unchecked.png);
    background-position: 2px 2px;
    background-repeat: no-repeat;
    color: #002137;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0;
    padding-left: 24px;
}
.remember > input:checked + label {
    background-image: url(../images/checked.png);
    opacity: 1;
}
.remember > input {
    display: none;
}
.tax_num {
    font-size: 14px !important;
    font-weight: 400 !important;
}
.tax_btns {
    padding: 22px 0 10px;
    width: 100%;
    display: inline-block;
}
.tax_btns > input {
    background: #7dc4f0;
    border: 2px solid #53aae0;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 0 15px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    width: 49%;
}
.closetax {
    background: #F78189;
    border: 2px solid #e56366;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    margin: 0 !important;
    padding: 12px 0 15px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    font-weight: 500;
    width: 49%;
}
.filter-option.pull-left{
	color: #73879C;
    text-align: center!important;
}
.taxchilds {
    margin-top: 5px;
    display: block;
}
#selectedProducts .btn-danger{
    padding: 2px 5px;
}

#selectedProducts .btn-success{
    padding: 2px 5px;
}
body #selectedProducts span.select2.select2-container.select2-container--default { width:100% !important;}
.sub-total1 {
    background: #fdfdfd;
    padding: 10px;
    box-shadow: 1px 1px 6px 0px #ccc;
    border-radius: 5px;
}
.col-xs-5.sub-total1 table tr:last-child {
    border-top: 2px solid #ccc;
}
table#selectedProducts thead {
    background: #5bc0de;
    color: #fff;
}
.CustomerSection {
    width: 50%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 12vh;
    border: 0;
}
.inovo {
    position: relative;
    min-height: 150px ;
    display: block;
}
.unsent_main_page {
    background: #d6932f;
    border-radius: 5px;
    color: #ffffff !important;
    float: left;
    padding: 2px;
    text-align: center;
    width: 80px;
	line-height: 30px;
}
.sent_main_page {
    background: #ad8630;
    border-radius: 5px;
    color: #ffffff !important;
    float: left;
    padding: 2px;
    text-align: center;
    width: 80px;
	line-height: 30px;
}
.PaidInvoice{
 background: #169f85;
}
.SentInvoice{
  background: #31b0d5;   
}
.UnsentInvoice{
    background: #C9302C; 
}
.PaidInvoice, .SentInvoice, .UnsentInvoice{
    border-radius: 5px;
    color: #ffffff !important;
    float: left;
    padding: 2px;
    text-align: center;
    width: 80px;
    line-height: 30px;
}
.bill_heading {
    float: left;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
    color: #86a0b8;
}
.billto_section > h1 {
    float: left;
    font-size: 17px;
    width: 100%;
    color: #606060;
}
.billto_section > h2, h3, h4 {
    color: #808080;
    font-size: 16px;
    margin: 0 0 3px;
    width: 100%;
}
.num1 > h1 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 2px 0;
    text-align: right;
    color: #86a0b8;
}
.num_count1 > p {
    color: #8a95a5;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 2px 0;
    text-align: right;
}
.num_count_t1 > p {
    font-size: 16px;
    color: #86a0b8;
    text-align: right;
}

.unsent_invoice, .sent_invoice, .paid_invoice {
    float: left;
    padding: 20px 0 10px;
    text-align: center;
    height: 150px;
    width: 100%;
}
.unsent_invoice > p {
    background: #31B0D5;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-size: 19px;
    height: 110px;
    line-height: 110px;
    margin: 0;
    width: 110px;
}
.invoiceAmtblock li{
	line-height: 40px;
	text-align: center;
}
.moreAction .button_drop_down {
    text-align: left;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.02), 0 4px 36px 4px rgba(0, 0, 0, 0.1);
}
.navbar-right li {
    display: inline-block;
    float: right;
    position: static;
}
.moreAction .dropdown-menu li {
    width: 100%;
}
.backtodashboard {
  -webkit-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Safari 4+ */
  -moz-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Fx 5+ */
  -o-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Opera 12+ */
  animation: NAME-YOUR-ANIMATION 1s infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes NAME-YOUR-ANIMATION {
  0%, 49% {
    background-color: #1abb9c;
    border: 3px solid #e50000;
	color:#fff;
  }
  50%, 100% {
    background-color: #e50000;
    border: 3px solid #1abb9c;
	color:#fff;
  }
}


.backtodashboard {
    font-size: 15px;
    font-weight: bold !important;
    color: #fff !important;
}

.InvoiceFormArea{
    padding: 5px 15px;
}
.InvoiceFormArea .usr {
    color: #8a95a5;
    font-size: 15px;
    font-weight: 600;
}  
.InvoiceFormArea .show_additional_info {
    float: left;
    padding: 5px 0 10px;
    width: 100%;
}
.InvoiceFormArea  .show_additional_info > a {
    color: #0079c8;
    font-size: 17px;
}
.InvoiceFormArea .additional_option {
    float: left;
    width: 100%;
}
.InvoiceFormArea .remember {
    color: #ffffff;
    float: left;
    padding-bottom: 15px;
    text-align: left;
    width: 100%;
}
.InvoiceFormArea .addinput_fields {
    font-size: 18px;
    position: absolute;
    right: 7px;
    top: 140px;
}
.InvoiceFormArea  .delete_text_box {
    color: red;
    position: absolute;
}
.InvoiceFormArea .sendinpit_fields{
	margin: 10px auto;
}
.memoText{
    width:100%;
    resize: none;
}
.emailsendcheck h2, .emailScheduler h2{
    font-size: 21px;
    font-weight: 500;
}
.emailScheduler p{
    font-weight: 500;
    font-size: 14px;
}

.emailScheduler h2{
    font-size: 21px;
    font-weight: 500;
}

@media (min-width: 480px)
custom.min.css:782
.moreAction .navbar-right li {
    position: relative;
}
