body{font-family: 'Montserrat', sans-serif;}
.header-top{background-color:#f2f2f2;text-align:right;padding: 8px 0px;width:100%;}
.header-top ul{margin:0;padding:0;text-align:right}
.header-top ul li{color:#2c2c2c;list-style-type:none;display:inline;font-size:16px;margin-right:25px;}
.header-top ul li i{font-size:18px;padding-right:7px;}
.header-top ul li a{color:#2c2c2c}
.header-menu .navbar {padding:0}
.header-menu nav ul li a {	color: #8b8b8b !important;	font-size: 18px;	border-right: 2px solid #8b8b8b;padding: 0px 23px !important;	line-height: 21px;}
.header-menu nav ul li.lastnav a{border-right:0 !important;padding-right:0 !important}
.carousel-text.carousel-caption{bottom: 70px;}
.carousel-control-next, .carousel-control-prev{width:4%;}
.carousel-control-next-icon, .carousel-control-prev-icon{height:60px;width:80px;background-color: rgba(180, 173, 173, 0.6);background-size: 50% 100%;}
.carousel-text h1{font-size:50px;color:#5f9734;text-align:center;text-transform:uppercase;margin-bottom: 60px !important;margin:0}
.carousel-text h2{line-height: 52px;font-size:40px;color:#fff;text-align:center;margin-bottom: 50px !important;margin:0}
.carousel-text h3{font-size:40px;color:#b4b4b4;text-align:center;margin-bottom: 50px !important;margin:0}
.buttonmore{position: relative;background-color: #005eb4;padding:0;height: 50px;color: #fff;font-size: 18px;width: 260px;border-radius: 25px;margin: auto;display: block;line-height: 45px;text-align: left;padding-left: 60px;}
.buttonmore:hover{color:#fff}
.buttonmore i{color: #fff;background-color: #1c71bf;position: absolute;right: 0;padding: 12px 25px;border-radius: 25px;font-size: 25px;}
.carousel-indicators li{background-color:#005eb4;width: 50px;height: 6px;}
.carousel-indicators .active {	background-color: #a4a4a4;}
.ourservice{padding:90px 0px 15px 0px;}
.sliderpart img{width:100%}
.text-bootom{margin-top: 23px !important;margin:auto;display:block;margin-bottom:75px;float:none !important}
.ourservice .col-sm-4{margin-bottom:75px;}
.ourservice h2{color: #2c2c2c;	font-size: 30px;text-transform:uppercase;text-align:center}
.ourservice h3{margin-bottom: 13px;color: #005eb4;	font-size: 18px;text-transform:capitalize;text-align:left;}
.ourservice p{margin:0;color: #686868;	font-size: 15px;text-align:left;font-weight:300;line-height: 21px;}
.ourservice img{float: right;}
.listprod{background-size: 100% 100%;padding:60px 0px;background-image:url(../images/listprod.png);background-repeat:no-repeat}
.listprod-text{text-align: center;background-color:#fff;padding: 30px;display: inline-block;margin-bottom: 25px;width:100%}
.listprod-text h2{margin-top:35px;margin-bottom:0;color: #7e7e7e;	font-size: 18px;text-transform:capitalize;text-align:center;}
.listprod p{margin-top:35px;margin-bottom:0;color: #fff;	font-size: 18px;font-weight:300}
.ourclient{padding:90px 0px;}
.imgsive{width:100%}
.ourclient .carousel.slide{width:95%;margin:auto}
.ourclient h2{color: #2c2c2c;	font-size: 30px;text-transform:uppercase;text-align:center}
.clientwrap{background-color:#f2f2f2;padding:20px 0px}
.ourclient-text {text-align:center}
.ourclient-text p	{color: #7c7c7c;font-size: 16px;font-weight: 300;font-style: italic;padding: 30px 30px 0px 30px;margin: 0;}
.ourclient-text p strong	{color:#000000;font-size:20px;font-style:italic;font-weight:300;padding:0px;}
.ourclient .carousel-control-prev {width: auto;	left: -70px;opacity: 9;}
.ourclient .carousel-control-next {	width: auto;right: -70px;opacity: 9;}
.ourclient .carousel-control-prev-icon{background-color: transparent;	background-size: 100%;height: 70px;width: 70px;
	background-image: url(../images/carow-left.png);}
.ourclient .carousel-control-next-icon{height: 70px;width: 70px;background-color: transparent;	background-size: 100%;transform: rotate(180deg);
	background-image: url(../images/carow-left.png);}
	/*aboutus*/
.banner{background-size: 100% 100%;background: url("../images/banner.jpg");background-repeat: no-repeat;text-align: center;}
.banner h1{text-transform: uppercase;font-family:'Montserrat', sans-serif;font-size: 50px;font-weight: 400;color:#669933;padding: 92px 0px;}
.bulb_img{margin-top: 0px;}
.bulb_img img{width: 100%;}
.outhistory{padding:85px 0px;}
.content h4{font-size: 18px;font-family:'Montserrat', sans-serif;font-weight: 400;color:#333333;text-transform:capitalize}
.content p{font-size: 16px;font-family: 'Lato', sans-serif;line-height: 26px; font-weight: 400;color:#666666;}
.tick_lines{margin-top: 40px;}
.content.client h1{    color: #2c2c2c;    font-size: 30px;    text-transform: uppercase;    text-align: center;}
.tick_heading{float:left;padding-right: 12px;}
.content.tick_content{margin-top: 0px;}
.tick_heading h1{font-size: 16px;font-family: 'Lato', sans-serif;font-weight: 400;padding-top: 20px;}
.team_images{margin-bottom: 70px;text-align: center;}
.team_images h2 {	color: #2c2c2c;	font-size: 30px;	text-transform: uppercase;	text-align: center;}
.team_img img{border-radius: 50%;width: 100%;}
.content.team{margin: 0px;text-align: center;margin-top: 35px !important}
.content.team h1{font-size: 18px;}
.content.team h6{font-size: 16px;font-weight:300}
.client_imgs_background{background: #f2f2f2;}
.content.client{padding: 85px 0;}
.box{margin-top: 0px; background-color: #fff;}	
.ourservicess{padding:50px 0px 10px 0px;}
.ourservicess p{color:#686868;font-size:16px;line-height:27px;font-family: 'Lato', sans-serif;font-family:400;text-align:center;margin-bottom:80px;}
.ourservicess h2{color:#2c2c2c;font-size:30px;font-family: 'Montserrat', sans-serif;text-align:center}
.servicess-inner {	margin-bottom: 60px;	border-bottom: 1px solid #efefef;	padding-bottom: 60px;}
.servicess-inner h2{text-align:left;color:#2c2c2c;font-size:30px;font-family: 'Montserrat', sans-serif;}
.servicess-inner p{text-align:left;color:#686868;font-size:16px;line-height:27px;font-family: 'Lato', sans-serif;font-family:400;}
.servicess-inner img{width:100%}
.contact-top {min-height: 300px;	background-color: #f2f2f2;	max-width: 260px;	padding: 35px 15px;	text-align: center;}
.contact-top img{margin-bottom:20px;}
.contact-top p{font-size:22px;color:#2c2c2c;margin-bottom: 10px;font-family: 'Montserrat', sans-serif;}
.contact-top label{font-size:18px;color:#2c2c2c;font-family: 'Lato', sans-serif;font-family:400;width:100%;}
.contact-top span{font-size:16px;color:#686868;font-family: 'Lato', sans-serif;font-family:400;}
.contactbottom{margin-top:130px;}
.contactbottom h2{color:#2c2c2c;font-size:30px;font-family: 'Montserrat', sans-serif;}
.contactbottom .grdborder{margin-bottom:50px !important;margin:auto;display:block;margin-top:5px;}
.contactbottom input{font-size:22px;color:#7d7d7d;font-family: 'Lato', sans-serif;font-weight:300;font-style:italic;width:100%;background-color:#f2f2f2;border:0;margin-bottom:25px;height:60px;padding:2px 15px;}
.mapwidth{width:100%;height: 483px;}
.contactbottom textarea{font-size:22px;color:#7d7d7d;font-family: 'Lato', sans-serif;font-weight:300;font-style:italic;width:100%;background-color:#f2f2f2;border:0;margin-bottom:25px;height:140px;padding:2px 15px;}
.contactbottom input[type="submit"]{background-size: 100% 100%;background-image: url("../images/submitbg.png");background-repeat: no-repeat;text-align: center;font-size:22px;color:#7d7d7d;font-family: 'Lato', sans-serif;font-weight:400;}
.contatfooter{background-color:#f2f2f2;padding:50px 0px;}
.contatfooter-inner{max-width: 250px;width: 250px;text-align: center;width:250px;background-color:#fff;padding:20px;max-width: 250px;}
.contatfooter-inner h2{height: 40px;padding: 5px 5px;background-color:#1c71bf;color:#f2f2f2;font-size:20px;font-family: 'Lato', sans-serif;font-weight:400;text-align:center}
.contatfooter-inner button{height: 40px;width:145px;border:0;background-color:#5f9734;color:#f2f2f2;font-size:20px;font-family: 'Lato', sans-serif;font-weight:400;text-align:center;margin-top:15px;}
.navbar-toggler{padding: .25rem 0;}







footer{background-color:#1c71bf;padding-top:45px;}
footer h2{color:#fff;font-size:30px;margin-bottom: 30px;}
footer ul li{list-style-type:none;display:inline}
footer ul li a{color:#fff;background-color:#005eb4;width:72px;height:62px;display: inline-block;
text-align: center;border-radius: 5px;padding-top: 20px;}
footer ul{margin:0;padding:0}
footer ul li a i{color:#fff}
footer input::placeholder{color:#dbd8d8;font-weight:300;font-size:20px;font-style:italic;}
footer input{width:100%;background-color:#005eb4;height:72px;font-size:20px;color:#fff;border:0;border-radius:5px;padding: 0px 15px;margin-bottom:20px;}
footer button{background-color:#005eb4;height:60px;font-size:20px;color:#cfcfcf;border:0;border-radius:5px;margin-bottom:30px;padding: 0px 45px;}
footer p{padding:10px 0px;background-color:#005eb4;margin-bottom:0;text-align:center;color:#b8b8b8;font-size:18px;font-style:italic;font-weight:300;height:60px;margin: 0;padding: 18px 0px;}	
.back-to-top {
	right: 15px;
	cursor: pointer;
	position: fixed;
	bottom: 20px;background-color:#000;
	right: 20px;
	display: none;
}
/*responsive media query*/
@media(max-width:1400px){
.sliderpart img {	width: 100%;	height: 530px;}	
.carousel-text h1 {	margin-bottom: 30px !important;}
	
}
@media(max-width:1199px){
.carousel-control-next, .carousel-control-prev {width: 6%;}	
.carousel-text h2{font-size: 35px;}
.carousel-text h3{font-size: 35px;}	

}
@media(max-width:991px){
.contact-top{max-width: 232px;}	
footer ul li a{width:62px;}	
.ourclient .carousel-control-next {	right: -53px;}	
.ourclient .carousel-control-prev{left: -53px;}	
.ourservice p{margin-bottom:40px;}	
.sliderpart	.carousel-caption{right:0;left:0}
.sliderpart .container{max-width:100%;}
.box {width:100%;height: 123px;}
.box img {height:100%;width:100%}
}
@media(max-width:767px){
.fcolumn-reverse{flex-direction: column-reverse}	
.servicess-inner h2{margin-top:25px;}	
.servicess-inner {	margin-bottom: 20px;padding-bottom: 15px;}	
.contactbottom {margin-top: 40px;}	
.ourservicess p{margin-bottom:40px;}
.team_images {margin-bottom:40px;}	
.outhistory {padding: 45px 0px;}	
.content.client {padding: 45px 0;}
.contatfooter-inner{margin: auto;margin-bottom: 25px;}	
.contactbottom input[type="submit"]{margin-bottom: 50px;}	
.mapwidth{height:auto}	
.contact-top{max-width: 100%;margin-bottom: 25px;}		
.box {height:150px;margin-bottom:45px;}	
.header-menu nav ul li a:hover{color:#000 !important}	
.collapse.show {background-color: #f0f0f0;margin-bottom: 20px;}	
.header-menu nav ul li a{border-right: 0px solid #8b8b8b;padding: 10px 23px !important;}	
.header-top ul{text-align:center}	
.navbar-toggler-icon{width:50px;background-color: #d4d1d1;}
.carousel-indicators{bottom: 0px;}	
.sliderpart img {height: 100%;min-height:260px;}	
.carousel-text.carousel-caption {	bottom: 0px;}
.carousel-text h2 {line-height: 26px;font-size: 20px;margin-bottom: 15px !important;}	
.carousel-text h3 {line-height: 26px;font-size: 20px;margin-bottom: 20px !important;}	
.carousel-text h1 {	margin-bottom: 0px !important;font-size: 40px;}	
.carousel-control-next, .carousel-control-prev {	width: 11%;}	
footer p{height:auto}	
footer button{margin-bottom: 30px !important;display: block;margin: auto;}	
footer ul {	text-align: center;margin-bottom:35px !important}	
footer h2 {	text-align: center;}	
.ourclient .carousel-control-next {	right: 0px;}	
.ourclient .carousel-control-prev{left: 0px;}		
.ourservice .col-sm-4 {	margin-bottom: 30px;}	
.ourservice img {	float: none;}	
.ourservice {	text-align: center;}
.ourservice h3 {	text-align: center;}
.ourservice p{	text-align: center;}
}
@media(max-width:575px){
.banner h1{font-size:32px;}	
.content.team {	margin-top: 20px !important;}	
.content.team h6 {margin-bottom: 40px;}	
.team_img img {	width: auto;}	
.box  {height:auto}
.box img {height:100%;width:auto}	
}
@media(max-width:479px){
.servicess-inner h2{font-size:23px;}	
.buttonmore i {    color: #fff;    background-color: #1c71bf;    position: absolute;    right: 0;
    padding: 6px 18px;    border-radius: 25px;    font-size: 25px;}
.buttonmore {      height: 38px;    color: #fff;    font-size: 12px;    width: 204px;    border-radius: 25px;
    margin: auto;    display: block;    line-height: 37px;    text-align: left;    padding-left: 42px;}	
.header-top ul li{font-size:12px;margin-right: 10px;}
.carousel-text h2 {line-height: 22px;font-size: 15px;}	
.carousel-text h3 {line-height: 22px;font-size: 15px;}	
.carousel-text h1 {	margin-bottom: 10px !important;font-size:34px;}		
	
}
