@charset "utf-8";
/* CSS Document */


.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
.header-top-bar .header-top-text { text-align:right;}
.header-top-bar .header-top-text ul { margin-bottom:5px;}
.header-top-bar .header-top-text ul li { padding:0 12px;}
.header-top-bar .header-top-text ul li a { color:#008751; outline:none; text-decoration:none;}
.header-top-bar .header-top-text ul li .form-control.header-top-drop { height:28px; border-radius:0px; padding:4px }
.header-top-bar .header-top-text select  { margin-top:5px; font-weight:500; background:#f4f4f4;}
.header-mid-bar { background:#f4f4f4; min-height:103px; } 
.header-search-field { margin-top:30px;}
.header-mid-bar .logo { max-width:235px; text-align:center; margin:0px auto; margin-top:20px;}
.header-search-field  input { width:100%; background-color:transparent; border:none; box-shadow:none; padding-top:10px; font-weight:600;  color:#929397; }
.header-search-field  input:focus { border-color: transparent; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0) inset, 0 0 8px rgba(102, 175, 233, 0.0); outline: 0 none;}
.noofitems { text-align:right; padding-top:10px; padding-right:10px; }
.btn-green-cicle { background:#008751; color:#fff; height:40px; width:40px; border-radius:50%; font-size:17px;}
.btn-green-cicle:hover, .btn-green-cicle:focus { color:#fff; opacity:0.9;}
.header-bottom-bar .navbar { margin-bottom:0px; }
.banner .carousel-caption  { bottom:90px;}
.banner .carousel-caption h3 { font-size:72px; color:#404040; text-align:center; text-transform:uppercase; font-weight:bold; padding-bottom:40px}
.btn-explore { border:2px solid #008751; background:none; font-size:20px; color:#008751; padding:7px 40px; border-radius:0px;}
.btn-explore:hover, .btn-explore:focus { border:2px solid #008751; background:#008751; font-size:20px; color:#fff; padding:7px 40px; border-radius:0px;}
.download-app { padding:0px 0px 50px 0;}
.download-app h2 { font-family: 'Vollkorn', serif; text-align:center; padding:40px 0px 30px 0px;}

.shop-category  ul { padding-left:0px;}
.shop-category li { background:#f4f4f4; min-height:203px;  list-style:none; display:inline; float:left; margin:2px 9px;}
.shop-category li img { padding:5px;}
.shop-category li p { text-align:center; font-weight:bold;}



.testimonialbg { background:url(http://localhost:8080/opencart/image/catalog/testimonial-bg.jpg) no-repeat; width:100%; height:auto; background-size:cover; padding:40px 0 10px 0; }
  
.quote {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 30px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #fff;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

.testimonialbg p { color:#fff; font-family: 'Vollkorn', serif;}


.newsletter-wrapper { background:#f4f4f4; min-height:75px; margin:40px 0;}
.newsletter-wrapper p { font-size:18px; color:#404040; font-family: 'Vollkorn', serif; padding-left:15px; padding-top:12px; }
.newsletter-input { padding-top:20px; padding-right:15px;}
.newsletter-input input { height:39px; color:#404040; font-weight:bold;}
.btn-send-black { background:#2c2e30; color:#fff; font-family: 'Vollkorn', serif; border-radius:0px; font-size:17px; }
.foot-heading { font-size:18px; border-bottom:1px solid #eaeaea; padding-bottom:10px; margin-bottom:20px; text-transform:uppercase;}
.foot-content li a { font-size:14px;  padding-bottom:10px; color:#404040; text-decoration:none; outline:none; padding-left:5px; }
.foot-content li { padding-bottom:7px; font-weight:600; }

.btn-social-cicle { background:#505050; color:#fff; height:40px; width:40px; border-radius:50%; font-size:17px;}
.btn-social-cicle:hover, .btn-social-cicle:focus { color:#fff; opacity:0.9;}
.social-icons li { padding-left:3px;}
.social-icons li img:hover { opacity:0.9;}
.feature-wrapper{ background:#f4f4f4; padding:5px 5px 15px 5px ; margin:10px 0px; }
.feature-wrapper .feature-wrap-title  { font-size:14px; text-align:center; font-weight:600; color:#404040;}
.feature-wrapper .feature-wrap-price { font-size:16px; text-align:center; font-weight:600; color:#404040; }
.btn-featured-green { background:#008751; color:#fff; padding:5px 15px; font-weight:600; border-radius:0px;}
.btn-featured-green:hover, .btn-featured-green:focus { opacity:0.9; color:#fff;}
.p-tittle {font-family: 'Vollkorn', serif; font-size:22px; color:#404040; font-weight:400; font-style:italic; padding-top:20px; }
.payment-icons { text-align:right;}
.add-banner { background:#f4f4f4; padding:0px 0px 40px 0px; margin-top:50px; }
.add-banner .twobanner { margin-top:23px;}

@media (min-width:1200px) {
.container {
	width: 1220px
}
}


@media (min-width:1200px) and (max-width:1600px) {
	
	.banner .carousel-caption  { bottom:30px;}
.banner .carousel-caption h3 { font-size:52px; color:#404040; text-align:center; text-transform:uppercase; font-weight:bold; padding-bottom:20px}
	
	}
	
		@media (min-width:992px) and (max-width:1199px) {
	
	.banner .carousel-caption  { bottom:0px;}
.banner .carousel-caption h3 { font-size:42px; color:#404040; text-align:center; text-transform:uppercase; font-weight:bold; padding-bottom:0px}
	
	}
	
	
	
	@media (min-width:768px) and (max-width:991px) {
	
	.banner .carousel-caption  { bottom:0px;}
.banner .carousel-caption h3 { font-size:42px; color:#404040; text-align:center; text-transform:uppercase; font-weight:bold; padding-bottom:0px}
	.add-banner .twobanner { margin-top:21px;}
	}
	
	
	@media (min-width:481px) and (max-width:767px) {
		
		.banner .carousel-caption  { bottom:0px;}
.banner .carousel-caption h3 { font-size:20px; color:#404040; text-align:center; text-transform:uppercase; font-weight:bold; padding-bottom:0px}
		
		.onebanner { margin-top:23px;}
		.add-banner .twobanner { margin-top:30px;}
		.threebanner { margin-top:23px;}
		.fourbanner { margin-top:23px;}
		
		
		}
	
	
	@media (min-width:320px) and (max-width:480px) {
		.for-hide { display:none;}
		.banner .carousel-caption  { bottom:0px;}
.banner .carousel-caption h3 { font-size:18px; color:#404040; text-align:center; text-transform:uppercase; font-weight:bold; padding-bottom:0px}
		.onebanner { margin-top:23px;}
		.add-banner .twobanner { margin-top:30px;}
		.threebanner { margin-top:23px;}
		.fourbanner { margin-top:23px;}
		}
	
