@charset "utf-8";
/* CSS Document */

.mt0 {margin-top:0px;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}

.mb0 { margin-bottom:0px}
.mb5 { margin-bottom:5px}
.mb10 { margin-bottom:10px}
.mb15 { margin-bottom:15px}
.mb20 { margin-bottom:20px}
.mb25 { margin-bottom:25px}

.font-16 {font-size:16px;}
.height34 { height:34px;}


a {
    color: #008751;
}



.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
.header-top-bar .header-top-text { text-align:right;}
.header-top-bar .header-top-text ul { margin-bottom:5px;}
.header-top-bar .header-top-text ul li { padding:0 12px;}
.header-top-bar .header-top-text ul li a { color:#008751; outline:none; text-decoration:none;}
.header-top-bar .header-top-text ul li .form-control.header-top-drop { height:28px; border-radius:0px; padding:4px }
.header-top-bar .header-top-text select  { margin-top:5px; font-weight:500; background:#f4f4f4;}
.header-mid-bar { background:#f4f4f4; min-height:103px; } 
.header-search-field { margin-top:30px;}
.header-mid-bar .logo { max-width:235px; text-align:center; margin:0px auto; margin-top:20px;}
.header-search-field  input { width:75%; float:left; background-color:transparent;  box-shadow:none; padding-top:10px; font-weight:600;  color:#929397; }
.header-search-field  input:focus { border-color: #008751; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0) inset, 0 0 8px rgba(102, 175, 233, 0.0); outline: 0 none;}
.noofitems { text-align:right; padding-top:10px; padding-right:10px; }
.btn-green-cicle { background:#008751; color:#fff; height:40px; width:40px; border-radius:50%; font-size:17px;}

.btn-green-cicle-notification { background:#008751; color:#fff;padding: 0px 3px;font-size: 9px;position: relative;top: -9px;}
.btn-green-cicle:hover, .btn-green-cicle:focus { color:#fff; opacity:0.9;}
.header-bottom-bar .navbar { margin-bottom:0px; background:#fff; min-height:40px; }
.banner .carousel-caption  { bottom:90px;}
.banner .carousel-caption h3 { font-size:72px; color:#404040; text-align:center; text-transform:uppercase; font-weight:bold; padding-bottom:40px}
.btn-explore { border:2px solid #008751; background:none; font-size:20px; color:#008751; padding:7px 40px; border-radius:0px;}
.btn-explore:hover, .btn-explore:focus { border:2px solid #008751; background:#008751; font-size:20px; color:#fff; padding:7px 40px; border-radius:0px;}
.download-app { padding:0px 0px 50px 0;}
.download-app h2 { font-family: 'Vollkorn', serif; text-align:center; padding:40px 0px 30px 0px;}

.shop-category  ul { padding-left:0px;}
.shop-category li { background:#f4f4f4; min-height:203px;  list-style:none; display:inline; float:left; margin:2px 9px;}
.shop-category li img { padding:5px;}
.shop-category li p { text-align:center; font-weight:bold;}
.btn-primary {
    background:#008751; 
    border-color:#008751; 
    color: #fff;
	border-radius:0px;
}

.wish-list-padding { padding:12px 5px;}

.color-green { color:#008751; }

.btn-primary:hover, .btn-primary:focus { background:#008751; 
    border-color:#008751;  opacity:0.9; color:#fff;}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #008751; 
    border-color: #008751; 
    color: #fff;
    z-index: 2;
}


a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #008751; 
}

#cart-total { float: right;
    margin-top: -15px;
    padding-right: 20px;}


.testimonialbg { background:url("/image/catalog/testimonial-bg.jpg") no-repeat; width:100%; height:auto; background-size:cover; padding:40px 0 10px 0; }
  
.quote {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.feature-wrapper img { margin:0px auto;}

.profile-circle > img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

#content .thumbnails { padding-left:0px; list-style:none;}
.breadcrumb {text-align:right; background:none; padding-top:20px;}
.breadcrumb li a {color:#777; outline:none; text-decoration:none;}
.breadcrumb li:last-child a  {color:#ccc; cursor:default; outline:none; text-decoration:none;}

.input-group input.form-control { height:34px;} 
 .form-control { height:44px; border-radius:0px;}
 .for-border { border:1px solid #008751; padding:30px 30px 70px 30px; margin-top:30px;}
 
 footer { margin-top:50px; }
 .foot-bordertop { border-top: 1px solid #ccc; margin:30px 0px 30px 0;}

.forgot-pass { float:right; padding-top:10px;}




/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 30px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 0px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #fff;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

.testimonialbg p { color:#fff; font-family: 'Vollkorn', serif;}


.newsletter-wrapper { background:#f4f4f4; min-height:75px; margin:40px 0;}
.newsletter-wrapper p { font-size:18px; color:#404040; font-family: 'Vollkorn', serif; padding-left:15px; padding-top:12px; }
.newsletter-input { padding-top:20px; padding-right:15px;}
.newsletter-input input { height:39px; color:#404040; font-weight:bold;}
.btn-send-black { background:#2c2e30; color:#fff; font-family: 'Vollkorn', serif; border-radius:0px; font-size:17px; }
.foot-heading { font-size:18px; border-bottom:1px solid #eaeaea; padding-bottom:10px; margin-bottom:20px; text-transform:uppercase;}
.foot-content li a { font-size:14px;  padding-bottom:10px; color:#404040; text-decoration:none; outline:none; padding-left:5px; }
.foot-content li { padding-bottom:7px; font-weight:600; }

.btn-social-cicle { background:#505050; color:#fff; height:40px; width:40px; border-radius:50%; font-size:17px;}
.btn-social-cicle:hover, .btn-social-cicle:focus { color:#fff; opacity:0.9;}
.social-icons li { padding-left:3px;}
.social-icons li img:hover { opacity:0.9;}
.feature-wrapper{ background:#f4f4f4; padding:5px 5px 15px 5px ; margin:10px 0px; }
.feature-wrapper .feature-wrap-title  { font-size:14px; text-align:center; font-weight:600; color:#404040;}
.feature-wrapper .feature-wrap-price { font-size:16px; text-align:center; font-weight:600; color:#404040; }
.btn-featured-green { background:#008751; color:#fff; padding:5px 15px; font-weight:600; border-radius:0px;}
.btn-featured-green:hover, .btn-featured-green:focus { opacity:0.9; color:#fff;}
.p-tittle {font-family: 'Vollkorn', serif; font-size:22px; color:#404040; font-weight:400; font-style:italic; padding-top:20px; }
.payment-icons { text-align:right;}
.add-banner { background:#f4f4f4; padding:0px 0px 40px 0px; margin-top:50px; }
.add-banner .twobanner { margin-top:23px;}

.panel-default > .panel-heading {
    background-color:transparent !important;
    border: 1px solid #008751 !important;
    color: #008751 !important;
}

.panel-default .panel-body {
	border: 1px solid #008751 !important;
	border-top: 0px solid #008751 !important;
	
	}
	
.wk-seller-thumb .wk-caption {
    background: #008751 !important;
    height: 100px;
    padding: 9px 5px 5px !important;
}	

.pdesc {height:60px;}
/*.btn-default {border: 1px solid #008751; color:#008751; }
.btn-default:hover, .btn-default:focus { border: 1px solid green; color:green; background:none; opacity:0.9; }*/

/*navigation dropdown starts*/

.nav > li > a:hover, .nav > li > a:focus { background-color:transparent;}

.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff !important; margin:10px 0px;
	outline:none; text-decoration:none; width:100%;
}
.nav {
    list-style: none;
     *zoom: 1;
     background:#fff;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}

.nav ul {
    list-style: none;
    width: 19.5em;
	margin-left:-40px;
}

.nav > li > a { margin-right:20px; padding:10px 15px 10px 0; font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif; font-weight:600;}


.nav a {
    padding: 10px 7px;
    color:#444349;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
   
}
.nav > li > .parent {
    background-image: url("http://webdesigntutsplus.s3.amazonaws.com/tuts/378_tessa/tessa-lt-dropdowns-21c7868/images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}



.nav li li a {
    display: block;
    background-color: #F0F0F0;
    position: relative;
    z-index:100;
	border-top:1px solid #ddd;

}






.nav li li li a {
   background-color: #F0F0F0;
    z-index:200;
    border-top:1px solid #ddd;
}





@media screen and (min-width: 1200px) {.list-inline.inner {float: left;  width: 500px; display:inline; margin:0px;}
.list-inline.inner > li { float: left; margin-left: -11px; width: 245px;} }


@media screen and (max-width: 1199px) {

.list-inline.inner {
    display: block;
    float: none;
    margin: 0;
    width: 100%;
}

.list-inline.inner > li {
    float: none;
    margin-left: 0;
    width: 100%;
}

.nav li li li a {
    background-color:transparent;
    border-top: 0px solid #ddd;
    padding-left: 15px;
    z-index: 200;
}
	
	
	.nav li li a {
    display: block;
    background-color:transparent;
    position: relative;
    z-index:100;
	border-top:0px solid #ddd;

}

	
    .active {
        display: block;
    }
   #content .tab-content {
    border: 1px solid #ddd;
    padding: 30px 10px 30px !important;
}


   
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("http://webdesigntutsplus.s3.amazonaws.com/tuts/378_tessa/tessa-lt-dropdowns-21c7868/images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }

}

/*navigation dropdown ends*/


.sitemap-ul ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sitemap-ul li {
  padding-left: 1em; 
  text-indent: -.7em;
}

.sitemap-ul li { padding-top:5px; }

.sitemap-ul li::before {
  content: "• ";
  color: #008751; /* or whatever color you prefer */
}

.sitemap-ul li a { color:#404040;}


footer .foot-heading { color:#008751;}

.ttl-green-brd { color:#008751; font-size:28px; margin-top:5px; margin-bottom:20px;}
.ttl-green-brd span { border-bottom:2px solid #008751; padding-bottom:5px; }

.v-align-top { vertical-align:top; color:#008751;}
.address-title { margin-top:0px; font-size:19px; line-height:30px;  border-bottom:1px solid #e5e5e5;}
.currency-button { padding:0px 12px; position:relative; top:5px; color:#008751;}
.currency-button:hover, .currency-button:focus {  color:#008751;}
.currency-select, .currency-select:hover, .currency-select:focus  {  color:#008751;}


.product-thumb .caption h4 a {color:#008751; text-decoration:none; outline:none; }
.product-thumb .caption h4 a:hover {color:#008751; text-decoration:none; outline:none; opacity:0.9; }
.btn-wishlist { background:none; color:red; border:1px solid #ccc; border-radius:0px;}
.btn-wishlist:hover, .btn-wishlist:focus { background:none; opacity:0.9; color:red; border:1px solid #ccc; border-radius:0px;}
.product-thumb .rating .fa-stack {color:#f8d35e !important; margin-bottom:10px;}
.rating .fa-stack {color:#f8d35e !important;}

#wk_seller_info_rating > .fa > .fa-stack-1x {
    color: #f8d35e;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color:#008751;
    border-color: #008751;
   
}

.pagination > li > a, .pagination > li > span {
    background-color: #fff;
    border: 1px solid #008751;
    color: #008751;
  
}


.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #eee;
    border-color: #008751;
   
}


#form-currency .dropdown-menu { left: -60px; }


.product-thumb .price { font-size:18px; font-weight:bold;}
#content .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { background:#008751; border:1px solid #008751;  color:#fff; padding-left:15px;}
#content .nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus { background:#eee; color:#404040; border:1px solid #ddd; padding-left:15px;}
#content .nav-tabs { border-bottom:0px;}
#content .tab-content {
    border: 1px solid #ddd;
    padding: 30px 30px 30px;
}

.tab-content .fa-stack {color:#f8d35e !important;}

a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
    background-color: #008751;
    color: #fff;
    text-decoration: none;
}

#content h2 { margin-top:0px; color:#008751;}
#content h1 { margin-top:0px; color:#008751;}

.product-height { min-height:85px;}
#content h2.cat-search-title { margin-top:50px; margin-bottom:30px;}

/* for truncate in category page starts*/ 



.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  /*max-height: 80px; */
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

/* for truncate in category page ends*/

/*Media query  starts*/


@media (min-width:1200px) {
.container {
	width: 1220px
}
}


@media (min-width:1200px) and (max-width:1600px) {
	
	.banner .carousel-caption  { bottom:30px;}
.banner .carousel-caption h3 { font-size:52px; color:#404040; text-align:center; text-transform:uppercase; font-weight:bold; padding-bottom:20px}
	
	}
	
		@media (min-width:992px) and (max-width:1199px) {
	
	.banner .carousel-caption  { bottom:0px;}
.banner .carousel-caption h3 { font-size:42px; color:#404040; text-align:center; text-transform:uppercase; font-weight:bold; padding-bottom:0px}

.product-height { min-height:130px;}
	
	}
	
	
	
	@media (min-width:768px) and (max-width:991px) {
	
	.banner .carousel-caption  { bottom:0px;}
.banner .carousel-caption h3 { font-size:42px; color:#404040; text-align:center; text-transform:uppercase; font-weight:bold; padding-bottom:0px}
	.add-banner .twobanner { margin-top:21px;}
	#form-currency .dropdown-menu { left: -120px; }
	
	.product-height { min-height:110px;}
	
	}
	
	
	@media (min-width:481px) and (max-width:767px) {
		
		.banner .carousel-caption  { bottom:0px;}
.banner .carousel-caption h3 { font-size:20px; color:#404040; text-align:center; text-transform:uppercase; font-weight:bold; padding-bottom:0px}
		
		.onebanner { margin-top:23px;}
		.add-banner .twobanner { margin-top:30px;}
		.threebanner { margin-top:23px;}
		.fourbanner { margin-top:23px;}
			#form-currency .dropdown-menu { left: -120px; }
			.header-bottom-bar .nav > li {
    float: none;
}
		#toggle {
    width: 50px;
    margin: 0;
    padding: 10px;
    background: #008751;
    display: inline-block;
}

#toggle div {
  width: 100%;
  height: 5px;
  background: white;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}

#toggle.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
  opacity: 0;
}

#toggle.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}

#menu {
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 3px;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  line-height: 100px;
  text-align: center;
  margin: auto;
  display: none;
}
#menu .nav > li {
    float: none;
}
.menutittle {
    background: #008751;
    padding: 15px;
    float: left;
    display: inline-block !important;
    color: #fff;
    width: 82.7%;
    height: 51px;
}
		}
	
	
	@media (min-width:320px) and (max-width:480px) {
		.for-hide { display:none;}
		.banner .carousel-caption  { bottom:0px;}
.banner .carousel-caption h3 { font-size:18px; color:#404040; text-align:center; text-transform:uppercase; font-weight:bold; padding-bottom:0px}
		.onebanner { margin-top:23px;}
		.add-banner .twobanner { margin-top:30px;}
		.threebanner { margin-top:23px;}
		.fourbanner { margin-top:23px;}
			#form-currency .dropdown-menu { left: -120px; }
			.header-bottom-bar .nav > li {
    float: none;
}#toggle {
    width: 50px;
    margin: 0;
    padding: 10px;
    background: #008751;
    display: inline-block;
}

#toggle div {
  width: 100%;
  height: 5px;
  background: white;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}

#toggle.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
  opacity: 0;
}

#toggle.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}

#menu {
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 3px;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  line-height: 100px;
  text-align: center;
  margin: auto;
  display: none;
}
#menu .nav > li {
    float: none;
}
.menutittle {
    background: #008751;
    padding: 15px;
    float: left;
    display: inline-block !important;
    color: #fff;
    width: 82.7%;
    height: 51px;
}
		}
	
/*:::::Sandeep css::::::::*/
#content .nav > li > a {
    margin-right: 2px;
    padding: 8px 10px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-weight: 600;
}
.menutittle  { display:none;}
 #menu .nav-tabs
  { display:block !important;
  }