.chatbox {
	position: fixed;
	position:expression("absolute");
	width: 225px;
	display:none;
	
}

.chatboxhead {
	   background-color: #008751;
    border-left: 1px solid #008751;
    border-right: 1px solid #008751;
    color: #FFFFFF;
    padding: 4px 5px 3px;

}

.chatboxblink {
	/*background-color: #176689;*/
	background-color: #008751;
	border-right:1px solid #176689;
	border-left:1px solid #176689;
}

.chatboxcontent {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:200px;
	width:100%;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	text-align:left;
border:1px solid #C99FCB;
border-bottom:1px solid #e0d5e0;
	line-height: 1.3em;
	background-color:#fff;
}

.chatboxinput {
	background-color: #FFFFFF;
    border-bottom: 1px solid #C99FCB;
    border-left: 1px solid #C99FCB;
    border-right: 1px solid #C99FCB;
    padding: 5px;
}

.chatboxtextarea {
	width: 206px;
	height:44px;
	padding:3px 0pt 3px 3px;
	border: 1px solid #eeeeee;
	margin: 1px;
	overflow:hidden;
	font-family: arial;
}

.chatboxtextareaselected {
	
border:1px solid #C99FCB;
	margin:0;
}

.chatboxmessage {
	margin-left:1em;
}

.chatboxinfo {
	margin-left:-1em;
	color:#666666;

}

.chatboxmessagefrom {
	margin-left:-1em;
	font-weight: bold;
}

.chatboxmessagecontent {
}

.chatboxoptions {
	float: right;
}

.chatboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.chatboxtitle {
	float: left;
	font-size:13px;
	font-weight:bold;
}

.chatboxhead {
		cursor:move !important;
}

.events-input-bg input, .chatbox textarea{

background-color: #F1E5F1 !important;

}
.chatboxoptions a{

    font-size: 14px !important;

}
