{% extends 'dashboard_layout.html.twig' %}
{% block content %}
<link href="{{ asset('theme/vendors/fileUploader/jquery.fileuploader.css') }}" rel="stylesheet">
<link href="{{ asset('theme/vendors/fileUploader/jquery.fileuploader-theme-dragdrop.css') }}" rel="stylesheet">
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Accounts</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Add Accounts <small>New Accounts Information</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form id="addAccount" enctype="multipart/form-data" class="form-horizontal form-label-left">
             {% if userData['userRoleSlug'] == 'super' %}
             <div class="form-group">
              <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-4">
                <select class="form-control" name="distributor">
                  <option value="">Select Distributor</option>
                  {% for key,value in data %}
                  <option value="{{value['id']}}">{{value['username']}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            {% endif %}
            <label class="right col-md-12 col-sm-12 col-xs-12" for="last-name">Basic Information </label>
              <div class="clearfix"></div> 
              <div class="ln_solid"></div>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" id="first-name" name="firstname" placeholder="First Name"  required="required">
                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control" id="last-name" name="lastname" placeholder="Last Name">
                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" id="email" name="email" placeholder="Email">
                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
              </div>            
              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="date-picker form-control" id="birthday" name="birthday" placeholder="Date Of Birth" autocomplete="off" readonly>
                <span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback"> 
                  <label class="col-md-6 col-sm-6 col-xs-12" for="last-name">Upload Profile Picture </label>              
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <input type="file" name="files" required="required">
                  </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <div class="remember">
                 <label>GENDER : </label>
                 <input type="radio" class="flat" name="gender" id="genderM" value="M" required="required" />
                 <label for="genderM" class="tax_num">Male</label>
                 <input type="radio" class="flat" name="gender" id="genderF" value="F" />
                 <label for="genderF" class="tax_num">Female</label>
               </div>
             </div>
             <div class="clearfix"></div>
             <label class="right col-md-12 col-sm-12 col-xs-12" for="last-name">Login Information </label>
             <div class="clearfix"></div> 
             <div class="ln_solid"></div>
             <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="username" name="username" placeholder="User Name">
              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" checked="checked">
              <span class="fa fa-key form-control-feedback right" aria-hidden="true"></span>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="password" class="form-control has-feedback-left" id="confirmpassword" name="confirmpassword" placeholder="Confirm Passwrod">
              <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="clearfix"></div>                      
            <label class="right col-md-12 col-sm-12 col-xs-12" for="last-name">Address Information </label>
            <div class="clearfix"></div> 
            <div class="ln_solid"></div>
            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="address" name="address" autocomplete="off" placeholder="Address"  required="required">
              <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="locality" name="city" placeholder="City">
              <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control" id="administrative_area_level_1" name="state" placeholder="State">
              <span class="fa fa-map-marker form-control-feedback right" aria-hidden="true"></span>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control  has-feedback-left" id="country" name="country" placeholder="Country">
              <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control" id="postal_code" name ="zipcode" placeholder="Postal/Zip Code">
              <span class="fa fa-area-chart form-control-feedback right" aria-hidden="true"></span>
            </div> 
            <div class="clearfix"></div>                
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>	
  <script type="text/javascript"> 
   var placeSearch, autocomplete;
   var componentForm = {
    locality: 'long_name',
    administrative_area_level_1: 'long_name',
    country: 'long_name',
    postal_code: 'short_name'
  };
  initAutocomplete();
  function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete((document.getElementById('address')),{types: ['geocode']});
    autocomplete.addListener('place_changed', fillInAddress);
  }
  function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }
    </script>
    <!-- jQuery -->
    <script src="{{ asset('theme/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{{ asset('theme/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/validation/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/validation/additional-methods.min.js') }}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('theme/vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('theme/vendors/fileUploader/jquery.fileuploader.min.js') }}"></script>
    <script>
      $(document).ready(function() {
    // enable fileuploader plugin
    $('input[name="files"]').fileuploader({
      theme: 'onebutton' 
    });
  });

      $("#genderM").prop("checked", true);
    </script> 

    {% endblock %}