{% extends 'dashboard_layout.html.twig' %}
{% block content %}
<link href="{{ asset('theme/vendors/fileUploader/jquery.fileuploader.css') }}" rel="stylesheet">
<link href="{{ asset('theme/vendors/fileUploader/jquery.fileuploader-theme-dragdrop.css') }}" rel="stylesheet">
<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Customers <small>Customers are end users</small></h3>
              </div>              
            </div>
            <div class="clearfix"></div>

            <div class="row">
						  <div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
							 <div class="x_content">
								<br />
								<form id="addCustomerForm" class="form-horizontal form-label-left input_mask" enctype="multipart/form-data">
                                  {% if employees is not empty %}
								  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<select name="employee" class="form-control currencySelect">
											<option value="">Choose Employee</option>
											{% for key, employee in employees%}
											<option value="{{employee.id}}">{{employee.firstName}} {{employee.lastName}}</option>
											{% endfor %}
										  </select>
										  <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
								  </div>
								  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback"></div>
								  <div class="clearfix"></div>
								  {% endif %}
                                  
								  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control has-feedback-left" id="fname" name="fname" placeholder="First Name">
									<span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
								  </div>

								  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name">
									<span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
								  </div>
                      <div class="clearfix"></div>
								  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control has-feedback-left" id="email" name="email" placeholder="Email">
									<span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
								  </div>

								  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
									<span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
								  </div>   
								  <div class="clearfix"></div>
								   <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
										  <select name="currency" class="form-control currencySelect">
											<option>Choose Currency</option>
											{% for key, currency in currencies%}
											<option value="{{currency.code}}" {% if currency.code == 'USD' %} selected = "selected"{% endif %}>{{currency.symbol}}({{currency.code}}) - {{currency.currency}}</option>
											{% endfor %}
										  </select>
										  <span class="fa fa-money form-control-feedback left" aria-hidden="true"></span>
								  </div>
                                  <div class="clearfix"></div>
								 <div class="divider-dashed"></div>
								 <div class="col-md-12 col-sm-12 col-xs-12">
								  <button id="addInfoForm" type="button" class="btn btn-round btn-info">Add Additional Information</button>
								  </div>
								  <div class="clearfix"></div>
                                  <div id="additionalCustmInfo" style="display:none;">
								  
								  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control has-feedback-left" id="fax" name="fax" placeholder="Fax">
									<span class="fa fa-fax form-control-feedback left" aria-hidden="true"></span>
								  </div>
                                 
								  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile">
									<span class="fa fa-mobile-phone form-control-feedback right" aria-hidden="true"></span>
								  </div>
                                  <div class="clearfix"></div> 
								  <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control has-feedback-left" name="address" id="address" placeholder="Address">
									<span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
								  </div>
								  <div class="clearfix"></div>

								  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control has-feedback-left" id="locality" name ="city" placeholder="City">
									<span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
								  </div>
									<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control" id="administrative_area_level_1" name="state" placeholder="State">
									<span class="fa fa-map-marker form-control-feedback right" aria-hidden="true"></span>
								  </div>
								  <div class="clearfix"></div>
								 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control  has-feedback-left" id="country" name="country" placeholder="Country">
									<span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
								  </div>
								 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control" id="postal_code" name="zipcode" placeholder="Postal/Zip Code">
									<span class="fa fa-area-chart form-control-feedback right" aria-hidden="true"></span>
								  </div>			  

                                  <div class="clearfix"></div>	
                                   <div class="divider-dashed"></div>
                                 <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
									  <div class="form-group">										
										<div class="col-md-12 col-sm-12 col-xs-12">
										<input id="shippngBtn" name="shipaddr" type="checkbox" class="js-switch" /> <strong>Shipping Address </strong>
										</div>
									  </div>
								</div>
                                <div class="shippingInfo" style="display:none;">								
                               	 <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control has-feedback-left" id="sAddress" name="sAddress" placeholder="Address">
									<span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
								  </div>
								  <div class="clearfix"></div>

								  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control has-feedback-left" id="localityS" name="sCity" placeholder="City">
									<span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
								  </div>
								  
									<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control" id="administrative_area_level_1S" name="sState" placeholder="State">
									<span class="fa fa-map-marker form-control-feedback right" aria-hidden="true"></span>
								  </div>
								  <div class="clearfix"></div>
								 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control  has-feedback-left" id="countryS" name="sCountry" placeholder="Country">
									<span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
								  </div>
								 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control" id="postal_codeS" name ="sZipcode" placeholder="Postal/Zip Code">
									<span class="fa fa-area-chart form-control-feedback right" aria-hidden="true"></span>
								  </div>
                                  </div>								  
                                  <div class="clearfix"></div>
                              <div class="divider-dashed"></div>
						    <div id="payInfo">
							<div class="col-md-12 col-sm-12 col-xs-12"><span><strong>Add Payment Information </strong>                      
                            <img class="img-responsive pull-right" src="{{ asset('theme/images/creditcard.png')}}"></span></div>
							      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control has-feedback-left" id="ccnumber" name="ccnumber" placeholder="Card Number">
									<span class="fa fa-credit-card form-control-feedback left" aria-hidden="true"></span>
								  </div>

								  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control" id="nameOnCard" name="nameOnCard" placeholder="Name On Card">
									<span class="fa fa-info form-control-feedback right" aria-hidden="true"></span>
								  </div>
								  <div class="clearfix"></div>
								 <div class="col-md-9 col-sm-9 col-xs-12 form-group">
									<label class="col-md-2 col-sm-2 col-xs-12">Expires on </label>
									<div class="col-md-5 col-sm-5 col-xs-12 form-group">
										  <select class="form-control currencySelect" name="expMon" id="expMon">
											<option value="">Choose Month</option>
											<option selected value='1'>Janaury</option>
											<option value='2'>February</option>
											<option value='3'>March</option>
											<option value='4'>April</option>
											<option value='5'>May</option>
											<option value='6'>June</option>
											<option value='7'>July</option>
											<option value='8'>August</option>
											<option value='9'>September</option>
											<option value='10'>October</option>
											<option value='11'>November</option>
											<option value='12'>December</option>
										  </select>
										  <span class="fa fa-calendar-check-o form-control-feedback left" aria-hidden="true"></span>
								  </div>
								  <div class="col-md-5 col-sm-5 col-xs-12 form-group">
										  <select class="form-control currencySelect" name="expYear" id="expYear">
											<option value="">Choose Year</option>
											{% for i in 0..10 %}
												<option value='{{ "now"|date("Y") + i }}'>{{ "now"|date("Y") + i }}</option>
											{% endfor %}
										  </select>
										  <span class="fa fa-calendar-check-o form-control-feedback left" aria-hidden="true"></span>
								  </div>
								  </div>
								 </div>
								<div class="clearfix"></div>  
						</div>
						     <div class="clearfix"></div>
								 <div class="divider-dashed"></div>
								<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">	
                                 <label class="right col-md-12 col-sm-12 col-xs-12" for="last-name">Upload ID Documents </label>							
									<div class="col-md-12 col-sm-12 col-xs-12">
									        <input type="file" name="files">
								    </div>
								</div>
								 <div class="clearfix"></div> 
								  <div class="ln_solid"></div>
								  <div class="form-group">
									<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
									  <button type="submit" class="btn btn-success">Add Customer</button>
									</div>
								  </div>

								</form>
							  </div>
							</div>
						  </div>
						</div>	
<style>
.pac-container{
    z-index: 99999!important;
	}
.currencySelect {
   text-align:center; 
   text-align-last:center;
}
</style>	


<script type="text/javascript"> 
	
       var placeSearch, autocomplete;
      var componentForm = {
			  sublocality: 'short_name',
			  street_number: 'short_name',
			  route: 'long_name',
			  locality: 'long_name',
			  administrative_area_level_1: 'short_name',
			  country: 'long_name',
			  postal_code: 'short_name',
			  latitude: 'long_name',
			  longitude: 'short_name'
			};
      function initAutocomplete() {
	  //address field
        autocomplete = new google.maps.places.Autocomplete((document.getElementById('address')),{types: ['geocode']});
        autocomplete.addListener('place_changed', function() {
				fillInAddress(autocomplete, "");
			  });
	  // shipping address field	
	  autocompleteS = new google.maps.places.Autocomplete((document.getElementById('sAddress')),{types: ['geocode']});
      autocompleteS.addListener('place_changed', function() {
				fillInAddress(autocompleteS, "S");
			  });
	   
      }
	 function fillInAddress(autocomplete, unique) {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  for (var component in componentForm) {
    if (!!document.getElementById(component + unique)) {
      document.getElementById(component + unique).value = '';
      document.getElementById(component + unique).disabled = false;
    }
  }

  // Get each component of the address from the place details
  // and fill the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressTypes = place.address_components[i].types;
    for (var j = 0; j < addressTypes.length; j++) {
      var addressType = addressTypes[j];
      if (componentForm[addressType] && document.getElementById(addressType + unique)) {
        var val = place.address_components[i][componentForm[addressType]];
        document.getElementById(addressType + unique).value = val;
      }
    }
  }
}
google.maps.event.addDomListener(window, "load", initAutocomplete);
    </script>			
<!-- jQuery -->
    <script src="{{ asset('theme/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{{ asset('theme/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/validation/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/validation/additional-methods.min.js') }}"></script>
	<!-- bootstrap-daterangepicker -->
    <script src="{{ asset('theme/vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
 	<!-- Datatables -->
    <script src="{{ asset('theme/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
	<script src="{{ asset('theme/vendors/switchery/dist/switchery.js') }}"></script>
	<script src="{{ asset('theme/vendors/fileUploader/jquery.fileuploader.min.js') }}"></script>
	<script>
	$(document).ready(function() {
		// enable fileuploader plugin
		$('input[name="files"]').fileuploader({
			addMore: true		
		});
	});
	</script>	
{% endblock %}