{% extends 'dashboard_layout.html.twig' %}
{% block content %}
<link href="{{ asset('theme/vendors/dropzone/dist/min/dropzone.min.css') }}" rel="stylesheet">
<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Customers <small>Customers are end users</small></h3>
              </div>              
            </div>

            <div class="clearfix"></div>

            <div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Customers Listing <small>Users</small></h2>
                      <!--<p class="nav navbar-right panel_toolbox">
					 <a href="{{path('add_customer')}}" class="btn btn-info btn-lg"><i class="fa fa-plus" aria-hidden="true"></i>Add a Customer </a></p>-->
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
						  <th>S.No.</th>
                          <th>Name</th>
						  <th>Organization</th>
						  <th>Employee</th>
						  <th>Email Address</th>
                          <th>Phone</th>
						  <th>Address</th>
                          <th>Shipping Address</th>
                         <!-- <th>Documents</th>-->
                        </tr>
                      </thead>


                      <tbody>
					  {% for key, customer in customers %}
                        <tr>
						  <td>{{key+1}}</td>
                          <td>{{customer.firstName}} {{customer.lastName}}</td>
						  <td>{{customer.orgFirstName}} {{customer.orgLastName}}</td>
						  <td>{{customer.a_firstName}} {{customer.a_lastName}}</td>
						  <td>{{customer.email }}</td>
                          <td>{{customer.phone }}</td>
                          <td>{{customer.address}}</td>
						  <td>{{customer.sAddress}}</td>
                         <!-- <td>
						  {% if customer.docFiles is not empty %}
						     {% set docx = customer.docFiles|split('|') %}
							 {% for key, doc in docx %}
							 {% set ext = doc|split('.')|last %}
							 {% if ext == 'png' or ext == 'jpg' or ext == 'jpeg' or ext == 'gif' %}
							      <img title="{{doc}}" src="/uploads/documents/doc_{{customer.id}}/{{doc}}" width="60px" height="60px" />
						     {% elseif ext == 'doc' or ext == "docx" %}
						          <img title="{{doc}}" src="/uploads/documents/docx.png" width="60px" height="60px" />
							 {% elseif ext == 'xlsx' or ext == "xlsm" or ext == 'xltx' or ext == 'xltm' %}
                                  <img title="{{doc}}" src="/uploads/documents/xlsx.jpg" width="60px" height="60px" />
                             {% elseif ext == 'pdf' %}								  
							      <img title="{{doc}}" src="/uploads/documents/pdf.png" width="60px" height="60px" />
							 {% else %}
							       <img title="{{doc}}" src="/uploads/documents/file.png" width="60px" height="60px" />
						     {% endif %}
							 
							 {% endfor %} 
						  {% endif %}
						  </td>-->
                        </tr>
						{% endfor %} 
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
			</div> 
	
<!-- jQuery -->
    <script src="{{ asset('theme/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{{ asset('theme/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/validation/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/validation/additional-methods.min.js') }}"></script>
	<!-- bootstrap-daterangepicker -->
    <script src="{{ asset('theme/vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
 	<!-- Datatables -->
    <script src="{{ asset('theme/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
	<script src="{{ asset('theme/vendors/switchery/dist/switchery.js') }}"></script>
	<script src="{{ asset('theme/vendors/dropzone/dist/min/dropzone.min.js') }}"></script>

{% endblock %}