{% extends 'dashboard_layout.html.twig' %}
{% block content %}
  <!-- Modal -->
<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Organizations <small>Organizations are responsible to manage Employees</small></h3>
              </div>              
            </div>

            <div class="clearfix"></div>

            <div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Organizations Listing <small>Users</small></h2>

                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
						  <th>S.No.</th>
                          <th>Name</th>
                          <th>DOB</th>
						  <th>Gender</th>
                          <th>City</th>
                          <th>Country</th>
                          <th>Zip</th>
						  <th>Action</th>
                        </tr>
                      </thead>


                      <tbody>
					  {% if organizations is not empty %}
					  {% for key, organization in organizations %}
                        <tr>
						  <td>{{key+1}}</td>
                          <td>{{organization.firstName}} {{organization.lastName}}</td>
                          <td> {{organization.dob.date   | date('Y, j F ') }}</td>
                          <td>{{organization.gender}}</td>
						  <td>{{organization.city}}</td>
                          <td>{{organization.country}}</td>
                          <td>{{organization.zipcode}}</td>
                          <td>
						  
                          {% if session.userInfo.currentSession is not defined %}
							<button id="viewDistribuotr{{organization.user['id']}}" name="view_distributor" type="button" class="viewDistribuotr btn btn-success" value="btn-warning">View Dashboard</button>
							{% endif %}
						  </td>
						{% endfor %}
						{% else %}
						  <tr>
						   <td colspan="8" style="text-align:center">No Record Found!</td>
						  </tr>
						 {% endif %}                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
			</div> 
<style>
.pac-container{
    z-index: 99999!important;
}
</style>			
  
    <script src="{{ asset('theme/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{{ asset('theme/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/validation/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/validation/additional-methods.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('theme/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('theme/vendors/nprogress/nprogress.js') }}"></script>
    <!-- Chart.js -->
    <script src="{{ asset('theme/vendors/Chart.js/dist/Chart.min.js') }}"></script>
    <!-- gauge.js -->
    <script src="{{ asset('theme/vendors/gauge.js/dist/gauge.min.js') }}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ asset('theme/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <!-- iCheck -->
    <script src="{{ asset('theme/vendors/iCheck/icheck.min.js') }}"></script>
    <!-- Skycons -->
    <script src="{{ asset('theme/vendors/skycons/skycons.js') }}"></script>

    <!-- DateJS -->
    <script src="{{ asset('theme/vendors/DateJS/build/date.js') }}"></script>
    <!-- JQVMap -->
    <script src="{{ asset('theme/vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
    <script src="{{ asset('theme/vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
    <script src="{{ asset('theme/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('theme/vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
	<!-- Datatables -->
    <script src="{{ asset('theme/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
   
	
{% endblock %}