{% extends 'dashboard_layout.html.twig' %}
{% block content %}
  <!-- Modal -->
            <div id="editpopup" class="modal fade " role="dialog">
              <div class="modal-dialog  modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Employee</h4>
                  </div>
                  <div class="modal-body">
						  <div class="row">
						  <div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
							  <div class="x_content">
								<br />
								<form id="editEmployee" enctype="multipart/form-data" class="form-horizontal form-label-left">
								<input type="hidden" name="employee" value="" id="employee" />																
								  <div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input name="firstname" type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
									</div>
								  </div>
								  <div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input type="text" id="last-name" name="lastname" required="required" class="form-control col-md-7 col-xs-12">
									</div>
								  </div>
								  <!--<div class="form-group">
									<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Email ID <span class="required">*</span></label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input id="email" class="form-control col-md-7 col-xs-12" type="email" name="editemail" required="required">
									</div>
								  </div>-->
								  <div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  Male: <input type="radio" class="flat" name="gender" id="genderM" value="M" checked="" required /> Female:
									<input type="radio" class="flat" name="gender" id="genderF" value="F" />
									</div>
								  </div>
								  <div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input id="birthday" name="birthday" class="editbirthday date-picker form-control col-md-7 col-xs-12" required="required" type="text" autocomplete="off" readonly>
									</div>
								  </div>
								  <div class="form-group">
									<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Address <span class="required">*</span></label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input id="address" class="form-control col-md-7 col-xs-12" type="text" name="address" autocomplete="off" required="required">
									</div>
								  </div>
								  <div class="form-group">
									<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">City</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input id="locality" class="form-control col-md-7 col-xs-12" type="text" name="city">
									</div>
								  </div>
								  <div class="form-group">
									<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">State</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input id="administrative_area_level_1" class="form-control col-md-7 col-xs-12" type="text" name="state">
									</div>
								  </div>
								  <div class="form-group">
									<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Country</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input id="country" class="form-control col-md-7 col-xs-12" type="text" name="country">
									</div>
								  </div>
								  <div class="form-group">
									<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Zip Code</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input id="postal_code" class="form-control col-md-7 col-xs-12" type="text" name="zipcode">
									</div>
								  </div>
								  <div class="ln_solid"></div>
								  <div class="form-group">
									<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
									  <button type="submit" class="btn btn-success">Submit</button>
									</div>
								  </div>
								</form>
							  </div>
							</div>
						  </div>
						</div>	
                  </div>

                </div>

              </div>
            </div>
			
<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Employees <small>Employees are responsible to manage end-Users</small></h3>
              </div>              
            </div>

            <div class="clearfix"></div>

            <div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Employees Listing <small>Users</small></h2>
                     {% if userData.userRoleSlug == 'account' or userData.userRoleSlug == 'organization' %}
                     <p class="nav navbar-right panel_toolbox">
					 {% if session.userInfo.is_navigate == 1 and session.userInfo.authorize == 0 %}
					   <a href="javascript:void(0)" class="navigatorLogin btn btn-info btn-lg"><i class="fa fa-plus" aria-hidden="true"></i>Add an Employee </a>
					 {% else %}
					    <a href="{{path('add_employee')}}" class="btn btn-info btn-lg"><i class="fa fa-plus" aria-hidden="true"></i>Add an Employee </a>
                     {% endif %}
					   
					 </p> 
					{% endif %}
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
						  <th>S.No.</th>
                          <th>Name</th>
                          <th>DOB</th>
						  <th>Gender</th>
                          <th>City</th>
                          <th>Country</th>
                          <th>Zip</th>
                          <th>Action</th>
                        </tr>
                      </thead>


                      <tbody>
					  {% for key, employee in employees %}
                        <tr>
						  <td>{{key+1}}</td>
                          <td>{{employee.firstName}} {{employee.lastName}}</td>
                          <td> {{employee.dob.date   | date('Y, j F ') }}</td>
                          <td>{{employee.gender}}</td>
						  <td>{{employee.city}}</td>
                          <td>{{employee.country}}</td>
                          <td>{{employee.zipcode}}</td>
                          <td>
						   <button {% if session.userInfo.is_navigate == 1 and session.userInfo.authorize == 0 %} class="btn btn-info navigatorLogin" {% else %} class="btn btn-info editEmployee" {% endif %} id="editEmployee{{employee.user['id']}}" name="edit_account" type="button" value="btn-warning">Edit</button>
						   <button {% if session.userInfo.is_navigate == 1 and session.userInfo.authorize == 0 %} class="btn btn-danger navigatorLogin" {% else %} class="btn btn-danger deleteEmployee" {% endif %} id="deleteEmployee{{employee.user['id']}}" name="delete_account" type="button">Delete</button>
						  {% if session.userInfo.currentSession is not defined %}
							<button id="viewDistribuotr{{employee.user['id']}}" name="view_distributor" type="button" class="viewDistribuotr btn btn-success" value="btn-warning">View Dashboard</button>
							{% endif %}
						  </td>
                        </tr>
						{% endfor %}  
                        						
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
			</div> 
<style>
.pac-container{
    z-index: 99999!important;
}
</style>			
    <script type="text/javascript"> 
       var placeSearch, autocomplete;
      var componentForm = {
        locality: 'long_name',
        administrative_area_level_1: 'long_name',
        country: 'long_name',
        postal_code: 'short_name'
      };
      initAutocomplete();
      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete((document.getElementById('address')),{types: ['geocode']});
        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
      }
      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

      /*  for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }*/

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }
    </script>			
<!-- jQuery -->
    <script src="{{ asset('theme/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{{ asset('theme/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/validation/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/validation/additional-methods.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('theme/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('theme/vendors/nprogress/nprogress.js') }}"></script>
    <!-- Chart.js -->
    <script src="{{ asset('theme/vendors/Chart.js/dist/Chart.min.js') }}"></script>
    <!-- gauge.js -->
    <script src="{{ asset('theme/vendors/gauge.js/dist/gauge.min.js') }}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ asset('theme/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <!-- iCheck -->
    <script src="{{ asset('theme/vendors/iCheck/icheck.min.js') }}"></script>
    <!-- Skycons -->
    <script src="{{ asset('theme/vendors/skycons/skycons.js') }}"></script>

    <!-- DateJS -->
    <script src="{{ asset('theme/vendors/DateJS/build/date.js') }}"></script>
    <!-- JQVMap -->
    <script src="{{ asset('theme/vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
    <script src="{{ asset('theme/vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
    <script src="{{ asset('theme/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('theme/vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
	<!-- Datatables -->
    <script src="{{ asset('theme/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ asset('theme/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
{% endblock %}